@using Ws.Components.Source.UI.Stepper

<Stepper @bind-CurrentIndex="CurrentStepIndex">
  <StepperItem Label="First" />
  <StepperItem Label="Second" />
  <StepperItem Label="Third" Disabled />
</Stepper>

@if (CurrentStepIndex == 1)
{
  <p>First step</p>
}

@if (CurrentStepIndex == 2)
{
  <p>Second step</p>
}

@if (CurrentStepIndex == 3)
{
  <p>Third step</p>
}

@code {
  private int CurrentStepIndex { get; set; } = 1;
}