@attribute [Route(RouteUtils.Home)]
@rendermode InteractiveServer

<div class="flex flex-col size-full items-center gap-2 justify-center">
  <div class="text-center font-light text-lg">
    <span>@Localizer["HomeMsgDescription"]</span>
  </div>
</div>