@using Blazor.Heroicons
<div class="size-12 rounded-lg border overflow-hidden flex items-center justify-center @CustomClass">
  @if (!string.IsNullOrEmpty(IconName))
  {
    <Heroicon Name="@IconName" Type="@IconType" class="size-8" />
  }
  else
  {
    @ChildContent
  }
</div>
