<div class="w-full flex flex-col px-6 py-3">
  <p class="text-2xl py-8 text-center">
    @Localizer["DialogCloseAppDescription"]
  </p>
  <div class="h-14 mt-4 w-full flex justify-between gap-6">
    <button
      type="button"
      class="bg-red-400 rounded-lg h-full w-full overflow-hidden transition-colors shadow-md shadow-red-300 hover:bg-red-500"
      @onclick="CloseDialog"
    >
      <p class="text-lg text-white">@Localizer["ButtonCancel"]</p>
    </button>
    <button
      type="button"
      class="bg-green-400 rounded-lg h-full w-full overflow-hidden transition-colors shadow-md shadow-green-300 hover:bg-green-500"
      @onclick="ExitApp"
    >
      <p class="text-lg text-white">@Localizer["ButtonExit"]</p>
    </button>
  </div>
</div>