<LabelDisplayItem Label="@WsDataLocalizer["ColTareWeight"]">
  <span class="font-medium truncate text-xl xl:text-3xl">
    @($"{GetTareWeight}{WsDataLocalizer["MeasureKg"]}")
  </span>
</LabelDisplayItem>