@inherits ComponentBase

<tr>
  <td><b>@IdentityName</b></td>
  <td>@IdentityNameId</td>
</tr>

@if (IsSqlItem1C)
{
    <td><b>@Locale.Uid1c</b></td>
    <td>@Guid1C</td>
}
else
{
  <td></td>
  <td></td>
}
