@inherits ComponentBase

@if (!SqlItem.IsNew)
{
  <tr>
    <td><b>@Locale.CreateDt.ToUpper()</b></td>
    <td>@string.Format(StrUtils.FormatDtLong, SqlItem.CreateDt)</td>

    <td><b>@Locale.ChangeDt.ToUpper()</b></td>
    <td>@string.Format(StrUtils.FormatDtLong, SqlItem.ChangeDt)</td>
  </tr>
}
