@using ScalesDesktop.Features.Pallet.Viewer
@attribute [Route(RouteUtils.Pallet)]

<div class="flex flex-col grow w-full h-full">
  <PageHeader />
  <div class="w-full h-full flex flex-col grow overflow-hidden items-center justify-center px-8 pt-2 pb-4 xl:p-10">
    @if (PalletContext.PalletMan.IsNew)
    {
      <PalletManForm />
    }
    else
    {
      <div class="w-full grid grid-rows-1 grid-cols-[24rem,2fr] h-full rounded-lg shadow-sm bg-white border divide-x max-w-screen-2xl overflow-hidden">
        <PalletSelect />
        <Workspace />
      </div>
    }
  </div>
</div>
