@using Blazor.Heroicons.Outline
@using Microsoft.FluentUI.AspNetCore.Components

<div class="h-14 shrink-0 w-full grid grid-cols-4 bg-background border-b px-4">
  <div class="flex h-full items-center">
    <Button
      Variant="ButtonVariant.Outline"
      OnClick="@CloseAsync"
      Disabled="@IsDisabled"
    >
      <ArrowLeftIcon class="size-4 mr-2"/>
      @Localizer["BtnBack"]
    </Button>
  </div>
  <div class="h-full flex items-center justify-center w-full col-span-2 grow overflow-hidden">
    @ChildContent
  </div>
</div>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;

  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter] public bool IsDisabled { get; set; } = false;
  [CascadingParameter] public FluentDialog Dialog { get; set; } = default!;

  private async Task CloseAsync() => await Dialog.CloseAsync();
}