<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/" />
  <link rel="icon" href="favicon.svg" />
  <link rel="stylesheet" href="app.min.css" />
  <link rel="stylesheet" href="DeviceControl2.styles.css" />
  <script>
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage)
    && window.matchMedia('(prefers-color-scheme: dark)').matches))
      document.documentElement.classList.add('dark')
    else
      document.documentElement.classList.remove('dark')
  </script>
  <HeadOutlet />
</head>
<body class="min-h-screen bg-background overflow-x-hidden antialiased">
  <Routes />
  <script src="_framework/blazor.web.js"></script>
  </body>
</html>
