@inherits LayoutComponentBase
@using DeviceControl2.Source.Widgets.NavMenu

<div class="flex w-full relative h-screen overflow-x-hidden">
  <div class="grid w-full min-h-full h-fit grid-cols-[17rem,1fr] grid-rows-1 grow">
    <NavMenu User="User"/>
    <main class="flex flex-col size-full grow bg-secondary/[.3] dark:bg-inherit">
      @Body
    </main>
  </div>
</div>


<FluentDialogProvider @rendermode="InteractiveServer" />
<FluentToastProvider @rendermode="InteractiveServer" />
