@using Blazor.Heroicons.Outline

<div class="flex h-12 items-center shrink-0 w-full px-2 border-b">
  <a href="@Routes.Home">
    <Button Variant="ButtonVariantType.Ghost">
      <ArrowLeftIcon class="size-4 mr-3" />
      <span>@Title</span>
    </Button>
  </a>

</div>

@code {
  [Parameter] public string Title { get; set; } = string.Empty;
}
