.index-msg {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &-container {
    font-size: 1rem;
    text-align: center;
  }
}
