@inherits ComponentBase
@page "/"

<div class="index-msg-wrapper">
  <div class="index-msg-container">
    <p>@LocaleCore.DeviceControl.Index</p>
    <p>@LocaleCore.DeviceControl.IndexContinue</p>
  </div>
</div>
