@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<RadzenDialog />
<RadzenContextMenu />
<RadzenNotification />

<div class="main_block">
    <div style="@TmpStyle">
        <NavMenu />
    </div>
    <div style="flex-grow: 1;">
        <div>
            <RadzenMenu class="top_menu">
                <RadzenMenuItem Icon="people" Text="@User?.Identity?.Name" Path=@($"{WsRouteUtils.Profile}") />
                <AuthorizeView Roles="@WsUserAccessStr.Admin">
                    <RadzenMenuItem Text="@VerBlazor" Path=@($"{WsRouteUtils.SystemAppInfo}") />
                </AuthorizeView>
            </RadzenMenu>
        </div>
        <div style="padding: 10px">
            @Body
        </div>
    </div>
</div>
