@inherits LayoutComponentBase

<RadzenDialog />
<RadzenContextMenu />
<RadzenNotification />

<div class="main-wrapper">
  <div class="main-container">
    <NavMenu/>
    <div class="viewer">
      <div class="viewer-header">
        <a href="@WsRouteUtils.Profile">
          <div class="viewer-header__item">
            <RadzenIcon Icon="people"/>
            <p>@User?.Identity?.Name</p>
          </div>
        </a>
        <AuthorizeView Roles="@WsUserAccessStr.Admin">
          <a href="@WsRouteUtils.SystemAppInfo">
            <div class="viewer-header__item">
              <RadzenIcon Icon="history"/>
              <p>@VerBlazor</p>
            </div>
          </a>
        </AuthorizeView>
      </div>
      <div class="viewer-content">
        @Body
      </div>
    </div>
  </div>
</div>
