@using Microsoft.Extensions.Localization
<div class="px-3 truncate shrink-0 h-9 items-center border flex gap-2 rounded-md overflow-hidden transition-colors">
  @if (IsLoading)
  {
    <Spinner Class="inline size-3.5 text-muted animate-spin fill-primary" />
  }
  else
  {
    <span class="text-sm">
      @ItemsCount
    </span>
  }
  <span class="text-sm">
    @Localizer["DataGridTotalItems"]
  </span>
</div>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Parameter] public bool IsLoading { get; set; }
  [Parameter] public int ItemsCount { get; set; }
}