@using DeviceControl.Source.Shared.Api

<div class="flex items-center min-h-72 w-full p-10 justify-center bg-secondary/[.3] dark:bg-inherit">
  <UseEndpoint Endpoint="@ZplApi.ZplEndpoint" Arg="@(new ZplEndpointArgs(ZplCode, 60, 150, 90))" Context="zplQuery">
    @if (zplQuery.IsLoading)
    {
      <Spinner Class="size-14 text-muted animate-spin fill-blue-600"/>
    }
    else
    {
      @if (zplQuery.HasData)
      {
        <div class="rounded-md bg-background border w-full border-black/[.2] overflow-hidden p-2">
          <img
            src="@($"data:image/png;base64,{zplQuery.Data}")"
            class="size-full"
            alt=""/>
        </div>
      }
      else
      {
        <p>@Localizer["LabelsPreviewErrorMsg"]</p>
      }
    }
  </UseEndpoint>
</div>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private ILabelaryApi LabelaryApi { get; set; } = default!;
  [Inject] private ZplApi ZplApi { get; set; } = default!;

  [Parameter, EditorRequired] public string ZplCode { set; get; } = string.Empty;
}