@page "/versioncontrol"
@using ResourcesVS.Utils

<h2>
    <RadzenLabel Text="@LocalizationStrings.VersionControlTitle" />
</h2>

<body>
    <RadzenLink Path="@LocalizationStrings.VersionControlSvnVisualStudioPath" Text="@LocalizationStrings.VersionControlSvnVisualStudioText" />
    <br />
</body>

@code {
}
