@typeparam TItem
@inherits RazorComponentItemBase<TItem>
@page "/item/reload"
@using BlazorCore.Razors
@using MudBlazor
@using Radzen
@using Radzen.Blazor
@using BlazorDeviceControl.Razors.SystemComponents

<SystemIdentity ParentRazor=@(this) />

<MudSimpleTable Style="margin-top: -10px;" Dense=true Bordered=false FixedHeader=false >
	<thead>
	<tr>
		<th style="color: blue; font-weight: normal; width: 5%;"></th>
		<th style="color: blue; font-weight: normal; width: 5%;"></th>
		<th style="color: blue; font-weight: normal; width: 90%;"></th>
	</tr>
	</thead>
	<tbody>
	<tr>
		@if (SqlItem is not null)
		{
			<td>
				<RadzenButton
					Icon="refresh" ButtonStyle=@ButtonStyle.Primary
					Style="margin-left: 1%; margin-right: 1%; width: 60px; " Size=@ButtonSize.Small 
					Disabled=@(!BlazorAppSettings.DataAccess.IsConnected()) Click=@(_ => OnChange())/>
			</td>
			<td>
				<RadzenIcon 
					Style="margin-left: 1%; margin-left: 1%; height: 100%; " 
					Icon="delete" IconStyle=@IconStyle.Primary Visible=@(SqlItem.IsMarked)/>
			</td>
			<td>
				<RadzenText
					Text=@Title
					TextStyle=@TextStyle.Subtitle1 TextAlign=@TextAlign.Left/>
			</td>
		}
	</tr>
	</tbody>
</MudSimpleTable>
