@typeparam TItem
@inherits RazorComponentItemBase<TItem>
@page "/item/table_body"
@using BlazorCore.Razors
@using DataCore.Localizations
@using MudBlazor
@using Radzen
@using Radzen.Blazor
@using BlazorDeviceControl.Razors.SystemComponents

<SystemIdentity ParentRazor=@(this) />

@if (SqlItem is not null)
{
	<tr>
		<td>
			@switch (SqlItem.Identity.Name)
			{
				case SqlFieldIdentityEnum.Id:
					@LocaleCore.Table.Id;
					break;
				case SqlFieldIdentityEnum.Uid:
					@LocaleCore.Table.Uid;
					break;
			}
		</td>
		<td>
			@switch (SqlItem.Identity.Name)
			{
				case SqlFieldIdentityEnum.Id:
					<RadzenTextBox 
						Style="width: 100%; text-align: center; background-color: lightgray;"
					   ReadOnly=true Value=@SqlItem.IdentityValueId.ToString() />
					break;
				case SqlFieldIdentityEnum.Uid:
					<RadzenTextBox 
						Style="width: 100%; text-align: center; background-color: lightgray;"
						ReadOnly=true Value=@SqlItem.IdentityValueUid.ToString() />
					break;
			}
		</td>
		<td>
			@LocaleCore.Table.IsMarked
		</td>
		<td>
			<RadzenCheckBox TValue="bool" @bind-Value=@SqlItem.IsMarked/>
		</td>
	</tr>
}
