<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WeightCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup><userSettings>
    <WeightCore.Properties.Settings>
      <setting name="AppNameWeightCore" serializeAs="String">
        <value>WeightCore</value>
      </setting>
      <setting name="RegVladimirStandardCorp" serializeAs="String">
        <value>Software\VladimirStandardCorp</value>
      </setting>
      <setting name="RegScalesUI" serializeAs="String">
        <value>Software\VladimirStandardCorp\ScalesUI</value>
      </setting>
      <setting name="RegScalesUISql" serializeAs="String">
        <value>Software\VladimirStandardCorp\ScalesUI\SQL</value>
      </setting>
      <setting name="DirOut" serializeAs="String">
        <value>%ProgramFiles%\VladimirStandardCorp\ScalesUI\</value>
      </setting>
      <setting name="Guid" serializeAs="String">
        <value>7B832E43-BAA4-11EA-BC3C-AC1F6B02AD52</value>
      </setting>
    </WeightCore.Properties.Settings>
  </userSettings>
</configuration>
