@page "/section/devices"
@using BlazorCore.DAL.DataModels
@using BlazorCore.Utils
@using Microsoft.VisualBasic.CompilerServices
@inherits BlazorCore.Models.BaseRazorIdEntity

@if (AppSettings.IdentityItem.AccessLevel is true or false)
{
    <h2>
        @LocalizationStrings.DeviceControl.DevicesTitle
            <RadzenButton Click=@(args => SetParametersAsync(new ParameterView()))
                          ButtonStyle="ButtonStyle.Primary" Style="margin-top: 10px; width: 80px; margin-left: 25px"
                          class="oi oi-reload" Disabled=@AppSettings.DataAccess.IsDisabled 
                          MouseEnter="@(args => Tooltip.Open(args, LocalizationStrings.DeviceControl.TableReadData))" />
    </h2>

    <br style="margin-top: 50px" />
    <p>
        <RadzenGrid Data=@Items TItem="DeviceEntity" Value=@Entity
                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced"
                    AllowPaging="true" PageSize="25" AllowSorting="true" ColumnWidth="200px">
            <Columns>
                <RadzenGridColumn TItem="DeviceEntity" Property="Scales.Description" Title=@LocalizationStrings.DeviceControl.TableFieldName
                                  Type="string" Width="20%" />
                <RadzenGridColumn TItem="DeviceEntity" Property="Scales.Id" Title=@LocalizationStrings.DeviceControl.TableFieldId
                                  Type="System.Guid" Width="10%" />
                <RadzenGridColumn TItem="DeviceEntity" Property="Scales.Storage" Title=@LocalizationStrings.DeviceControl.TableFieldStorage
                                  Type="string" Width="35%" />
                <RadzenGridColumn TItem="DeviceEntity" Property="Scales.State" Title=@LocalizationStrings.DeviceControl.TableFieldState
                                  Type="bool" Width="35%" />
            </Columns>
        </RadzenGrid>
    </p>
}
else
{
    <RadzenLabel Text=@LocalizationStrings.Share.MenuAccessDeny></RadzenLabel>
}
