@page "/devices"
@using BlazorCore.DAL.DataModels
@using BlazorCore.Utils
@using Microsoft.VisualBasic.CompilerServices
@inherits BlazorDeviceControl.Data.BaseRazorEntity

@if (AppSettings.IdentityAccessLevel is true or false)
{
    <h2>
        @LocalizationStrings.DeviceControl.DevicesTitle
        <RadzenButton Click=@(args => GetDataAsync()) ButtonStyle="ButtonStyle.Primary" Style="margin-top: 10px; width: 100px; margin-left: 0px"
                      class="oi oi-reload" Disabled=@AppSettings.DataAccess.IsDisabled MouseEnter="@(args => ShowTooltipGetData(args))" />
    </h2>

    <br style="margin-top: 50px" />
    <p>
        <RadzenGrid Data=@Entities TItem="DeviceEntity" Value=@Entity
                    RowSelect=@(RowSelectAsync) RowDoubleClick=@(RowDoubleClickAsync)
                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced"
                    AllowPaging="true" PageSize="25" AllowSorting="true" ColumnWidth="200px">
            <Columns>
                <RadzenGridColumn TItem="DeviceEntity" Property="Scales.Description" Title=@LocalizationStrings.DeviceControl.TableFieldName
                                  Type="string" Width="20%" />
                <RadzenGridColumn TItem="DeviceEntity" Property="Scales.Id" Title=@LocalizationStrings.DeviceControl.TableFieldId
                                  Type="System.Guid" Width="10%" />
                <RadzenGridColumn TItem="DeviceEntity" Property="Scales.Storage" Title=@LocalizationStrings.DeviceControl.TableFieldStorage
                                  Type="string" Width="35%" />
                <RadzenGridColumn TItem="DeviceEntity" Property="Scales.State" Title=@LocalizationStrings.DeviceControl.TableFieldState
                                  Type="bool" Width="35%" />
            </Columns>
        </RadzenGrid>
    </p>

    <br style="margin-top: 50px" />
    <p>
        @* Actions *@
        <div class="row col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px; height: 50px;">
            @if (AppSettings.IdentityAccessLevel == true)
            {
                <span>@LocalizationStrings.DeviceControl.TableActions</span>
                <br style="margin-top: 50px" />
                <RadzenButton Click="ActionAddAsync" ButtonStyle="ButtonStyle.Secondary" Style="margin-top: 20px; width: 200px; margin-left: 30px"
                              Text=@LocalizationStrings.DeviceControl.TableActionAdd
                              Disabled=@AppSettings.DataAccess.IsDisabled />
                <RadzenButton Click="ActionCopyAsync" ButtonStyle="ButtonStyle.Secondary" Style="margin-top: 20px; width: 200px; margin-left: 30px"
                              Text=@LocalizationStrings.DeviceControl.TableActionCopy
                              Disabled=@AppSettings.DataAccess.IsDisabled />
                <RadzenButton Click="ActionDeleteAsync" ButtonStyle="ButtonStyle.Secondary" Style="margin-top: 20px; width: 200px; margin-left: 30px"
                              Text=@LocalizationStrings.DeviceControl.TableActionDelete
                              Disabled=@AppSettings.DataAccess.IsDisabled />
            }
            else
            {
                <span>@LocalizationStrings.DeviceControl.TableActionsIsDeny</span>
            }
        </div>
    </p>
}
else
{
    <RadzenLabel Text=@LocalizationStrings.Share.MenuAccessDeny></RadzenLabel>
}
