@page "/scales"
@using BlazorCore
@using BlazorCore.DAL
@using BlazorCore.DAL.TableModels
@using BlazorCore.Utils
@inherits BlazorDeviceControl.Data.BaseRazorEntity

@if (AppSettings.IdentityAccessLevel is true or false)
{
    @* Header *@
    <h2 style="font-size: @AppSettings.FontSizeHeader;">
        @LocalizationStrings.DeviceControl.TableTitleScalesShort
        <RadzenButton Click=@(args => GetDataAsync())
                      ButtonStyle="ButtonStyle.Primary" Style="margin-top: 10px; width: 80px; margin-left: 25px"
                      class="oi oi-reload" Disabled=@AppSettings.DataAccess.IsDisabled MouseEnter="@(args => ShowTooltipGetData(args))" />
    </h2>

    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text=@LocalizationStrings.DeviceControl.Table>
                @* RadzenGrid *@
                <div class="row col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px;">
                    @if (Items == null)
                    {
                        <RadzenLabel Text=@LocalizationStrings.Share.DataLoading Style="width: 20%" />
                        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
                    }
                    else
                    {
                        List<ScalesEntity> scalesEntities = new List<ScalesEntity>();
                        foreach (BaseIdEntity entity in Items)
                        {
                            scalesEntities.Add((ScalesEntity)entity);
                        }
                        // Sorting by [Description].
                        scalesEntities = scalesEntities.OrderBy(x => x.Description).ToList();
                        <RadzenGrid Data=@scalesEntities TItem="ScalesEntity"
                                    RowSelect=@(args => ItemSelectAsync(args)) RowDoubleClick=@(args => ItemEditAsync())
                                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced"
                                    AllowPaging="true" PageSize="25" AllowSorting="true" ColumnWidth="200px">
                            <Columns>
                                <RadzenGridColumn TItem="ScalesEntity" Property="Id" TextAlign="TextAlign.Center"
                                                  Title=@LocalizationStrings.DeviceControl.TableFieldId Width="7.5%" />
                                <RadzenGridColumn TItem="ScalesEntity" Property="Description" TextAlign="TextAlign.Left"
                                                  Title=@LocalizationStrings.DeviceControl.TableFieldDescription Width="12%" />
                                <RadzenGridColumn TItem="ScalesEntity" Property="Host.Name" TextAlign="TextAlign.Left"
                                                  Title=@LocalizationStrings.DeviceControl.TableFieldHost Width="12%" />
                                <RadzenGridColumn TItem="ScalesEntity" Property="Host.Ip" TextAlign="TextAlign.Center"
                                                  Title=@LocalizationStrings.DeviceControl.TableFieldDeviceIp Width="8%" />
                                <RadzenGridColumn TItem="ScalesEntity" TextAlign="TextAlign.Left"
                                                  Title=@LocalizationStrings.DeviceControl.TableFieldIdRref Width="20%">
                                    <Template Context="item">
                                        <RadzenLabel Text=@item.Host?.IdRRef.ToString() Disabled="true" Style="white-space: pre-wrap;" />
                                    </Template>
                                </RadzenGridColumn>
                                <RadzenGridColumn TItem="ScalesEntity" Property="Printer.Name" TextAlign="TextAlign.Left"
                                                  Title=@LocalizationStrings.DeviceControl.TableFieldZebraPrinter Width="13%" />
                                <RadzenGridColumn TItem="ScalesEntity" Property="WorkShop.Name" TextAlign="TextAlign.Center"
                                                  Title=@LocalizationStrings.DeviceControl.TableFieldWorkShopName Width="7.5%" />
                                <RadzenGridColumn TItem="ScalesEntity" Property="TemplateDefault.Title" TextAlign="TextAlign.Left"
                                                  Title=@LocalizationStrings.DeviceControl.TableFieldTemplateDefault Width="20%">
                                    <Template Context="item">
                                        <RadzenLabel Text=@item.TemplateDefault.Title Disabled="true" Style="white-space: pre-wrap;" />
                                    </Template>
                                </RadzenGridColumn>
                            </Columns>
                        </RadzenGrid>
                    }
                </div>
                @* Actions *@
                <div class="row col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px; height: 50px;">
                    @if (AppSettings.IdentityAccessLevel == true)
                    {
                        <RadzenButton Click=@(args => ItemAddAsync(EnumTable.Scales, Item, null))
                                      ButtonStyle="ButtonStyle.Secondary"
                                      Style="margin-left: 30px; width: 200px; height: 30px; font-size: 12px;"
                                      Text=@LocalizationStrings.DeviceControl.TableActionAdd Disabled=@AppSettings.DataAccess.IsDisabled />
                        <RadzenButton Click=@(args => ItemEditAsync())
                                      ButtonStyle="ButtonStyle.Secondary"
                                      Style="margin-left: 30px; width: 200px; height: 30px; font-size: 12px; "
                                      Text=@LocalizationStrings.DeviceControl.TableActionEdit Disabled=@AppSettings.DataAccess.IsDisabled />
                        <RadzenButton Click=@(args => ItemMarkedAsync(EnumTable.Scales, Item, null))
                                      ButtonStyle="ButtonStyle.Secondary"
                                      Style="margin-left: 30px; width: 200px; height: 30px; font-size: 12px; "
                                      Text=@LocalizationStrings.DeviceControl.TableActionDelete Disabled=@AppSettings.DataAccess.IsDisabled />
                        @if (AppSettings.IsDebug)
                        {
                            <RadzenButton Click=@(args => ItemCopyAsync(EnumTable.Scales, Item, null))
                                          ButtonStyle="ButtonStyle.Secondary"
                                          Style="margin-left: 30px; width: 200px; height: 30px; font-size: 12px; "
                                          Text=@LocalizationStrings.DeviceControl.TableActionCopy Disabled=@AppSettings.DataAccess.IsDisabled />
                            <RadzenButton Click=@(args => ItemDeleteAsync(EnumTable.Scales, Item, null))
                                          ButtonStyle="ButtonStyle.Secondary"
                                          Style="margin-left: 30px; width: 200px; height: 30px; font-size: 12px; "
                                          Text=@LocalizationStrings.DeviceControl.TableActionDeleteForever Disabled=@AppSettings.DataAccess.IsDisabled />
                        }
                    }
                    else
                    {
                        <span>@LocalizationStrings.DeviceControl.TableActionsIsDeny</span>
                    }
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text=@LocalizationStrings.Share.Chart>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
}
else
{
    <RadzenLabel Text=@LocalizationStrings.Share.MenuAccessDeny></RadzenLabel>
}
