.blazorise-tabs > div:first-child {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.b-table-fixed-header > .b-table {
  border-collapse: collapse !important;
}

.select-dropdown ul {
  height: fit-content;
  max-height: 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.select-button span {
  width: 100%;
  text-align: left;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 1280px) {
  .xl\:text-3xl {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
  }

  .xl\:text-2xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }

  .xl\:text-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }

  .xl\:text-lg {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
  }
}