<nav class="@Css.Class("w-fit max-w-full mx-auto", Class)">
  <ul class="flex items-center justify-between pb-4">
    @if (ChildContent != null)
    {
      <CascadingValue Value="this">
        @ChildContent
      </CascadingValue>
    }
  </ul>
</nav>


@code {
  [Parameter] public int CurrentIndex { get; set; } = 1;
  [Parameter] public EventCallback<int> CurrentIndexChanged { get; set; }
  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter] public string Class { get; set; } = string.Empty;

  public event Action? OnIndexChanged;
  public int ItemsCount { get; private set; }

  public int GetItemIndex()
  {
    ItemsCount++;
    return ItemsCount;
  }

  public async Task SetCurrentIndex(int index)
  {
    CurrentIndex = index;
    await CurrentIndexChanged.InvokeAsync(index);
    OnIndexChanged?.Invoke();
  }
}