@using Blazor.Heroicons.Outline
<div class="bg-white w-full h-16 shrink-0 border-b border-b-black/[.1]">
  <div class="w-full h-full max-w-screen-2xl mx-auto px-8 flex items-center justify-between">
    <p class="text-2xl font-bold">@GetAppTitle()</p>
      <div class="h-full items-center justify-between flex gap-12">
        <ul class="flex justify-between items-center gap-4">
          <li>
            <StatusPrinter/>
          </li>
          <li>
            <StatusScales/>
          </li>
        </ul>
        <button
          type="button"
          @onclick="ShowExitDialog"
          class="h-12 w-12 rounded-md border border-black/[.1] overflow-hidden flex items-center justify-center
                  bg-gray-100 transition-colors hover:bg-sky-200"
        >
          <PowerIcon class="h-8 w-8"/>
        </button>
      </div>
  </div>
</div>