@inherits ComponentBase

<div class="main-header">
  <p class="main-header__title">@Title</p>
  <div class="main-header__btn-exit">
    <button type="button" @onclick="ExitApp">
      @Localizer["ButtonExit"]
    </button>
  </div>
</div>