@attribute [Route(RouteUtils.Labels)]
@using ScalesDesktop.Source.Features.DeviceStatusIcons
@using ScalesDesktop.Source.Shared.Services.Devices
@using ScalesDesktop.Source.Shared.Services.Stores
@using ScalesDesktop.Source.Widgets.LabelConfig
@using ScalesDesktop.Source.Widgets.LabelCreateForm
@using ScalesDesktop.Source.Widgets.MainHeader
@implements IDisposable

<div class="flex flex-col grow size-full">
  <MainHeader>
    <div class="size-full items-center justify-end flex pr-10">
      <ul class="flex justify-between items-center gap-3">
        <li><PrinterStatusIcon/></li>
        <li><ScaleStatusIcon/></li>
      </ul>
    </div>
  </MainHeader>
  <div class="size-full flex flex-col grow overflow-hidden items-center justify-center px-8 pt-2 pb-4">
    <div class="w-full grid grid-rows-1 gap-4 grid-cols-[1fr,1.5fr] h-[34rem] max-w-screen-2xl overflow-hidden">
      <LabelConfig />
      <LabelCreateForm />
    </div>
  </div>
</div>

@code {
  # region Injects

  [Inject] private IDispatcher Dispatcher { get; set; } = default!;
  [Inject] private IScalesService ScalesService { get; set; } = default!;
  [Inject] private IPrinterService PrinterService { get; set; } = default!;

  # endregion

  protected override async Task OnInitializedAsync()
  {
    Dispatcher.Dispatch(new ResetPluAction());
    ScalesService.Connect();
    await PrinterService.ConnectAsync();
  }

  public void Dispose()
  {
    PrinterService.Disconnect();
    ScalesService.Disconnect();
  }
}
