@attribute [Route($"{RouteUtils.SectionAnalytics}")]
@attribute [Authorize(Policy = PolicyEnum.Admin)]
@rendermode InteractiveServer

<PageHeader>
  <span>@Localizer["SectionAnalytics"]</span>
</PageHeader>

<div class="size-full p-6 grid gap-4 lg:grid-cols-2">
  <ArmDayPerfomance />
  <ArmsTop />
</div>


@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
}