<!DOCTYPE html>
<html lang="en">

<head>
  <title>DeviceControl</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <base href="/"/>
  <link rel="icon" href="favicon.svg"/>
  <link rel="stylesheet" href="inter.css" />
  <link rel="stylesheet" href="libs/fontawasome/css/all.min.css"/>
  <link rel="stylesheet" href="./_content/Ws.Components/app.min.css" />
  <link rel="stylesheet" href="DeviceControl.styles.css"/>
  <link rel="stylesheet" href="app.min.css"/>
  <script src="./_content/Ws.Components/index.js"></script>
  <script>initializeTheme()</script>
  <HeadOutlet @rendermode="InteractiveServer"/>
</head>
<body class="min-h-screen font-['Inter'] bg-background overflow-x-hidden antialiased">
  <Routes @rendermode="InteractiveServer" />
  <script src="_framework/blazor.web.js"></script>
</body>
</html>
