@using DeviceControl.Source.Widgets.NavMenu
@inherits LayoutComponentBase

<div class="@Css.Class("flex w-full relative h-screen bg-secondary overflow-x-hidden", IsProduction ? "bg-dot-black/[.25] dark:bg-dot-white/[.2] dark:bg-inherit" : "dark:bg-secondary/10")">
  <div class="grid w-full min-h-full h-fit grid-cols-[17rem,1fr] grid-rows-1 grow">
    <NavMenu />
    <main class="size-full">
      @Body
    </main>
  </div>
</div>

<FluentDialogProvider @rendermode="InteractiveServer" />
<FluentToastProvider @rendermode="InteractiveServer" />
<FluentTooltipProvider @rendermode="InteractiveServer" />

<Fluxor.Blazor.Web.StoreInitializer/>

@code {
  private bool IsProduction { get; set; }

  protected override void OnInitialized() => IsProduction = !ConfigurationUtils.IsDevelop;
}