<CascadingAuthenticationState>
  <Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
      <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
        <NotAuthorized>
          <div class="size-full flex items-center justify-center">
            <div class="text-center font-light text-lg">
              <h2>Недостаточно уровня прав для данной операции.</h2>
            </div>
          </div>
        </NotAuthorized>
      </AuthorizeRouteView>
      <FocusOnNavigate RouteData="routeData" Selector="h1"/>
    </Found>
    <NotFound>
      <LayoutView Layout="@typeof(MainLayout)">
        <div class="size-full flex items-center justify-center">
          <div class="text-center font-light text-lg">
            <h2>Страница не найдена</h2>
          </div>
        </div>
      </LayoutView>
    </NotFound>
  </Router>
</CascadingAuthenticationState>