@using Blazor.Heroicons

<div class="-mx-2 flex items-start space-x-4 rounded-md p-2 transition-colors hover:bg-neutral-100">
  <Heroicon Name="@IconName" Type="HeroiconType.Outline" class="mt-px h-5 w-5 shrink-0" />
  <div class="space-y-1">
    <h4 class="text-sm font-medium leading-none">
      @CardTitle
    </h4>
    <p class="text-sm text-neutral-500">
      @CardDescription
    </p>
  </div>
</div>