<Dialog Class="max-w-screen-lg !p-0">
  <Tabs ActiveTabId="@CurrentTabId" @ref="TabComponent">
    <DialogHeader>
      <ul class="flex gap-2">
        @foreach (Tab tab in TabComponent.TabsList)
        {
          <li>
            <Button
              Variant="@(CurrentTabId == tab.Id ? ButtonVariant.Secondary : ButtonVariant.Outline)"
              OnClick="@(() => CurrentTabId = tab.Id)">
              @tab.Title
            </Button>
          </li>
        }
      </ul>
    </DialogHeader>
    @ChildContent
  </Tabs>
</Dialog>

@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }

  private Tabs TabComponent { get; set; } = default!;
  private string CurrentTabId { get; set; } = string.Empty;

  protected override void OnAfterRender(bool firstRender)
  {
    if (!firstRender) return;
    if (TabComponent.TabsList.Count > 0)
      CurrentTabId = TabComponent.TabsList.FirstOrDefault()?.Id ?? string.Empty;
    StateHasChanged();
  }
}