@using Blazor.Heroicons.Outline
@using Microsoft.Extensions.Localization
@using ScalesDesktop.Source.Shared.Localization
<div class="w-full h-16 shrink-0">
  <div class="size-full max-w-screen-2xl mx-auto px-8 flex items-center justify-between">
    <HeaderAppName Class="shrink-0" />
    <div class="flex grow size-full">
      @ChildContent
    </div>
    <a href="@RouteUtils.Home">
      <Button Variant="ButtonVariant.Outline" Size="ButtonSize.Large" Class="!h-12">
        <Bars3Icon class="size-6 mr-2"/>
        <span class="text-lg">@Localizer["BtnMenu"]</span>
      </Button>
    </a>
  </div>
</div>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Parameter] public RenderFragment? ChildContent { get; set; }
}
