<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net472" />
  <package id="Azure.Core" version="1.25.0" targetFramework="net472" />
  <package id="Azure.Identity" version="1.6.1" targetFramework="net472" />
  <package id="Csv" version="2.0.87" targetFramework="net472" />
  <package id="FluentFTP" version="40.0.0" targetFramework="net472" />
  <package id="FluentNHibernate" version="3.1.0" targetFramework="net472" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net472" />
  <package id="Lextm.SharpSnmpLib" version="12.4.0" targetFramework="net472" />
  <package id="MDSoft.WinFormsUtils" version="0.1.111" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Authentication.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Authentication.Core" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Authorization" version="6.0.9" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Authorization.Policy" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http" version="2.2.2" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Features" version="5.0.17" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Metadata" version="6.0.9" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Mvc.Core" version="2.2.5" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.ResponseCaching.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Routing" version="2.2.2" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient.SNI" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="5.0.0-preview.5.20278.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.ObjectPool" version="6.0.9" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.46.2" targetFramework="net472" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="2.23.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.23.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.23.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.23.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.23.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.23.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.23.1" targetFramework="net472" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.8" targetFramework="net472" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NHibernate" version="5.3.13" targetFramework="net472" />
  <package id="Nito.AsyncEx" version="5.1.2" targetFramework="net472" />
  <package id="Nito.AsyncEx.Context" version="5.1.2" targetFramework="net472" />
  <package id="Nito.AsyncEx.Coordination" version="5.1.2" targetFramework="net472" />
  <package id="Nito.AsyncEx.Interop.WaitHandles" version="5.1.2" targetFramework="net472" />
  <package id="Nito.AsyncEx.Oop" version="5.1.2" targetFramework="net472" />
  <package id="Nito.AsyncEx.Tasks" version="5.1.2" targetFramework="net472" />
  <package id="Nito.Cancellation" version="1.1.2" targetFramework="net472" />
  <package id="Nito.Collections.Deque" version="1.1.1" targetFramework="net472" />
  <package id="Nito.Disposables" version="2.3.0" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="Quartz" version="3.4.0" targetFramework="net472" />
  <package id="Refractored.MvvmHelpers" version="1.6.2" targetFramework="net472" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net472" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net472" />
  <package id="RestSharp" version="108.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net472" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.23.1" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="6.0.3" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Memory.Data" version="6.0.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net472" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.ProtectedData" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="6.0.6" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
  <package id="Zebra.Printer.SDK" version="2.15.2634" targetFramework="net472" />
</packages>