@inherits BlazorCore.Models.RazorBase
@page "/mud"

<PageTitle>Mud</PageTitle>

<h1>Countries</h1>
<MudSelect @bind-Value=@Country Label="Countries" Variant=@Variant.Outlined >
    <MudSelectItem T=@string Value=@("Austria") />
    <MudSelectItem T=@string Value =@("Hungary") />
    <MudSelectItem T=@string Value =@("Sweden") />
</MudSelect>
<br />

<h1>COM ports from strings</h1>
<MudSelect @bind-Value=@ComPort Variant=@Variant.Filled >
    @foreach (string item in ListComPorts)
    {
        <MudSelectItem T=@string Value =@item></MudSelectItem>
    }
</MudSelect>
<br />

<h1>COM ports from type</h1>
<MudSelect @bind-Value=@ComPort Variant=@Variant.Text >
    @foreach (TypeModel<string> item in ComPorts)
    {
        <MudSelectItem T=@string Value =@item.Value>@item.Name</MudSelectItem>
    }
</MudSelect>
<br />
