<li>
  <ProductDisplayItem Label="@Localizer["ProductDisplayNestingCount"]">
    <p class="font-medium text-center line-clamp-2 text-3xl">
      @LineContext.PluNesting.BundleCount
    </p>
  </ProductDisplayItem>
</li>