<li>
  <ProductDisplayItem Label="@Localizer["ProductDisplayNestingCount"]">
    <p class="text-3xl font-medium text-center line-clamp-2">
      @LineContext.PluNesting.BundleCount
    </p>
  </ProductDisplayItem>
</li>