<div class="flex overflow-hidden w-full h-16">
  <label class="text-3xl flex items-center w-1/3 h-full line-clamp-2">
    @Label
  </label>
  <div class="flex overflow-hidden items-center justify-center w-2/3 h-full">
    @ChildContent
  </div>
</div>