@using Microsoft.Extensions.Localization
@using ScalesDesktop.Source.Features
@using Ws.Shared.Resources
<div class="size-full flex flex-col overflow-hidden">
  <PalletWorkspaceHeader
    TabsList="TabsButtonList"
    CurrentTabId="@CurrentTabId"
  />
  <div class="size-full flex flex-col grow overflow-hidden bg-secondary/[.3]">
    <Tabs ActiveTabId="@CurrentTabId">
      <Tab Id="@typeof(PalletOverview).ToString()">
        <PalletOverview />
      </Tab>
      <Tab Id="@typeof(LabelsGrid).ToString()">
        <LabelsGrid />
      </Tab>
    </Tabs>
  </div>
</div>

@code {
  [Inject] private IStringLocalizer<WsDataResources> WsDataLocalizer { get; set; } = default!;

  private List<KeyValuePair<string, string>> TabsButtonList { get; set; } = [];
  private string CurrentTabId { get; set; } = typeof(PalletOverview).ToString();

  protected override void OnInitialized() =>
    TabsButtonList = [
      new(typeof(PalletOverview).ToString(), WsDataLocalizer["ColData"]),
      new(typeof(LabelsGrid).ToString(), WsDataLocalizer["ColLabel"])
    ];
}