@using Ws.Desktop.Models.Features.Pallets.Output

<div class="size-full flex flex-col overflow-x-hidden overflow-y-auto pt-6 pb-8 px-6">
  <div class="w-full flex justify-between items-center">
    <PalletFormTitle />
    @if (!Pallet.IsShipped)
    {
      <DeletePalletButton />
    }
  </div>
  <PalletViewForm Pallet="Pallet" />
</div>

@code {
  [Parameter, EditorRequired] public PalletInfo Pallet { get; set; } = default!;
}