@inherits BlazorCore.Models.ItemRazorPageBase<BarCodeModel>
@page "/item/barcode"
@page "/item/barcode/{IdentityUidStr}"
@page "/item/barcode/{IdentityUidStr}/{TableAction}"
@using BlazorDeviceControl.Razors.Components
@using ActionsReloadItem = BlazorDeviceControl.Razors.Components.ActionsReloadItem
@using ActionsSave = BlazorDeviceControl.Razors.Components.ActionsSave
@using ItemDates = BlazorDeviceControl.Razors.Components.ItemDates
@using BlazorCore.Razors

@if (!IsActionsParametersSetFinished)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ActionLoadEnum.Loading IsShowProgress=true />
}
else
{
    <ActionsReloadItem ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemBarCodeType />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
	    <ItemTableHead ParentRazor=@(this) TableStyle=@ComponentsUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
        <tbody>
			<ItemTableBody ParentRazor=@(this) TableStyle=@ComponentsUtils.GetTableBodyStyle(SqlFieldIdentityEnum.Uid, true) />
            <tr>
                <td>@LocaleCore.Table.Value</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Value />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ActionsSave ParentRazor=@(this) ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@(this) />
}
