@inherits BlazorCore.Models.RazorPageItemBase<PrinterTypeModel>
@page "/item/printertype"
@page "/item/printertype/{IdentityId:long}"
@page "/item/printertype/{IdentityId:long}/{TableAction}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.Components
@using BlazorDeviceControl.Razors.Items.Components

@if (!IsActionsParametersSetFinished)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ActionLoadEnum.Loading IsShowProgress=true />
}
else
{
	<ItemReload TItem=PrinterTypeModel ParentRazor=@(this) Title=@LocaleCore.Print.Type />

	<MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true FixedHeader=false>
		<ItemTableHead TItem=PrinterTypeModel ParentRazor=@(this) CssTableStyleHead=@ComponentsUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 }) />
		<tbody>
			<ItemTableBody TItem=PrinterTypeModel ParentRazor=@(this) CssTableStyleBody=@ComponentsUtils.GetTableBodyStyle(SqlFieldIdentityEnum.Id, true) />
			<tr>
				<td>@LocaleCore.Table.Name</td>
				<td>
					<RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false
					               TValue="string" @bind-Value=@ItemCast.Name/>
				</td>
			</tr>
		</tbody>
	</MudSimpleTable>

	<ItemSave TItem=PrinterTypeModel ParentRazor=@(this) />
	<ItemDates TItem=PrinterTypeModel ParentRazor=@(this) />
}
