@inherits BlazorCore.Models.RazorBase
@page "/item/template"
@page "/item/template/{IdentityId:long}"
@page "/item/template/{IdentityId:long}/{TableAction}"
@using BlazorDeviceControl.Razors.Components
@using ActionsReloadItem = BlazorDeviceControl.Razors.Components.ActionsReloadItem
@using ActionsSave = BlazorDeviceControl.Razors.Components.ActionsSave
@using ItemDates = BlazorDeviceControl.Razors.Components.ItemDates
@using BlazorCore.Razors
@using DataCore.Sql.Tables

@if (!IsLoaded)
{
    <ActionsLoad ParentRazor=@this DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReloadItem ParentRazor=@this Title=@LocaleData.DeviceControl.Items.Template />

	<MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true FixedHeader=false>
		<ItemTableHead ParentRazor=@this TableStyle=@ComponentsUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 }) />
		<tbody>
			<ItemTableBody ParentRazor=@this TableStyle=@ComponentsUtils.GetTableBodyStyle(ColumnName.Id, true) />
			<tr>
				<td>@LocaleCore.Table.Title</td>
				<td>
					<RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false
					               TValue="string" @bind-Value=@ItemCast.Title/>
				</td>
				<td>
					<RadzenLabel Style="width: 100%; text-align: center;" Text=@LocaleCore.Table.CategoryName/>
				</td>
				<td>
					@if (TemplateCategories == null)
					{
						<RadzenTextBox Style="width: 100%;" Disabled=false ReadOnly=true TValue="string" Value=""/>
						<RadzenProgressBar Value=100 ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px"/>
					}
					else
					{
						<RadzenDropDown Style="width: 100%;" TValue="string" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
						                AllowFiltering=true AllowClear=true AllowFilteringByAllStringColumns=true
						                Data=@TemplateCategories PageSize=@AppSettings.DataAccess.JsonSettingsLocal.ItemRowsCount TextProperty="Name"
						                ValueProperty="Value" Value=@ItemCast.CategoryId
						                Change=@(args => OnItemValueChange(ItemCast, nameof(ItemCast.CategoryId), args))/>
					}
				</td>
			</tr>
			<tr>
				<td>@LocaleCore.Table.ImageData</td>
				<td colspan=3>
					<RadzenTextArea Style="width: 100%; text-align: left; font-size: 11px; line-height: 20px;"
					                Disabled=false ReadOnly=false @bind-Value=@ItemCast.ImageData.ValueUnicode Rows=22/>
				</td>
			</tr>
		</tbody>
	</MudSimpleTable>
    
    <ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@this />
}
