@inherits BlazorCore.Models.RazorPageBase
@page "/item/templateresource"
@page "/item/templateresource/{IdentityId:long}"
@page "/item/templateresource/{IdentityId:long}/{TableAction}"
@using BlazorDeviceControl.Razors.Components
@using ActionsReloadItem = BlazorDeviceControl.Razors.Components.ActionsReloadItem
@using ActionsSave = BlazorDeviceControl.Razors.Components.ActionsSave
@using ItemDates = BlazorDeviceControl.Razors.Components.ItemDates
@using BlazorCore.Razors

@if (!IsActionsParametersSetFinished)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ActionLoadEnum.Loading IsShowProgress=true />
}
else
{
    <ActionsReloadItem ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemTemplateResource />

	<MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true FixedHeader=false>
		<ItemTableHead ParentRazor=@(this) TableStyle=@ComponentsUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
		<tbody>
			<ItemTableBody ParentRazor=@(this) TableStyle=@ComponentsUtils.GetTableBodyStyle(SqlFieldIdentityEnum.Id, true) />
			<tr>
				<td>@LocaleCore.Table.Name</td>
				<td>
					<RadzenTextBox Style="width: 100%; text-align: center;"
					               Disabled=false ReadOnly=false @bind-Value=@ItemCast.Name/>
				</td>
				<td>@LocaleCore.Table.Description</td>
				<td>
					<RadzenTextBox Style="width: 100%; text-align: center;"
					               Disabled=false ReadOnly=false @bind-Value=@ItemCast.Description/>
				</td>
			</tr>
			<tr>
				<td>@LocaleCore.Table.Type</td>
				<td>
					<RadzenTextBox Style="width: 100%; text-align: center;"
					               Disabled=false ReadOnly=false @bind-Value=@ItemCast.Type/>
				</td>
			</tr>
			<tr>
				<td>@LocaleCore.Table.ImageData</td>
				<td colspan=3>
					<RadzenTextArea Style="width: 100%; text-align: left; font-size: 11px; line-height: 18px;"
					                Disabled=false ReadOnly=false @bind-Value=@ItemCast.ImageData.ValueUnicode Rows=25/>
				</td>
			</tr>
		</tbody>
	</MudSimpleTable>
    
    <ActionsSave ParentRazor=@(this) ButtonSettings=@ButtonSettings />
    <ItemDates ParentRazor=@(this) />
}
@*
<RadzenLabel Style="width: 97%;" Text=@FileInfo />
<RadzenLabel Style="width: 97%;" Text=@FileComplete />
<RadzenLabel Style="width: 27%; " Text=@LocaleCore.Strings.FileUpload />
<Microsoft.AspNetCore.Components.Forms.InputFile style="width: 50%; " OnChange=@OnFileUpload />
<RadzenLabel Style="width: 27%; " Text=@LocaleCore.Strings.FileDownload />
<RadzenButton Style="width: 50%; height: 30px; text-align: center; "
                Click=@OnFileDownload Text=@LocaleCore.Strings.FileDownload />
<RadzenLabel Style="width: 27%;" Text=@LocaleCore.TableField.Type />
@if (ResourceTypes is null)
{
    <RadzenTextBox Style="width: 70%;" Disabled=false ReadOnly=true TValue="string" Value="" />
    <RadzenProgressBar Value=@ProgressValue Unit=@FileInfo
                        ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
}
else
{
    <RadzenDropDown Style="width: 70%;" TValue="string" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                    AllowFiltering=true AllowClear=true AllowFilteringByAllStringColumns=true
                    Data=@ResourceTypes PageSize=@AppSettings.DataAccess.JsonSettings.ItemRowsCount TextProperty="Name" 
                    ValueProperty="Value"
                    Value=@TemplateResourcesItem.Type Change=@(args => OnItemValueChange(args, "ResourceTypes")) />
}
 *@