@inherits BlazorCore.Models.RazorPageItemBase<WorkShopModel>
@page "/item/workshop"
@page "/item/workshop/{IdentityId:long}"
@page "/item/workshop/{IdentityId:long}/{TableAction}"
@using static BlazorCore.Utils.BlazorCoreUtuls
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.Components
@using BlazorDeviceControl.Razors.Items.Components

@if (!IsActionsParametersSetFinished)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ActionLoadEnum.Loading IsShowProgress=true />
}
else
{
    <ItemReload T=WorkShopModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemWorkshop />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
	    <ItemTableHead T=WorkShopModel ParentRazor=@(this) CssTableStyleHead=@ComponentsUtils.GetTableHeadStyle(new() { 25, 25, 25, 25 }) />
        <tbody>
			<ItemTableBody T=WorkShopModel ParentRazor=@(this) CssTableStyleBody=@ComponentsUtils.GetTableBodyStyle(SqlFieldIdentityEnum.Id, true) />
            <tr>
                <td>@LocaleCore.Table.Name</td>
                <td colspan=3>
                    <RadzenTextBox Style="width: 100%; text-align: left;" 
                        Disabled=false ReadOnly=false
                        TValue="string" @bind-Value=@ItemCast.Name />
				</td>
            </tr>
            <tr>
                <td>
                    <RadzenLink Style="width: 100%; margin-left: 0; "
                        Path=@GetRoutePath(LocaleCore.DeviceControl.RouteItemProductionFacility, ItemCast.ProductionFacility, ItemCast.ProductionFacility.Identity.Id)
                        Text=@LocaleCore.Table.ProductionFacilityName />
                </td>
                <td colspan=3>
                    <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
						@bind-Value=@ItemCast.ProductionFacility>
                        @foreach (ProductionFacilityModel item in ProductionFacilities)
                        {
                            <MudSelectItem T=@ProductionFacilityModel Value=@item>@item.Name</MudSelectItem>
                        }
                    </MudSelect>
                </td>
            </tr>
        </tbody>
    </MudSimpleTable>
    
    <ItemSave T=WorkShopModel ParentRazor=@(this) />
    <ItemDates T=WorkShopModel ParentRazor=@(this) />
}
