@inherits BlazorCore.Models.RazorPageItemBase<TemplateModel>
@page "/item/template"
@page "/item/template/{IdentityId:long}"
@page "/item/template/{IdentityId:long}/{TableAction}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.Components
@using BlazorDeviceControl.Razors.Items.Components

@if (!IsActionsParametersSetFinished)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ActionLoadEnum.Loading IsShowProgress=true />
}
else
{
	<ItemReload TItem=TemplateModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemTemplate />

	<MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true FixedHeader=false>
		<ItemTableHead TItem=TemplateModel ParentRazor=@(this) CssTableStyleHead=@ComponentsUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 }) />
		<tbody>
			<ItemTableBody TItem=TemplateModel ParentRazor=@(this) CssTableStyleBody=@ComponentsUtils.GetTableBodyStyle(SqlFieldIdentityEnum.Id, true) />
			<tr>
				<td>@LocaleCore.Table.Title</td>
				<td>
					<RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false
					               TValue="string" @bind-Value=@ItemCast.Title/>
				</td>
				<td>
					<RadzenLabel Style="width: 100%; text-align: center;" Text=@LocaleCore.Table.CategoryName/>
				</td>
				<td>
					@if (TemplateCategories is null)
					{
						<RadzenTextBox Style="width: 100%;" Disabled=false ReadOnly=true TValue="string" Value=""/>
						<RadzenProgressBar Value=100 ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px"/>
					}
					else
					{
						<RadzenDropDown Style="width: 100%;" TValue="string" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
						                AllowFiltering=true AllowClear=true AllowFilteringByAllStringColumns=true
						                Data=@TemplateCategories PageSize=@AppSettings.DataAccess.JsonSettingsLocal.ItemRowsCount TextProperty="Name"
						                ValueProperty="Value" Value=@ItemCast.CategoryId
						                Change=@(args => OnChangeItem(ItemCast, nameof(ItemCast.CategoryId), args))/>
					}
				</td>
			</tr>
			<tr>
				<td>@LocaleCore.Table.ImageData</td>
				<td colspan=3>
					<RadzenTextArea Style="width: 100%; text-align: left; font-size: 11px; line-height: 20px;"
					                Disabled=false ReadOnly=false @bind-Value=@ItemCast.ImageData.ValueUnicode Rows=22/>
				</td>
			</tr>
		</tbody>
	</MudSimpleTable>

	<ItemSave TItem=TemplateModel ParentRazor=@(this) />
	<ItemDates TItem=TemplateModel ParentRazor=@(this) />
}
