@inherits BlazorCore.Models.RazorPageItemBase<BarCodeTypeModel>
@page "/item/barcodetype"
@page "/item/barcodetype/{IdentityUidStr}"
@page "/item/barcodetype/{IdentityUidStr}/{TableAction}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.Components
@using BlazorDeviceControl.Razors.Items.Components

@if (!IsActionsParametersSetFinished)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ActionLoadEnum.Loading IsShowProgress=true />
}
else
{
    <ItemReload T=BarCodeTypeModel ParentRazor=@(this) PageTitle=@LocaleCore.DeviceControl.ItemBarCodeType />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
        <ItemTableHead T=BarCodeTypeModel ParentRazor=@(this) CssTableStyleHead=@ComponentsUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
        <tbody>
			<ItemTableBody T=BarCodeTypeModel ParentRazor=@(this) CssTableStyleBody=@ComponentsUtils.GetTableBodyStyle(SqlFieldIdentityEnum.Uid, true) />
            <tr>
                <td>@LocaleCore.Table.Name</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Name />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>

    <ItemSave T=BarCodeTypeModel ParentRazor=@(this) />
    <ItemDates T=BarCodeTypeModel ParentRazor=@(this) />
}
