@inherits BlazorCore.Models.RazorBase
@page "/item/plu_scale"
@page "/item/plu_scale/{IdentityUidStr}"
@page "/item/plu_scale/{IdentityUidStr}/{TableAction}"
@using static BlazorCore.Utils.BlazorCoreUtuls
@using static DataCore.Localizations.LocaleData.DeviceControl
@using BlazorDeviceControl.Razors.Components
@using ActionsReloadItem = BlazorDeviceControl.Razors.Components.ActionsReloadItem
@using ActionsSave = BlazorDeviceControl.Razors.Components.ActionsSave
@using ItemDates = BlazorDeviceControl.Razors.Components.ItemDates
@using BlazorCore.Razors

@if (!IsLoaded)
{
    <ActionsLoad ParentRazor=@this DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReloadItem ParentRazor=@this Title=@LocaleData.DeviceControl.Items.PluScale />
	
	<MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true FixedHeader=false>
		<ItemTableHead ParentRazor=@this TableStyle=@ComponentsUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 }) />
		<tbody>
			<ItemTableBody ParentRazor=@this TableStyle=@ComponentsUtils.GetTableBodyStyle(ColumnName.Uid, true) />
			<tr>
				<td>@LocaleCore.Table.IsActive</td>
				<td>
					<RadzenCheckBox TValue="bool" @bind-Value=@ItemCast.IsActive/>
				</td>
			</tr>
			<tr>
				<td>
					<RadzenLink Style="width: 100%; margin-left: 0;"
					            Path=@GetPath(UriRouteItem.Scale, ItemCast.Scale, ItemCast.Scale.IdentityId)
					            Text=@LocaleCore.Table.Scale/>
				</td>
				<td>
					<MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
						ReadOnly=true Disabled=true
					    @bind-Value=@ItemCast.Scale>
						@foreach (ScaleEntity item in Scales)
						{
							<MudSelectItem Value=@item>@item.Description</MudSelectItem>
						}
					</MudSelect>
				</td>
				<td>
					<RadzenLink Style="width: 100%; margin-left: 0;"
					            Path=@GetPath(UriRouteItem.Plu, ItemCast.Plu, ItemCast.Plu.IdentityUid)
					            Text=@LocaleCore.Table.Plu/>
				</td>
				<td>
					<MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
						ReadOnly=true Disabled=true
						@bind-Value=@ItemCast.Plu>
						@foreach (PluEntity item in Plus)
						{
							<MudSelectItem Value=@item>@item.Name</MudSelectItem>
						}
					</MudSelect>
				</td>
			</tr>
		</tbody>
	</MudSimpleTable>
	
	<ActionsSave ParentRazor=@this ButtonSettings=@ButtonSettings />
	
	<ItemDates ParentRazor=@this />
}

<br style="margin-bottom: 5px; " />

<ItemPlu ParentRazor=@this IdentityUid=@ItemCast.Plu.IdentityUid />
