@inherits RazorPageItemBase<HostModel>
@page "/item/host"
@page "/item/host/{IdentityId:long}"
@page "/item/host/{IdentityId:long}/{TableAction}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.Components
@using BlazorDeviceControl.Razors.Items.Components

@if (!IsActionsParametersSetFinished)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ActionLoadEnum.Loading IsShowProgress=true />
}
else
{
    <ItemReload TItem=HostModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemHost />

	<MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true FixedHeader=false>
		<ItemTableHead TItem=HostModel ParentRazor=@(this) CssTableStyleHead=@ComponentsUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 }) />
		<tbody>
			<ItemTableBody TItem=HostModel ParentRazor=@(this) CssTableStyleBody=@ComponentsUtils.GetTableBodyStyle(SqlFieldIdentityEnum.Id, true) />
			<tr>
				<td>@LocaleCore.Table.NamePretty</td>
				<td>
					<RadzenTextBox Style="width: 100%; " @bind-Value=@ItemCast.Name/>
				</td>
				<td>@LocaleCore.Table.Host</td>
				<td>
					<RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false
					               TValue="string" @bind-Value=@ItemCast.HostName/>
				</td>
			</tr>
			<tr>
				<td>@LocaleCore.Table.DeviceIp</td>
				<td>
					<RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false
					               TValue="string" @bind-Value=@ItemCast.Ip/>
				</td>
				<td>@LocaleCore.Table.DeviceMac</td>
				<td>
					<RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false
					               TValue="string" @bind-Value=@ItemCast.MacAddress.Value/>
				</td>
			</tr>
		</tbody>
	</MudSimpleTable>
    
    <ItemSave TItem=HostModel ParentRazor=@(this) />
	<ItemDates TItem=HostModel ParentRazor=@(this) />
}
