@inherits RazorPageItemBase<ProductionFacilityModel>
@page "/item/production_facility"
@page "/item/production_facility/{IdentityId:long}"
@page "/item/production_facility/{IdentityId:long}/{TableAction}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.Components
@using BlazorDeviceControl.Razors.Items.Components

@if (!IsActionsParametersSetFinished)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ActionLoadEnum.Loading IsShowProgress=true />
}
else
{
	<ItemReload TItem=ProductionFacilityModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemProductionFacility />

	<MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true FixedHeader=false>
		<ItemTableHead TItem=ProductionFacilityModel ParentRazor=@(this) CssTableStyleHead=@ComponentsUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
		<tbody>
			<ItemTableBody TItem=ProductionFacilityModel ParentRazor=@(this) CssTableStyleBody=@ComponentsUtils.GetTableBodyStyle(SqlFieldIdentityEnum.Id, true) />
			<tr>
				<td>@LocaleCore.Table.Name</td>
				<td colspan=3>
					<RadzenTextBox Style="width: 100%; text-align: left;"
					               Disabled=false ReadOnly=false
					               TValue="string" @bind-Value=@ItemCast.Name/>
				</td>
			</tr>
			<tr>
				<td >@LocaleCore.Table.Address</td>
				<td colspan=3>
					<RadzenTextArea Style="width: 100%; text-align: left;"
					                Disabled=false ReadOnly=false Rows=3
					                TValue="string" @bind-Value=@ItemCast.Address/>
				</td>
			</tr>
		</tbody>
	</MudSimpleTable>

	<ItemSave TItem=ProductionFacilityModel ParentRazor=@(this) />
	<ItemDates TItem=ProductionFacilityModel ParentRazor=@(this) />
}
