@inherits BlazorCore.Models.RazorPageItemBase<BarCodeModel>
@page "/item/barcode"
@page "/item/barcode/{IdentityUidStr}"
@page "/item/barcode/{IdentityUidStr}/{TableAction}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.Components
@using BlazorDeviceControl.Razors.Items.Components

@if (!IsActionsParametersSetFinished)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ActionLoadEnum.Loading IsShowProgress=true />
}
else
{
    <ItemReload T=BarCodeModel ParentRazor=@(this) PageTitle=@LocaleCore.DeviceControl.ItemBarCodeType />

    <MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
	    <ItemTableHead T=BarCodeModel ParentRazor=@(this) CssTableStyleHead=@ComponentsUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
        <tbody>
            <ItemTableBody T=BarCodeModel ParentRazor=@(this) CssTableStyleBody=@ComponentsUtils.GetTableBodyStyle(SqlFieldIdentityEnum.Uid, true) />
            <tr>
                <td>@LocaleCore.Table.Value</td>
                <td>
                    <RadzenTextBox Style="width: 100%; text-align: center;" Disabled=false 
                        TValue="string" @bind-Value=@ItemCast.Value />
				</td>
            </tr>
        </tbody>
    </MudSimpleTable>

    <ItemSave T=BarCodeModel ParentRazor=@(this) />
    <ItemDates T=BarCodeModel ParentRazor=@(this) />
}
