@inherits RazorComponentItemBase<ProductionFacilityModel>
@page "/item/production_facility"
@page "/item/production_facility/new"
@page "/item/production_facility/{IdentityId:long}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SystemComponents

<SystemIdentity ParentRazor=@(this) />

<RazorItemReload TItem=@ProductionFacilityModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemProductionFacility />

<MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true FixedHeader=false>
	<RazorItemTableHead TItem=@ProductionFacilityModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
	<tbody>
		<RazorItemTableBody TItem=@ProductionFacilityModel ParentRazor=@(this) />
		<tr>
			<td>@LocaleCore.Table.Name</td>
			<td colspan=3>
				<RadzenTextBox Style="width: 100%; " @bind-Value=@SqlItemCast.Name/>
			</td>
		</tr>
		<tr>
			<td >@LocaleCore.Table.Address</td>
			<td colspan=3>
				<RadzenTextArea Style="width: 100%; " Rows=3 @bind-Value=@SqlItemCast.Address/>
			</td>
		</tr>
	</tbody>
</MudSimpleTable>

<RazorItemActions TItem=@ProductionFacilityModel ParentRazor=@(this) />
<RazorItemDates TItem=@ProductionFacilityModel ParentRazor=@(this) />
