@inherits RazorComponentItemBase<WorkShopModel>
@page "/item/workshop"
@page "/item/workshop/new"
@page "/item/workshop/{IdentityId:long}"
@using static BlazorCore.Utils.BlazorCoreUtuls
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SystemComponents

<SystemIdentity ParentRazor=@(this) />

<RazorItemReload TItem=@WorkShopModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemWorkshop />

<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <RazorItemTableHead TItem=@WorkShopModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 25, 25, 25, 25 }) />
    <tbody>
		<RazorItemTableBody TItem=@WorkShopModel ParentRazor=@(this) />
        <tr>
            <td>@LocaleCore.Table.Name</td>
            <td colspan=3>
                <RadzenTextBox Style="width: 100%; text-align: left;" 
                    Disabled=false ReadOnly=false
                    TValue="string" @bind-Value=@SqlItemCast.Name />
			</td>
        </tr>
        <tr>
            <td>
                <RadzenLink Style="width: 100%; margin-left: 0; "
                    Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemProductionFacility, SqlItemCast.ProductionFacility, SqlItemCast.ProductionFacility.Identity.Id)
                    Text=@LocaleCore.Table.ProductionFacility />
            </td>
            <td colspan=3>
                <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
					@bind-Value=@SqlItemCast.ProductionFacility>
                    @foreach (ProductionFacilityModel item in ProductionFacilities)
                    {
                        <MudSelectItem Value=@item>@item.Name</MudSelectItem>
                    }
                </MudSelect>
            </td>
        </tr>
    </tbody>
</MudSimpleTable>

<RazorItemActions TItem=@WorkShopModel ParentRazor=@(this) />
<RazorItemDates TItem=@WorkShopModel ParentRazor=@(this) />
