@page "/"

<div class="main-page__container">
  <div class="main-page__content">
    <div class="main-page__content-grid">
      <PluConfigDisplay />
      <KneadingDisplayWeight KneadingModel="KneadingModel"/>
    </div>
  </div>
  <div class="main-page__control-bar">
    <IndexControlBar />
  </div>
</div>