@page "/"

<div class="main-page__container">
  <div class="main-page__content">
    <KneadingDisplayWeight KneadingModel="KneadingModel" />
  </div>
  <div class="main-page__control-bar">
    <IndexControlBar />
  </div>
</div>