@page "/"

<div class="flex flex-col grow w-full h-full">
  <div class="flex overflow-hidden items-center flex-col grow justify-center w-full h-full">
    <div class="grid overflow-hidden w-full h-full px-2 max-w-screen-2xl grid-rows-1 grid-cols-[1fr,1.5fr]">
      <PluConfigDisplay />
      <KneadingDisplayWeight />
    </div>
  </div>
  <div class="flex shrink-0 w-full h-1/5 p-4 gap-4 border-t border-t-black/[.1] bg-white">
    <IndexControlBar />
  </div>
</div>