.main-page__container {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.main-page__content {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-page__control-bar {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 30%;
  gap: 1rem;
  padding: 1rem;
}