<h3 class="flex py-2 font-semibold items-center w-full lg:col-span-2 before:mr-2 before:content-[''] before:grow before:h-px before:bg-muted after:ml-2 after:content-[''] after:grow after:h-[1px] after:bg-muted">
  @ChildContent
</h3>

@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }
}