@using vNext.BlazorComponents.FluentValidation

<EditForm Model="@FormModel" OnValidSubmit="@OnSubmitAction" class="w-full flex flex-col overflow-y-auto overflow-x-hidden bg-secondary/[.3] dark:bg-inherit">
  <FluentValidationValidator Validator="Validator" />
  <div class="w-full flex bg-secondary/[.3] dark:bg-inherit">
    <div class="w-full grid-cols-1 place-items-baseline grid gap-4 pt-6 pb-8 px-5 lg:grid-cols-2">
      @FieldsContent
    </div>
    @if (ActionsContent != null)
    {
      <div class="w-1/4 shrink-0 border-l px-3 py-2 flex flex-col gap-2">
        <h3 class="font-light">@Localizer["FormActionsTitle"]</h3>
        <div class="flex flex-col gap-2 pt-1">
          @ActionsContent
        </div>
      </div>
    }
  </div>
  <SectionFormFooter
    ChangeDate="ChangeDate"
    CreateDate="CreateDate"
    OnCancelAction="OnCancelAction"
    OnSubmitAction="OnSubmitAction"
  />
</EditForm>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;

  [Parameter] public object FormModel { get; set; } = new();
  [Parameter] public RenderFragment? FieldsContent { get; set; }
  [Parameter] public RenderFragment? ActionsContent { get; set; }
  [Parameter] public DateTime? ChangeDate { get; set; }
  [Parameter] public DateTime? CreateDate { get; set; }
  [Parameter] public EventCallback OnCancelAction { get; set; }
  [Parameter] public EventCallback OnSubmitAction { get; set; }
  [Parameter] public IValidator? Validator { get; set; }
}
