@page "/printers"
@using BlazorCore
@using BlazorCore.DAL
@using BlazorCore.DAL.TableModels
@using BlazorCore.Utils
@inherits DeviceControlBlazor.Data.BaseRazorEntity

@if (AppSettings.IdentityAccessLevel is true or false)
{
    @* Header *@
    <h2 style="font-size: @AppSettings.FontSizeHeader;">
        @GetHeader()
        <RadzenButton Click=@(args => GetDataAsync())
                      ButtonStyle="ButtonStyle.Primary" Style="margin-top: 10px; width: 80px; margin-left: 25px"
                      class="oi oi-reload" Disabled=@AppSettings.DataAccess.IsDisabled MouseEnter="@(args => ShowTooltipGetData(args))" />
    </h2>

    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text=@LocalizationStrings.DeviceControl.Table>
                @* RadzenGrid *@
                <div class="row col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px;">
                    @if (Entities == null)
                    {
                        <RadzenLabel Text=@LocalizationStrings.Share.DataLoading Style="width: 20%" />
                        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
                    }
                    else
                    {
                        List<ZebraPrinterEntity> zebraPrinterEntities = new List<ZebraPrinterEntity>();
                        foreach (BaseIdEntity entity in Entities)
                        {
                            zebraPrinterEntities.Add((ZebraPrinterEntity)entity);
                        }
                        // Sorting by [Name].
                        zebraPrinterEntities = zebraPrinterEntities.OrderBy(x => x.Name).ToList();
                        <RadzenGrid Data=@zebraPrinterEntities TItem="ZebraPrinterEntity"
                                    RowSelect=@(args => RowSelectAsync(args)) RowDoubleClick=@(args => RowDoubleClickAsync(args))
                                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced"
                                    AllowPaging="true" PageSize="25" AllowSorting="true" ColumnWidth="200px">
                            <Columns>
                                <RadzenGridColumn TItem="ZebraPrinterEntity" Property="Id" TextAlign="TextAlign.Center"
                                                  Title=@LocalizationStrings.DeviceControl.TableFieldId
                                                  Type="int" Width="7.5%" />
                                <RadzenGridColumn TItem="ZebraPrinterEntity" Property="Name" Title=@LocalizationStrings.DeviceControl.TableFieldZebraPrinter
                                                  Type="string" Width="17%" />
                                <RadzenGridColumn TItem="ZebraPrinterEntity" Property="PrinterType.Name"
                                                  Title=@LocalizationStrings.DeviceControl.TableFieldZebraPrinterType
                                                  Type="string" Width="16.5%" />
                                <RadzenGridColumn TItem="ZebraPrinterEntity" Property="Ip" Title=@LocalizationStrings.DeviceControl.TableFieldZebraPrinterIp
                                                  Type="string" Width="20%" />
                                <RadzenGridColumn TItem="ZebraPrinterEntity" Property="Port" Title=@LocalizationStrings.DeviceControl.TableFieldZebraPrinterPort
                                                  Type="string" Width="20%" />
                                <RadzenGridColumn TItem="ZebraPrinterEntity" Property="Mac" Title=@LocalizationStrings.DeviceControl.TableFieldZebraPrinterMac
                                                  Type="string" Width="20%" />
                            </Columns>
                        </RadzenGrid>
                    }
                </div>
                @* Actions *@
                <div class="row col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px; height: 50px;">
                    @if (AppSettings.IdentityAccessLevel == true)
                    {
                        <RadzenButton Click=@(args => ActionAddAsync(EnumTable.Printer, Entity, null))
                                      ButtonStyle="ButtonStyle.Secondary"
                                      Style="margin-left: 30px; width: 200px; height: 30px; font-size: 12px;"
                                      Text=@LocalizationStrings.DeviceControl.TableActionAdd Disabled=@AppSettings.DataAccess.IsDisabled />
                        <RadzenButton Click=@(args => ActionEditAsync(EnumTable.Printer, Entity, null))
                                      ButtonStyle="ButtonStyle.Secondary"
                                      Style="margin-left: 30px; width: 200px; height: 30px; font-size: 12px; "
                                      Text=@LocalizationStrings.DeviceControl.TableActionEdit Disabled=@AppSettings.DataAccess.IsDisabled />
                        <RadzenButton Click=@(args => ActionMarkedAsync(EnumTable.Printer, Entity, null))
                                      ButtonStyle="ButtonStyle.Secondary"
                                      Style="margin-left: 30px; width: 200px; height: 30px; font-size: 12px; "
                                      Text=@LocalizationStrings.DeviceControl.TableActionDelete Disabled=@AppSettings.DataAccess.IsDisabled />
                        @if (AppSettings.IsDebug)
                        {
                            <RadzenButton Click=@(args => ActionCopyAsync(EnumTable.Printer, Entity, null))
                                          ButtonStyle="ButtonStyle.Secondary"
                                          Style="margin-left: 30px; width: 200px; height: 30px; font-size: 12px; "
                                          Text=@LocalizationStrings.DeviceControl.TableActionCopy Disabled=@AppSettings.DataAccess.IsDisabled />
                            <RadzenButton Click=@(args => ActionDeleteAsync(EnumTable.Printer, Entity, null))
                                          ButtonStyle="ButtonStyle.Secondary"
                                          Style="margin-left: 30px; width: 200px; height: 30px; font-size: 12px; "
                                          Text=@LocalizationStrings.DeviceControl.TableActionDeleteForever Disabled=@AppSettings.DataAccess.IsDisabled />
                        }
                    }
                    else
                    {
                        <span>@LocalizationStrings.DeviceControl.TableActionsIsDeny</span>
                    }
                </div>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
}
else
{
    <RadzenLabel Text=@LocalizationStrings.Share.MenuAccessDeny></RadzenLabel>
}
