@page "/login"
@using DataProjectsCore
@inherits MdmControlBlazor.Data.BaseRazorEntity

<AuthorizeView>
    <Authorizing>
        <div>@LocalizationData.DeviceControl.AuthorizingProcess</div>
    </Authorizing>
    <Authorized>
        @if (context.User.Identity != null)
        {
            BlazorSettings.State = context;
            <div>@context.User.Identity.Name</div>
        }!
        <div>User detect error!</div>
    </Authorized>
    <NotAuthorized>
        <div>@LocalizationData.DeviceControl.AuthorizingNot</div>
    </NotAuthorized>
</AuthorizeView>
