@inherits BlazorMdmControl.Data.BaseRazorModel
@page "/login"
@using BlazorCore
@using DataCore
@using DataCore.Localizations

<AuthorizeView>
    <Authorizing>
        <div>@LocaleCore.Strings.AuthorizingProcess</div>
    </Authorizing>
    <Authorized>
        @if (context.User.Identity != null)
        {
            //BlazorSettings.State = context;
            <div>@context.User.Identity.Name</div>
        }!
        <div>User detect error!</div>
    </Authorized>
    <NotAuthorized>
        <div>@LocaleCore.Strings.AuthorizingNot</div>
    </NotAuthorized>
</AuthorizeView>
