@using MdmControlBlazor.Data
@using MdmControlBlazor.Utils
@inherits MdmControlBlazor.Data.BaseRazorEntity

@*<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="" style="text-align: center">@LocalizationStrings.MainTitle</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @LocalizationStrings.HomeTitle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationStrings.UriRouteNomenclatures>
                <span class="oi oi-list" aria-hidden="true"></span> @LocalizationStrings.TableTitleNomenclaturesShort
            </NavLink>
        </li>
    </ul>
</div>
*@