@using System.Linq.Expressions

<div class="@Css.Class("space-y-2 w-full relative flex-col flex", Class)">
  @if (!string.IsNullOrEmpty(Label))
  {
    <FieldLabel HtmlFor="@HtmlId">@Label</FieldLabel>
  }
  @ChildContent
</div>

@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter] public string HtmlId { get; set; } = string.Empty;
  [Parameter] public string Label { get; set; } = string.Empty;
  [Parameter] public string Class { get; set; } = string.Empty;
}