@inherits RazorPageItemBase<PluScaleModel>
@page "/item/plu_scale"
@page "/item/plu_scale/{IdentityUidStr}"
@page "/item/plu_scale/{IdentityUidStr}/{TableAction}"
@using static BlazorCore.Utils.BlazorCoreUtuls
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.ItemComponents.Components
@using BlazorDeviceControl.Razors.ShareComponents

@if (!IsActionsParametersSetFinished)
{
    <ActionsLoad ParentRazor=@(this) DataLoadItem=ActionLoadEnum.Loading IsShowProgress=true />
}
else
{
	<ItemReload TItem=PluScaleModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemPluScale />
	
	<MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true FixedHeader=false>
		<ItemTableHead TItem=PluScaleModel ParentRazor=@(this) CssTableStyleHead=@ComponentsUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 }) />
		<tbody>
			<ItemTableBody TItem=PluScaleModel ParentRazor=@(this) CssTableStyleBody=@ComponentsUtils.GetTableBodyStyle(SqlFieldIdentityEnum.Uid, true) />
			<tr>
				<td>@LocaleCore.Table.IsActive</td>
				<td>
					<RadzenCheckBox TValue="bool" @bind-Value=@ItemCast.IsActive/>
				</td>
			</tr>
			<tr>
				<td>
					<RadzenLink Style="width: 100%; margin-left: 0;"
							Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemScale, ItemCast.Scale, ItemCast.Scale.Identity.Id)
					    Text=@LocaleCore.Table.Scale/>
				</td>
				<td>
					<MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
					    ReadOnly=true Disabled=true @bind-Value=@ItemCast.Scale >
						@foreach (ScaleModel item in Scales)
						{
							<MudSelectItem T=@ScaleModel Value=@item>@item.Description</MudSelectItem>
						}
					</MudSelect>
				</td>
				<td>
					<RadzenLink Style="width: 100%; margin-left: 0;"
							Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemPlu, ItemCast.Plu, ItemCast.Plu.Identity.Uid)
					    Text=@LocaleCore.Table.Plu />
				</td>
				<td>
					<MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
						ReadOnly=true Disabled=true @bind-Value=@ItemCast.Plu >
						@foreach (PluModel item in Plus)
						{
							<MudSelectItem T=@PluModel Value=@item>@item.Name</MudSelectItem>
						}
					</MudSelect>
				</td>
			</tr>
		</tbody>
	</MudSimpleTable>
	
	<ItemSave TItem=PluScaleModel ParentRazor=@(this) />
	<ItemDates TItem=PluScaleModel ParentRazor=@(this) />
}
