@inherits RazorComponentItemBase<NestingFkModel>
@page "/item/bundle_fk"
@page "/item/bundle_fk/new"
@page "/item/bundle_fk/{IdentityUidStr}"
@using static BlazorCore.Utils.BlazorCoreUtuls
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SystemComponents
@using DataCore.Sql.TableScaleFkModels.NestingFks
@using DataCore.Sql.TableScaleModels.Boxes

<SystemIdentity ParentRazor=@(this) />

<RazorItemReload TItem=@NestingFkModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemBundleFk />

<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <RazorItemTableHead TItem=@NestingFkModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
    <tbody>
        <RazorItemTableBody TItem=@NestingFkModel ParentRazor=@(this) />
        <tr>
            <td>@LocaleCore.Table.Name</td>
            <td colspan=3>
                <RadzenTextBox Style="width: 100%; " @bind-Value=@SqlItemCast.Name />
            </td>
        </tr>
        <tr>
	        <td>@LocaleCore.Table.BundleCount</td>
            <td>
                <RadzenTemplateForm TItem=@NestingFkModel Data=@SqlItemCast>
                    <RadzenNumeric 
                        Style="width: 100%; text-align: center; display: block;" Disabled=false
                        Name="fieldBundleCount"
                        TValue="short" @bind-Value=@SqlItemCast.BundleCount />
                    <RadzenNumericRangeValidator 
                        Component="fieldBundleCount"
                        Text=@LocaleCore.Strings.InputControlCheck(1, 100) Popup=true Style="position: absolute;" />
                </RadzenTemplateForm>
            </td>
        </tr>
        <tr>
            <td>
                <RadzenLink 
                    Style="width: 100%; margin-left: 0;"
                    Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemBox, SqlItemCast.Box, SqlItemCast.Box.IdentityValueUid)
                    Text=@LocaleCore.Table.Box />
            </td>
            <td colspan=3>
                <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                @bind-Value=@SqlItemCast.Box>
                    @foreach (BoxModel item in DataContext.Boxes)
                    {
                        <MudSelectItem Value=@item>@item.Name</MudSelectItem>
                    }
                </MudSelect>
            </td>
        </tr>
    </tbody>
</MudSimpleTable>
<RazorItemActions TItem=@NestingFkModel ParentRazor=@(this) />
<RazorItemDates TItem=@NestingFkModel ParentRazor=@(this) />