@inherits RazorComponentItemBase<PluBundleFkModel>
@page "/item/plu_bundle"
@page "/item/plu_bundle/new"
@page "/item/plu_bundle/{IdentityUidStr}"
@using static BlazorCore.Utils.BlazorCoreUtuls
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SystemComponents
@using DataCore.Sql.TableScaleFkModels.NestingFks
@using DataCore.Sql.TableScaleFkModels.PlusBundlesFks;
@using DataCore.Sql.TableScaleModels.Boxes
@using DataCore.Sql.TableScaleModels.Bundles;
@using DataCore.Sql.TableScaleModels.Plus;

<SystemIdentity ParentRazor=@(this) />

<RazorItemReload TItem=@PluBundleFkModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemPluBundleFk />

<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <RazorItemTableHead TItem=@PluBundleFkModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
    <tbody>
        <RazorItemTableBody TItem=@PluBundleFkModel ParentRazor=@(this) />
        <tr>
            <td>@LocaleCore.Table.Name</td>
            <td colspan=3>
                <RadzenTextBox Style="width: 100%; " @bind-Value=@SqlItemCast.Name />
            </td>
        </tr>
        <tr>
            <td >
                <RadzenLink 
                    Style="width: 100%; "
                    Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemPlu, Plu, Plu.IdentityValueUid)
                    Text=@LocaleCore.Table.Plu />
            </td>
            <td colspan=3>
                <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                    @bind-Value=@Plu>
                    @foreach (PluModel item in DataContext.Plus)
                    {
                        <MudSelectItem Value=@item>@item.Name</MudSelectItem>
                    }
                </MudSelect>
            </td>
        </tr>
        <tr>
            <td>
                <RadzenLink 
                    Style="width: 100%; margin-left: 0;"
                    Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemBundle, SqlItemCast.Bundle, SqlItemCast.Bundle.IdentityValueUid)
                    Text=@LocaleCore.Table.Bundle />
            </td>
            <td colspan=3>
                <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                @bind-Value=@Bundle>
                    @foreach (BundleModel item in DataContext.Bundles)
                    {
                        <MudSelectItem Value=@item>@item.Name</MudSelectItem>
                    }
                </MudSelect>
            </td>
        </tr>
    </tbody>
</MudSimpleTable>

<RazorItemActions TItem=@PluBundleFkModel ParentRazor=@(this) />

<RazorItemDates TItem=@PluBundleFkModel ParentRazor=@(this) />
