@inherits RazorComponentItemBase<PluNestingFkModel>
@page "/item/plu_nesting_fk"
@page "/item/plu_nesting_fk/new"
@page "/item/plu_nesting_fk/{IdentityUidStr}"
@using static BlazorCore.Utils.BlazorCoreUtuls
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SystemComponents
@using DataCore.Sql.TableScaleFkModels.PlusBundlesFks;
@using DataCore.Sql.TableScaleModels.Boxes
@using DataCore.Sql.TableScaleModels.Bundles;
@using DataCore.Sql.TableScaleModels.Plus;
@using DataCore.Sql.TableScaleFkModels.PlusNestingFks;

<SystemIdentity ParentRazor=@(this) />

<RazorItemReload TItem=@PluNestingFkModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemPluNestingFk />

<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <RazorItemTableHead TItem=@PluNestingFkModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
    <tbody>
        <RazorItemTableBody TItem=@PluNestingFkModel ParentRazor=@(this) />
        <tr>
            <td>
                @LocaleCore.Table.Name
            </td>
	        <td>
		        <RadzenTextBox 
			        Style="width: 100%; text-align: center; background-color: lightgray; "
			        ReadOnly=true Value=@SqlItemCast.Name />
	        </td>
	        <td>
		        @LocaleCore.Table.IsDefault
	        </td>
	        <td>
		        <RadzenCheckBox TValue="bool" @bind-Value=@SqlItemCast.IsDefault />
	        </td>
        </tr>
        @* PluBundleFk *@
        <tr>
            <td>
                <RadzenLink Style="width: 100%; margin-left: 0; text-align: center; "
                            Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemPluBundleFk, SqlItemCast.PluBundle, SqlItemCast.PluBundle.IdentityValueUid)
                            Text=@LocaleCore.Table.PluBundleFk />
            </td>
            <td colspan=3>
                <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                @bind-Value=@PluBundleFk>
                    @foreach (PluBundleFkModel item in DataContext.PluBundleFks)
                    {
                        <MudSelectItem Value=@item>@($"{item.Plu.Name} | {item.Plu.Number} | {item.Bundle.Name}")</MudSelectItem>
                    }
                </MudSelect>
            </td>
        </tr>
        @* Plu *@
        <tr>
            <td>
                <RadzenLink Style="width: 100%; "
                            Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemPlu, SqlItemCast.PluBundle.Plu, SqlItemCast.PluBundle.Plu.IdentityValueUid)
                            Text=@LocaleCore.Table.Plu />
            </td>
            <td>
                <RadzenLink Style="width: 100%; "
                            Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemPlu, SqlItemCast.PluBundle.Plu, SqlItemCast.PluBundle.Plu.IdentityValueUid)
                            Text=@($"{PluBundleFk.Plu.Number}") />
            </td>
            <td colspan=2>
                <RadzenLink Style="width: 100%; "
                            Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemPlu, SqlItemCast.PluBundle.Plu, SqlItemCast.PluBundle.Plu.IdentityValueUid)
                            Text=@PluBundleFk.Plu.Name />
            </td>
        </tr>
        @* Nomenclature *@
        <tr>
            <td>
                <RadzenLabel Style="width: 100%; " Text=@LocaleCore.Table.Nomenclature />
            </td>
            <td>
                <RadzenLink Style="width: 100%; "
                            Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemNomenclature, SqlItemCast.PluBundle.Bundle, SqlItemCast.PluBundle.Plu.Nomenclature.IdentityValueId)
                            Text=@(SqlItemCast.PluBundle.Plu.Nomenclature.Name) />
            </td>
            <td>
                <RadzenLabel Style="width: 100%; " Text=@LocaleCore.Table.NomenclatureCode />
            </td>
            <td>
                <RadzenLink Style="width: 100%; "
                            Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemNomenclature, SqlItemCast.PluBundle.Bundle, SqlItemCast.PluBundle.Plu.Nomenclature.IdentityValueId)
                            Text=@(SqlItemCast.PluBundle.Plu.Nomenclature.Code) />
            </td>
        </tr>
        @* Bundle *@
        <tr>
            <td>
                <RadzenLabel Style="width: 100%; " Text=@LocaleCore.Table.Bundle />
            </td>
            <td>
                <RadzenLink Style="width: 100%; "
                            Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemBundle, SqlItemCast.PluBundle.Bundle, SqlItemCast.PluBundle.Bundle.IdentityValueUid)
                            Text=@PluBundleFk.Bundle.Name />
            </td>
            <td>
                <RadzenLabel Style="width: 100%; " Text=@LocaleCore.Table.Weight />
            </td>
            <td>
                <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; "
                               Disabled=true TValue="decimal" ReadOnly=true @bind-Value=@PluBundleFk.Bundle.Weight />
            </td>
        </tr>
        @* Box *@
        <tr>
            <td>
                <RadzenLink Style="width: 100%; "
                            Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemBox, SqlItemCast.Box, SqlItemCast.Box.IdentityValueUid)
                            Text=@LocaleCore.Table.Box />
            </td>
            <td colspan=3>
                <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                @bind-Value=@Box>
                    @foreach (BoxModel item in DataContext.Boxes)
                    {
                        <MudSelectItem Value=@item>@($"{item.Name} | {item.Weight}")</MudSelectItem>
                    }
                </MudSelect>
            </td>
        </tr>
        @* Box *@
        <tr>
            <td>
                <RadzenLabel Style="width: 100%; " Text=@LocaleCore.Table.BoxWeight />
            </td>
            <td>
                <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; "
                               Disabled=true TValue="decimal" ReadOnly=true @bind-Value=@Box.Weight />
            </td>
        </tr>
        @* Nesting & Weight *@
        <tr>
            <td>
                <RadzenLabel Style="width: 100%; " Text=@LocaleCore.Table.NestingCount />
            </td>
            <td>
                <RadzenNumeric Style="width: 100%; text-align: center; "
                               TValue="short" @bind-Value=@SqlItemCast.BundleCount />
            </td>
            <td>
                <RadzenLabel Style="width: 100%; " Text=@LocaleCore.Table.WeightNominal />
            </td>
            <td>
                <RadzenNumeric Style="width: 100%; text-align: center; "
                               TValue="decimal" @bind-Value=@SqlItemCast.WeightNom />
            </td>
        </tr>
        <tr>
            <td>
                <RadzenLabel Style="width: 100%; " Text=@LocaleCore.Table.WeightMinimal />
            </td>
            <td>
                <RadzenNumeric Style="width: 100%; text-align: center; "
                               TValue="decimal" @bind-Value=@SqlItemCast.WeightMin />
            </td>
            <td>
                <RadzenLabel Style="width: 100%; " Text=@LocaleCore.Table.WeightMaximal />
            </td>
            <td>
                <RadzenNumeric Style="width: 100%; text-align: center; "
                               TValue="decimal" @bind-Value=@SqlItemCast.WeightMax />
            </td>
        </tr>
    </tbody>
</MudSimpleTable>

<RazorItemActions TItem=@PluNestingFkModel ParentRazor=@(this) />

<RazorItemDates TItem=@PluNestingFkModel ParentRazor=@(this) />
