@inherits RazorComponentItemBase<PluNestingFkModel>
@page "/item/plu_nesting"
@page "/item/plu_nesting/new"
@page "/item/plu_nesting/{IdentityUidStr}"
@using static BlazorCore.Utils.BlazorCoreUtuls
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SystemComponents
@using DataCore.Sql.TableScaleFkModels.NestingFks
@using DataCore.Sql.TableScaleFkModels.PlusBundlesFks;
@using DataCore.Sql.TableScaleModels.Boxes
@using DataCore.Sql.TableScaleModels.Bundles;
@using DataCore.Sql.TableScaleModels.Plus;
@using DataCore.Sql.TableScaleFkModels.PlusNestingFks;

<SystemIdentity ParentRazor=@(this) />

<RazorItemReload TItem=@PluNestingFkModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemPluBundleFk />

<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <RazorItemTableHead TItem=@PluNestingFkModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
    <tbody>
        <RazorItemTableBody TItem=@PluNestingFkModel ParentRazor=@(this) />
        <tr>
            <td>
                <RadzenLink 
                    Style="width: 100%; "
                    Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemPlu, PluBundleFk.Plu, PluBundleFk.Plu.IdentityValueUid)
                    Text=@($"{LocaleCore.Table.Plu} / {PluBundleFk.Plu.Number}") />
            </td>
            <td colspan=3>
                <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                    @bind-Value=@Plu>
                    @foreach (PluModel item in DataContext.Plus)
                    {
                        <MudSelectItem Value=@item>@item.Name</MudSelectItem>
                    }
                </MudSelect>
            </td>
        </tr>
        <tr>
            <td>
                @LocaleCore.Table.IsDefault
            </td>
            <td>
                <RadzenCheckBox TValue="bool" @bind-Value=@SqlItemCast.IsDefault />
            </td>
        </tr>
        <tr>
            <td>
                <RadzenLink 
                    Style="width: 100%; margin-left: 0;"
                    Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemBundle, SqlItemCast.PluBundle.Bundle, SqlItemCast.PluBundle.Bundle.IdentityValueUid)
                    Text=@LocaleCore.Table.Bundle />
            </td>
            <td>
                <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                    @bind-Value=@Bundle>
                    @foreach (BundleModel item in DataContext.Bundles)
                    {
                        <MudSelectItem Value=@item>@item.Name</MudSelectItem>
                    }
                </MudSelect>
            </td>
            <td>
                <RadzenLabel 
                    Style="width: 100%; margin-left: 0;"
                    Text=@LocaleCore.Table.Weight />
            </td>
            <td>
				<RadzenNumeric
					Style="width: 100%; text-align: center; background-color: lightgray; "
                    Disabled=true TValue="decimal" ReadOnly=true @bind-Value=@Bundle.Weight />
            </td>
        </tr>
        <tr>
            <td>
                <RadzenLabel 
                    Style="width: 100%; margin-left: 0;"
                    Text=@LocaleCore.Table.Nesting />
            </td>
            <td colspan=3>
                <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                    @bind-Value=@NestingFk>
                    @foreach (NestingFkModel item in DataContext.NestingFks)
                    {
                        <MudSelectItem Value=@item>@item.Name</MudSelectItem>
                    }
                </MudSelect>
            </td>
        </tr>
    </tbody>
</MudSimpleTable>

<RazorItemActions TItem=@PluNestingFkModel ParentRazor=@(this) />

<RazorItemDates TItem=@PluNestingFkModel ParentRazor=@(this) />
