@inherits RazorComponentItemBase<NestingFkModel>
@page "/item/nesting_fk"
@page "/item/nesting_fk/new"
@page "/item/nesting_fk/{IdentityUidStr}"
@using static BlazorCore.Utils.BlazorCoreUtuls
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SystemComponents
@using DataCore.Sql.TableScaleFkModels.NestingFks
@using DataCore.Sql.TableScaleFkModels.PlusBundlesFks;
@using DataCore.Sql.TableScaleModels.Boxes
@using DataCore.Sql.TableScaleModels.Bundles;
@using DataCore.Sql.TableScaleModels.Plus;
@using DataCore.Sql.TableScaleFkModels.PlusNestingFks;

<SystemIdentity ParentRazor=@(this) />

<RazorItemReload TItem=@NestingFkModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemPluBundleFk />

<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <RazorItemTableHead TItem=@NestingFkModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
    <tbody>
        <RazorItemTableBody TItem=@NestingFkModel ParentRazor=@(this) />
        <tr>
            <td>
                <RadzenLabel Style="width: 100%; " Text=@LocaleCore.Table.Name />
            </td>
            <td colspan=3>
                <RadzenTextBox Style="width: 100%; " @bind-Value=@SqlItemCast.Name />
            </td>
        </tr>
        @* Box *@
        <tr>
            <td>
                <RadzenLink Style="width: 100%; "
                            Path=@GetRouteItemPath(LocaleCore.DeviceControl.RouteItemBox, SqlItemCast.Box, SqlItemCast.Box.IdentityValueUid)
                            Text=@LocaleCore.Table.Box />
            </td>
            <td colspan=3>
                <MudSelect Class=@GetCssName.MudSelect Variant=@Variant.Outlined Margin=@Margin.Dense
                    @bind-Value=@Box>
                    @foreach (BoxModel item in DataContext.Boxes)
                    {
                        <MudSelectItem Value=@item>@($"{item.Name} | {item.Weight}")</MudSelectItem>
                    }
                </MudSelect>
            </td>
        </tr>
        <tr>
            <td>
                <RadzenLabel Style="width: 100%; " Text=@LocaleCore.Table.BoxWeight />
            </td>
            <td>
                <RadzenNumeric Style="width: 100%; text-align: center; background-color: lightgray; "
                               Disabled=true TValue="decimal" ReadOnly=true @bind-Value=@Box.Weight />
            </td>
        </tr>
        @* Nesting & Weight *@
        <tr>
            <td>
                <RadzenLabel Style="width: 100%; " Text=@LocaleCore.Table.NestingCount />
            </td>
            <td>
                <RadzenNumeric Style="width: 100%; text-align: center; "
                               TValue="short" @bind-Value=@SqlItemCast.BundleCount />
            </td>
            <td>
                <RadzenLabel Style="width: 100%; " Text=@LocaleCore.Table.WeightNominal />
            </td>
            <td>
                <RadzenNumeric Style="width: 100%; text-align: center; "
                               TValue="decimal" @bind-Value=@SqlItemCast.WeightNom />
            </td>
        </tr>
        <tr>
            <td>
                <RadzenLabel Style="width: 100%; " Text=@LocaleCore.Table.WeightMinimal />
            </td>
            <td>
                <RadzenNumeric Style="width: 100%; text-align: center; "
                               TValue="decimal" @bind-Value=@SqlItemCast.WeightMin />
            </td>
            <td>
                <RadzenLabel Style="width: 100%; " Text=@LocaleCore.Table.WeightMaximal />
            </td>
            <td>
                <RadzenNumeric Style="width: 100%; text-align: center; "
                               TValue="decimal" @bind-Value=@SqlItemCast.WeightMax />
            </td>
        </tr>
    </tbody>
</MudSimpleTable>

<RazorItemActions TItem=@NestingFkModel ParentRazor=@(this) />

<RazorItemDates TItem=@NestingFkModel ParentRazor=@(this) />
