@using Blazor.Heroicons.Outline
@using Microsoft.Extensions.Localization
@using ScalesMobile.Source.Shared
@using ScalesMobile.Source.Shared.Localization

@attribute [Route(Routes.Validate)]

<div class="size-full flex flex-col">
  <div class="flex bg-background h-12 items-center shrink-0 w-full px-3 gap-2 border-b">
    <a href="@Routes.Home">
      <Button Variant="ButtonVariantType.Ghost" Size="ButtonSizeType.Icon">
        <ArrowLeftIcon class="size-5"/>
      </Button>
    </a>
    <h2 class="truncate">@Localizer["CreatePageTitle"]</h2>
  </div>
  <div class="size-full grow flex flex-col">
    <Stepper @bind-CurrentIndex="CurrentTabIndex" Class="mt-4">
      <StepperItem Disabled />
      <StepperItem Disabled />
      <StepperItem Disabled />
      <StepperItem Disabled />
    </Stepper>
    @if (CurrentTabIndex == 1)
    {
      <CreateFormFirstStage
        @bind-Model="Plu"
        OnSuccessAction="@(() => CurrentTabIndex = 2)"
      />
    }
  </div>
</div>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;

  private PluDto Plu { get; set; } = new();
  private int CurrentTabIndex { get; set; } = 1;
}