<Button
  Variant="ButtonVariant.Outline"
  Class="@Css.Class("!w-full !px-6 !justify-start !py-6 !text-lg", Class)"
  OnClick="@OnClick"
>
  @ChildContent
</Button>

@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter] public string Class { get; set; } = string.Empty;
  [Parameter] public EventCallback OnClick { get; set; }
}