<ul class="w-full space-y-3 grow px-4 pb-3">
  <li>
    <Skeleton Class="w-full h-18"/>
  </li>
  <li>
    <Skeleton Class="w-full h-18"/>
  </li>
  <li>
    <Skeleton Class="w-full h-18"/>
  </li>
</ul>