@page "/account"
@using DataProjectsCore
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits RazorDisposable
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorizing>
        <RadzenLabel Text=@LocalizationData.DeviceControl.AuthorizingProcess Style="text-align: center; margin-left: 50px; height: 10px;" />
        <RadzenLabel Text=@LocalizationData.DeviceControl.AuthorizingUserName Style="text-align: center; margin-left: 50px; height: 10px;" />
        <RadzenLabel Text=@UserSettings.Identity.Name Style="text-align: center; margin-left: 50px; height: 10px;" />
    </Authorizing>
    <Authorized>
        <RadzenLabel Text=@LocalizationData.DeviceControl.AuthorizingSuccess Style="text-align: center; margin-left: 50px; height: 10px;" />
        <RadzenLabel Text=@LocalizationData.DeviceControl.AuthorizingUserName Style="text-align: center; margin-left: 50px; height: 10px;" />
        <RadzenLabel Text=@UserSettings.Identity.Name Style="text-align: center; margin-left: 50px; height: 10px;" />
@*
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link">Log out</button>
            </form>
*@
    </Authorized>
    <NotAuthorized>
        <RadzenLabel Text=@LocalizationData.DeviceControl.AuthorizingNot Style="text-align: center; margin-left: 50px; height: 10px;" />
        <RadzenLabel Text=@LocalizationData.DeviceControl.AuthorizingUserName Style="text-align: center; margin-left: 50px; height: 10px;" />
        <RadzenLabel Text=@UserSettings.Identity.Name Style="text-align: center; margin-left: 50px; height: 10px;" />
@*
        <a href="system/login">Log in</a>
        <a href="system/register">Register</a>
*@
    </NotAuthorized>
</AuthorizeView>
