@page "/login"
@inherits BlazorProjectsCore.Models.BaseRazorEntity

<AuthorizeView>
    <Authorizing>
        <div>Authorizing ...</div>
    </Authorizing>
    <Authorized>
        @if (context.User.Identity != null)
        {
            AuthenticationStateItem = context;
            <div>@context.User.Identity.Name</div>
        }!
        <div>User detect error!</div>
    </Authorized>
    <NotAuthorized>
        <div>Not authorized!</div>
    </NotAuthorized>
</AuthorizeView>
