@inherits BlazorCore.Models.RazorBase
@using BlazorDeviceControl.Shared.Component
@using DataCore.Localizations
@using DataCore.Utils

<MudDialogProvider />
<MudSnackbarProvider />
<MudThemeProvider />
<RadzenContextMenu />
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />

<AuthorizeView>
    <Authorizing>
        @UserSettings.Identity.UserName = null;
    </Authorizing>
    <Authorized>
        @{
            UserSettings.Identity.UserName = !string.IsNullOrEmpty(context.User.Identity?.Name) ? context.User.Identity.Name : string.Empty;
        }
    </Authorized>
    <NotAuthorized>
        @UserSettings.Identity.UserName = null;
    </NotAuthorized>
</AuthorizeView>

<div class="page">
    @if (AppSettings == null)
    {
        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
    }
    else
    {
        <div class=@BlazorCoreUtuls.GetCssName.Sidebar(AppSettings)>
            <NavMenu SetParameters=@SetParametersAsync />
        </div>

        <div class="main">
            <div class="top-row px-4 auth">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    @if (UserSettings.Identity.AccessRightsIsRead)
                    {
                        <RadzenMenu Style="margin-left: -20px; margin-top: 0px; align-content: center; background-color: transparent; " >
                            <RadzenMenuItem Icon="home" Style="background-color: transparent; " Text=@LocaleCore.Menu.MenuSystem >
                                <RadzenMenuItem Icon="home" Style="background-color: transparent; "
                                    Text=@LocaleCore.Menu.MenuMain Path=@LocaleData.DeviceControl.UriRouteSection.Root />
                                <RadzenMenuItem Icon="info" Style="background-color: transparent; "
                                    Text=@StringUtils.FormatCurDtRus(true) Path=@LocaleData.DeviceControl.UriRouteSection.Root />
                                <RadzenMenuItem Icon="info" Style="background-color: transparent; "
                                    Text=@AppSettings.MemoryInfo Path=@LocaleData.DeviceControl.UriRouteSection.Root 
                                    Click=@MemoryClearAsync />
                                <RadzenMenuItem Icon="people" Style="background-color: transparent; "
                                    Text=@($"{UserSettings.Identity.UserName} [{UserSettings.Identity.GetDescriptionAccessRights(ShareEnums.AccessRights.None)}]") 
                                    Path=@LocaleData.DeviceControl.UriRouteSection.Access
                                    Click=@(args => SetParametersAsync(new())) />
                                <RadzenMenuItem Icon="info" Style="background-color: transparent; "
                                    Text=@LocaleCore.Menu.MenuInfo Path=@LocaleData.DeviceControl.UriRouteItem.Info />
                                <RadzenMenuItem Icon="info" Style="background-color: transparent; "
                                    Text=@LocaleCore.Menu.MenuDbVersionHistory Path=@LocaleData.DeviceControl.UriRouteSection.Versions />
                            </RadzenMenuItem>
                            <RadzenMenuItem Icon="article" Style="background-color: transparent; " Text=@LocaleCore.Menu.MenuReports >
                                <RadzenMenuItem Icon="info" Style="background-color: transparent; "
                                    Text=@LocaleCore.System.SystemLogsAll Path=@LocaleData.DeviceControl.UriRouteSection.Logs />
                                <RadzenMenuItem Icon="error" Style="background-color: transparent; "
                                    Text=@LocaleCore.System.SystemLogsNones Path=@LocaleData.DeviceControl.UriRouteSection.LogsNones />
                                <RadzenMenuItem Icon="error" Style="background-color: transparent; "
                                    Text=@LocaleCore.System.SystemLogsInformations Path=@LocaleData.DeviceControl.UriRouteSection.LogsInformations />
                                <RadzenMenuItem Icon="error" Style="background-color: transparent; "
                                    Text=@LocaleCore.System.SystemLogsErrors Path=@LocaleData.DeviceControl.UriRouteSection.LogsErrors />
                                <RadzenMenuItem Icon="error" Style="background-color: transparent; "
                                    Text=@LocaleCore.System.SystemLogsQuestions Path=@LocaleData.DeviceControl.UriRouteSection.LogsQuestions />
                                <RadzenMenuItem Icon="error" Style="background-color: transparent; "
                                    Text=@LocaleCore.System.SystemLogsStops Path=@LocaleData.DeviceControl.UriRouteSection.LogsStops />
                                <RadzenMenuItem Icon="error" Style="background-color: transparent; "
                                    Text=@LocaleCore.System.SystemLogsWarnings Path=@LocaleData.DeviceControl.UriRouteSection.LogsWarnings />
                            </RadzenMenuItem>
                        </RadzenMenu>
                    }
                </div>
            </div>
            <div class="content px-4" style="margin-left: -25px; margin-top: -15px; margin-bottom: -15px; margin-right: -15px; background-color: transparent; " >
                @Body
            </div>
        </div>
    }
</div>
