@using BlazorDeviceControl.Shared.Component
@using BlazorCore
@using DataCore.Utils
@using Microsoft.AspNetCore.Authorization
@inherits RazorDisposable

<RadzenDialog />
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<AuthorizeView>
    <Authorizing>
        @UserSettings.Identity.Name = null;
    </Authorizing>
    <Authorized>
        @if (!string.IsNullOrEmpty(context.User.Identity?.Name))
        {
            UserSettings.Identity.Name = context.User.Identity.Name;
        }
        else
        {
            UserSettings.Identity.Name = string.Empty;
        }
    </Authorized>
    <NotAuthorized>
        @UserSettings.Identity.Name = null;
    </NotAuthorized>
</AuthorizeView>

<div class="page">
    @if (AppSettings == null)
    {
        <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.None IsShowProgress=true />
    }
    else
    {
        @if (AppSettings.IsSqlServerRelease)
        {
            <div class="sidebarRelease">
                <NavMenu />
            </div>
        }
        else if (AppSettings.IsSqlServerDebug)
        {
            <div class="sidebarDebug">
                <NavMenu />
            </div>
        }
        else
        {
            <div class="sidebarUnknown">
                <NavMenu />
            </div>
        }

        <div class="main">
            <div class="top-row px-4 auth">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <RadzenMenu Style="align-content: center; margin-top: 10px; background-color: transparent; " >
                        <RadzenMenuItem Text=@LocalizationCore.Strings.MenuSystem Icon="home">
                            <RadzenMenuItem Icon="info" Text=@LocalizationCore.Strings.MenuInfo Path=@LocalizationData.DeviceControl.UriRouteSection.Info
                            ></RadzenMenuItem>
                            <RadzenMenuItem Icon="people" Text=@UserSettings.Identity.NameWithRights Path=@LocalizationData.DeviceControl.UriRouteSection.Access
                                Click="OnChildClicked" ></RadzenMenuItem>
                            <RadzenMenuItem Icon="info" Text=@LocalizationCore.Strings.SysLogs Path=@LocalizationData.DeviceControl.UriRouteSection.Logs
                            ></RadzenMenuItem>
                        </RadzenMenuItem>
                    </RadzenMenu>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                </div>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    }
</div>

@*
                            <RadzenMenuItem Icon="info" Text=@LocalizationCore.Strings.SysErrors Path=@LocalizationData.DeviceControl.UriRouteSection.Errors
                            ></RadzenMenuItem>
                            <RadzenMenuItem Icon="info" Text=@LocalizationCore.Strings.Main.CallbackTitle Path=@LocalizationData.DeviceControl.CallbackEmail
                            ></RadzenMenuItem>
                            <RadzenMenuItem Icon="email" Text=@AppSettings.MemoryInfo
                            ></RadzenMenuItem>

*@