@using BlazorDeviceControl.Shared.Component
@using BlazorCore
@using DataCore
@using DataShareCore
@using DataShareCore.Utils
@using Microsoft.AspNetCore.Authorization
@inherits RazorDisposable

<div class="page">
    @if (AppSettings == null)
    {
        <DataLoad DataLoadItem=ShareEnums.DataLoad.None IsShowProgress=true />
    }
    else
    {
        @if (AppSettings.IsSqlServerRelease)
        {
            <div class="sidebarRelease">
                <NavMenu />
            </div>
        }
        else if (AppSettings.IsSqlServerDebug)
        {
            <div class="sidebarDebug">
                <NavMenu />
            </div>
        }
        else
        {
            <div class="sidebarUnknown">
                <NavMenu />
            </div>
        }
        <div class="main">
            <div class="top-row px-4 auth">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <RadzenLabel Text=@AppSettings.SqlServerDescription Style="text-align: left;" />
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    @if (UserSettings.Identity == null || !UserSettings.Identity.IsAccess)
                    {
                        <DataLoad DataLoadItem=ShareEnums.DataLoad.None IsShowProgress=true />
                    }
                    else 
                    {
                        <RadzenLabel Text=@UserSettings.Identity.Name Style="text-align: center; margin-left: 50px; height: 10px;" />
                        @*
                        <RadzenLabel Text=@BlazorDeviceControl.Startup.StuntmanOptions.UserPicker(AppSettings.StuntmanUsers.Users[0])
                        Style="text-align: center; margin-left: 50px; height: 10px;" />
                        *@
                    }
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <RadzenLabel Text=@AppSettings.MemoryInfo Style="text-align: center; margin-left: 50px; height: 10px;" />
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <MudLink Icon="email" Typo="Typo.subtitle1" Href=@LocalizationData.DeviceControl.CallbackEmail 
                        Style="text-align: right" rel="noopener noreferrer"
                        >@LocalizationCore.Strings.Main.CallbackTitle </MudLink>
                </div>
            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>
    }
</div>
