@inherits BlazorCore.Models.RazorBase
@using BlazorCore
@using DataCore.Utils
@using LocalizationCore = DataCore.Localization.Core
@using Microsoft.VisualBasic.CompilerServices
@using static DataCore.Utils.BlazorCoreUtuls

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <RadzenButton 
            Style="margin-left: -10px; margin-top: -7px; align-content: center; width: 82%; font-size: 14px; background-color: transparent; "
            ButtonStyle=@ButtonStyle.Primary
            Click=@(args => SetParameters.InvokeAsync())
            MouseEnter="@(args => TooltipService?.Open(args, LocalizationData.DeviceControl.TableReadData))"
            Text=@LocalizationCore.Strings.Main.AppName
        />
    </a>
    <button class="navbar-toggler" @onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@GetCssName.NavMenu(CollapseNavMenu) @onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        @if (UserSettings.Identity.AccessRightsIsRead)
        {
            <RadzenPanelMenu class=@GetCssName.RadzenPanelMenu >
                <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuItem Text=@LocalizationData.DeviceControl.Sections.Scales >
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationData.DeviceControl.Sections.AutomatedWorkplaceShort Path=@LocalizationData.DeviceControl.UriRouteSection.Scales />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationData.DeviceControl.Sections.ProductionFacilitiesShort Path=@LocalizationData.DeviceControl.UriRouteSection.ProductionFacilities />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationData.DeviceControl.Sections.WorkShops Path=@LocalizationData.DeviceControl.UriRouteSection.WorkShops />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem
                        Text=@LocalizationData.DeviceControl.Sections.Hosts Path=@LocalizationData.DeviceControl.UriRouteSection.Hosts />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationCore.Print.Names Path=@LocalizationData.DeviceControl.UriRouteSection.Printers />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationCore.Print.Types Path=@LocalizationData.DeviceControl.UriRouteSection.PrinterTypes />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationData.DeviceControl.Sections.Resources Path=@LocalizationData.DeviceControl.UriRouteSection.PrinterResources />
                </RadzenPanelMenuItem>

                <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuItem Text=@LocalizationData.DeviceControl.Sections.Measurements >
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationData.DeviceControl.Sections.WeithingFactsAggregationShort Path=@LocalizationData.DeviceControl.UriRouteSection.WeithingFactsAggregation />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationData.DeviceControl.Sections.WeithingFacts Path=@LocalizationData.DeviceControl.UriRouteSection.WeithingFacts />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationData.DeviceControl.Sections.Labels Path=@LocalizationData.DeviceControl.UriRouteSection.Labels />
                </RadzenPanelMenuItem>
                
                <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuItem Text=@LocalizationData.DeviceControl.Sections.ReferencesDwh >
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationData.DeviceControl.Sections.Contragents Path=@LocalizationData.DeviceControl.UriRouteSection.Contragents />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationData.DeviceControl.Sections.Nomenclatures Path=@LocalizationData.DeviceControl.UriRouteSection.Nomenclatures />
                </RadzenPanelMenuItem>
                
                <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuItem Text=@LocalizationData.DeviceControl.Sections.ReferencesAdditional >
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationData.DeviceControl.Sections.Plus Path=@LocalizationData.DeviceControl.UriRouteSection.Plus />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationData.DeviceControl.Sections.Templates Path=@LocalizationData.DeviceControl.UriRouteSection.Templates />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationData.DeviceControl.Sections.TemplateResources Path=@LocalizationData.DeviceControl.UriRouteSection.TemplateResources />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationData.DeviceControl.Sections.BarCodesShort Path=@LocalizationData.DeviceControl.UriRouteSection.BarCodes />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationData.DeviceControl.Sections.BarCodeTypesShort Path=@LocalizationData.DeviceControl.UriRouteSection.BarCodeTypes />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem 
                        Text=@LocalizationData.DeviceControl.Sections.TaskModules Path=@LocalizationData.DeviceControl.UriRouteSection.TaskModules />
                    @if (IsDebug)
                    {
                        <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem Text="Mud" Path="mud" />
                        <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem Text="Radzen" Path="radzen" />
                    }
                </RadzenPanelMenuItem>
            </RadzenPanelMenu>
        }
    </ul>
</div>
