@using BlazorCore
@using Microsoft.VisualBasic.CompilerServices

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DeviceControl</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.Hosts>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionHosts />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.Scales>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionScales />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.Printers>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionPrinters />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.PrinterTypes>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionPrinterTypes />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.Templates>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionTemplates />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.TemplateResources>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionTemplateResources />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.ProductionFacilities>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionProductionFacilities />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.Workshops>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionWorkshops />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.WeithingFacts>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionWeithingFacts />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.BarCodes>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionBarCodes />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.BarCodeTypes>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionBarCodeTypesShort />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.Plus>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionPlus />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.Labels>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionLabels />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.Nomenclatures>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionNomenclatures />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.TaskModules>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionTaskModules />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@LocalizationData.DeviceControl.UriRouteSection.Contragents>
                <RadzenIcon Icon="label" />
                <RadzenLabel Style="margin-left: 10px; font-size: 14px; " Text=@LocalizationData.DeviceControl.SectionContragents />
            </NavLink>
        </li>
    </ul>
</div>
