@page "/security"
@using DataCore
@using DataShareCore.Utils
@inherits BlazorProjectsCore.Models.BaseRazorEntity

@if (AppSettings.IdentityItem.AccessLevel is true or false)
{
    <p>The current authenticated user:</p>
    <div id="jsonRender"></div>

    <p>Invoke secured api with the current identity: </p>
    <button @onclick="@InvokeSecuredApi">Invoke</button>
}
else
{
    <RadzenLabel Text=@DataShareCore.LocalizationCore.Strings.MenuAccessDeny></RadzenLabel>
}
