<div class="col-span-6 flex w-full h-10 items-center justify-center">
  @if (string.IsNullOrWhiteSpace(Placeholder))
  {
    <span>@Localizer["BarcodeEditorEmptyPlaceholder"]</span>
  }
  else
  {
    <span>Placeholder</span>
  }
</div>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;

  [Parameter] public string Placeholder { get; set; } = default!;
}