<div class="w-full h-10 grid grid-cols-[3rem_14rem_1fr_1fr_7rem_1fr_3rem] bg-background divide-x border-b px-1.5">
  @foreach (string title in Titles)
  {
  <div class="size-full flex items-center truncate px-3">
    @WsDataLocalizer[title]
  </div>
  }
</div>

@code {
  [Inject] private IStringLocalizer<WsDataResources> WsDataLocalizer { get; set; } = default!;

  private IEnumerable<string> Titles { get; } = ["", "ColType", "ColName", "ColMask", "ColLength", "ColExample", ""];
}