@page "/contacts"
@using DataCore

<h2>
    <RadzenLabel Text=@LocalizationData.Resources.ContactsTitle />
</h2>

<body>
<RadzenLink Icon="account_box" Path=@LocalizationData.Resources.ContactsPhonePath Text=@LocalizationData.Resources.ContactsPhoneText />
<br />
<RadzenLink Icon="account_box" Path=@LocalizationData.Resources.ContactsCreatioPath Text=@LocalizationData.Resources.ContactsCreatioText />
</body>
