@page "/contacts"
@using DataCore.Localizations

<h2>
    <RadzenLabel Text=@LocaleData.Resources.ContactsTitle />
</h2>

<body>
<RadzenLink Icon="account_box" Path=@LocaleData.Resources.ContactsPhonePath Text=@LocaleData.Resources.ContactsPhoneText />
<br />
<RadzenLink Icon="account_box" Path=@LocaleData.Resources.ContactsCreatioPath Text=@LocaleData.Resources.ContactsCreatioText />
</body>
