@*
@page "/creatio"
@using BlazorResourcesVs.Data
@using DataCore
@inject NavigationManager NavigationManager

<h2>
    <RadzenLabel Text=@LocaleData.Resources.CreatioTitle />
</h2>

<body>
    <RadzenLabel Text=@LocaleData.Resources.CreatioOfficialTitle />
    <br />
    <RadzenLink Path=@LocaleData.Resources.CreatioAcademyPath Text=@LocaleData.Resources.CreatioAcademyText />
    <RadzenLink Path=@LocaleData.Resources.CreatioMarketplacePath Text=@LocaleData.Resources.CreatioMarketplaceText
                Style="margin-left: 20px" />
    <RadzenLink Path=@LocaleData.Resources.CreatioCommunityPath Text=@LocaleData.Resources.CreatioCommunityText
                Style="margin-left: 20px" />
    <br />
    <br />
    <RadzenLink Path=@LocaleData.Resources.CreatioWebinarsPath Text=@LocaleData.Resources.CreatioWebinarsText />
    <RadzenTextBox bind-Value=@LocaleData.Resources.CreatioWebinarsPath ReadOnly=true />
    <br />
    <br />
    <RadzenLabel Text=@LocaleData.Resources.CreatioTableTitle Style="align-self: center" />
    @if (LocalSites == null)
    {
        <p><em>@LocaleData.Share.DataLoading</em></p>
    }
    else
    {
        <RadzenGrid Data=@LocalSites TItem="WebSiteEntity" Value=@WebSite 
                    AllowFiltering="true" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive FilterMode="FilterMode.Advanced"
                    AllowPaging=true PageSize="20" AllowSorting="true" >
            <Columns>
                <RadzenGridColumn TItem="WebSiteEntity" Property="Name" Title=@LocaleData.Resources.CreatioTableFieldName Type="string" />
                <RadzenGridColumn TItem="WebSiteEntity" Property="Link" Title=@LocaleData.Resources.CreatioTableFieldLink Type="string" />
                <RadzenGridColumn TItem="WebSiteEntity" Property="Dev" Title=@LocaleData.Resources.CreatioTableFieldDev Type="string" />
            </Columns>
        </RadzenGrid>
    }
    <br />
    <RadzenLink Path=@LocaleData.Resources.CreatioCreStudyPath Text=@LocaleData.Resources.CreatioCreStudyText />
    <RadzenLink Path=@LocaleData.Resources.CreatioCreStudyDevPath Text=@LocaleData.Resources.CreatioCreStudyDevText
                Style="margin-left: 20px" />
    <br />
    <RadzenLink Path=@LocaleData.Resources.CreatioCreUpgradePath Text=@LocaleData.Resources.CreatioCreUpgradeText />
    <RadzenLink Path=@LocaleData.Resources.CreatioCreUpgradeDevPath Text=@LocaleData.Resources.CreatioCreUpgradeDevText
                Style="margin-left: 0" />
    <br />
    <br />
    <RadzenLabel Text=@LocaleData.Resources.CreatioRemoteTitle />
    <br />
    <RadzenLink Path=@LocaleData.Resources.CreatioTerrasoftPrePath Text=@LocaleData.Resources.CreatioTerrasoftPreText />
    <RadzenLink Path=@LocaleData.Resources.CreatioTerrasoftPreDevPath Text=@LocaleData.Resources.CreatioTerrasoftPreDevText
                Style="margin-left: 9px" />
    <br />
    <RadzenLink Path=@LocaleData.Resources.CreatioTerrasoftPre2Path Text=@LocaleData.Resources.CreatioTerrasoftPre2Text />
    <RadzenLink Path=@LocaleData.Resources.CreatioTerrasoftPre2DevPath Text=@LocaleData.Resources.CreatioTerrasoftPre2DevText
                Style="margin-left: 0" />
    <br />
    <RadzenLink Path=@LocaleData.Resources.CreatioTerrasoftPath Text=@LocaleData.Resources.CreatioTerrasoftText />
    <RadzenLink Path=@LocaleData.Resources.CreatioTerrasoftDevPath Text=@LocaleData.Resources.CreatioTerrasoftDevText
                Style="margin-left: 40px" />
</body>
*@