@page "/indexinside"
@using DataProjectsCore
@using DataShareCore

<RadzenPanel AllowCollapse="false" Style="width:100%; margin-bottom: 20px; height:50%;">
    <HeaderTemplate>
        <RadzenLabel Text=@LocalizationCore.Strings.Main.Index Style="align-self: center; width: 100%; height: 25px; " />
    </HeaderTemplate>
    <ChildContent>
        <span class="text-wrap">
            @LocalizationCore.Strings.Main.IndexDescription
        </span>
    </ChildContent>
</RadzenPanel>
