@page "/"
@using BlazorCore
@using DataCore.Localization
@using DataCore;
@using LocalizationCore = DataCore.Localization.Core

<h2>
    <RadzenLabel Text=@LocalizationCore.Strings.Main.Company />
</h2>

<IndexInside />

@code {
}
