@page "/indexinside"
@using BlazorCore.Utils

<RadzenPanel AllowCollapse="false" Style="width:100%; margin-bottom: 20px; height:50%;">
    <HeaderTemplate>
        <RadzenLabel Text="@LocalizationStrings.Share.Index" Style="align-self: center; width: 100%; height: 25px; " />
    </HeaderTemplate>
    <ChildContent>
        <span class="text-wrap">
            @LocalizationStrings.Share.IndexDescription
        </span>
    </ChildContent>
</RadzenPanel>
