@page "/indexinside"
@using BlazorCore
@using DataCore
@using DataCore.Localizations

<RadzenPanel AllowCollapse="false" Style="width:100%; margin-bottom: 20px; height:50%;">
    <HeaderTemplate>
        <RadzenLabel Text=@LocaleCore.Strings.Index Style="align-self: center; width: 100%; height: 25px; " />
    </HeaderTemplate>
    <ChildContent>
        <span class="text-wrap">
            @LocaleCore.Strings.IndexDescription
        </span>
    </ChildContent>
</RadzenPanel>
