@page "/support"
@using DataCore;
@using DataCore.Localizations
using DataCore.Localizations

<h2>
    <RadzenLabel Text=@LocaleData.Resources.SupportTitle />
</h2>

<body>
    <RadzenLink Path=@LocaleData.Resources.SupportCreatio Text=@LocaleData.Resources.SupportLinkCreatioText />
    <br />
    <RadzenLink Path=@LocaleData.Resources.SupportLinkHelpPath Text=@LocaleData.Resources.SupportLinkHelpText Icon="email" />
</body>
