@page "/sysadmin"
@using DataCore;
@using DataCore.Localizations

<h2>
    <RadzenLabel Text=@LocaleData.Resources.SysAdmin />
</h2>

<body>
<RadzenLink Icon="account_box" Path=@LocaleData.Resources.ContactsPhoneText Text=@LocaleData.Resources.ContactsPhoneText />
<br />
<RadzenLink Icon="account_box" Path=@LocaleData.Resources.ContactsCreatioText Text=@LocaleData.Resources.ContactsCreatioText />
</body>
