@page "/versioncontrol"
@using DataCore;
@using DataCore.Localizations

<h2>
    <RadzenLabel Text=@LocaleData.Resources.VersionControlTitle />
</h2>

<body>
    <RadzenLink Path=@LocaleData.Resources.VersionControlSvnVisualStudioPath Text=@LocaleData.Resources.VersionControlSvnVisualStudioText />
    <br />
</body>
