@page "/versioncontrol"
@using DataProjectsCore

<h2>
    <RadzenLabel Text=@LocalizationData.Resources.VersionControlTitle />
</h2>

<body>
    <RadzenLink Path=@LocalizationData.Resources.VersionControlSvnVisualStudioPath Text=@LocalizationData.Resources.VersionControlSvnVisualStudioText />
    <br />
</body>
