@page "/versioncontrol"
@using BlazorCore.Utils

<h2>
    <RadzenLabel Text="@LocalizationStrings.Resources.VersionControlTitle" />
</h2>

<body>
    <RadzenLink Path="@LocalizationStrings.Resources.VersionControlSvnVisualStudioPath" Text="@LocalizationStrings.Resources.VersionControlSvnVisualStudioText" />
    <br />
</body>
