@using Ws.Tablet.Models.Features.Pallets.Output

@attribute [Route($"{Urls.Create}")]

<div class="size-full flex flex-col justify-between max-w-screen-md mx-auto p-6">
  <div class="w-full flex flex-col max-h-full overflow-hidden">
    <InputDocumentNumber @bind-Value="@DocumentNumber" Disabled="@Pallets.Any()" />
    <PalletDataGrid @bind-Value="Pallets" DocumentNumber="@DocumentNumber" />
  </div>
  <div class="w-full flex justify-end pt-3">
    <Button OnClick="@ShowCreateCompleteDialog">
      Подтвердить
    </Button>
  </div>
</div>

@code {
  [Inject] private IDialogService DialogService { get; set; } = default!;

  private List<PalletDto> Pallets { get; set; } = [];
  private string DocumentNumber { get; set; } = string.Empty;

  private Task ShowCreateCompleteDialog() => DialogService.ShowDialogAsync<CompleteCreateDialog>(new());
}
