@using ScalesTablet.Source.Features

<div class="flex gap-3 w-full items-center pb-6">
  <input
    type="number"
    inputmode="numeric"
    value="@Value"
    @oninput="OnValueChanged"
    disabled="@Disabled"
    placeholder="Введите номер документа..."
    class="flex h-10 w-full rounded-md border bg-background px-3 py-2 text-sm placeholder:text-muted-foreground focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50"
  />
  <CameraBarcodeScanner
    Variant="ButtonVariantType.Outline"
    ValueChanged="@OnScannerSend"
    Disabled="@Disabled"
  />
</div>

@code {
  [Parameter] public string Value { get; set; } = string.Empty;
  [Parameter] public EventCallback<string> ValueChanged { get; set; }
  [Parameter] public bool Disabled { get; set; }

  private async Task OnScannerSend(string value)
  {
    if (value == Value) return;
    Value = value;
    await ValueChanged.InvokeAsync(Value);
  }

  private async void OnValueChanged(ChangeEventArgs e)
  {
    string enteredValue = new(e.Value?.ToString()?.Where(char.IsDigit).ToArray());
    if (enteredValue == Value) return;
    Value = enteredValue;
    await ValueChanged.InvokeAsync(Value);
  }
}
