@using DeviceControl2.Source.Shared.Utils

<div class="@Css.Class("bg-background rounded-md overflow-hidden max-h-screen max-w-screen border shadow-lg p-6 gap-4", Class)">
  @ChildContent
</div>

@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter] public string Class { get; set; } = string.Empty;
}