@page

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла ошибка при обработке вашего запроса.</h2>

<h3>Development Mode</h3>
<p>
    При переходе в среду <strong>Разработка</strong> отобразится более подробная информация о возникшей ошибке.
</p>
<p>
    <strong>Среда разработки не должна быть включена для развернутых приложений.</strong>
    Это может привести к отображению конфиденциальной информации от исключений для конечных пользователей.
    Для локальной отладки включите среду <strong>Разработка</strong>, установив для переменной среды <strong>ASPNETCORE_ENVIRONMENT</strong> значение <strong>Разработка</strong>.
    и перезапустите приложение.
</p>
