<div class="w-full flex gap-4 bg-background shrink-0 sticky z-20 top-0 items-center border-b h-14 px-5">
  @ChildContent
</div>

@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }
}