@using Ws.Shared.Enums
@typeparam TDialogItem


<Dialog Class="max-w-screen-lg !p-0">
  <CascadingValue Value="DialogItem" Name="DialogItem">
    <Tabs @bind-ActiveTabId="CurrentTabId">
        <DialogHeader>
          <ul class="flex gap-2">
            @foreach (EnumTypeModel<string> item in TabsList)
            {
              <li>
                <Button
                  Variant="@(CurrentTabId == item.Value ? ButtonVariant.Secondary : ButtonVariant.Outline)"
                  OnClick="@(() => CurrentTabId = item.Value)">
                  @item.Name
                </Button>
              </li>
            }
          </ul>
        </DialogHeader>
        @ChildContent
      </Tabs>
  </CascadingValue>
</Dialog>

@code {
  [Parameter] public List<EnumTypeModel<string>> TabsList { get; set; } = [new("Main", "main")];
  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter, EditorRequired] public TDialogItem DialogItem { get; set; } = default!;

  private string CurrentTabId { get; set; } = "main";
}