@typeparam TDialogItem


<Dialog Class="max-w-screen-lg !p-0">
  <CascadingValue Value="DialogItem" Name="DialogItem">
    <Tabs ActiveTabId="@CurrentTabId">
      <DialogHeader>
        <ul class="flex gap-2">
          @foreach (KeyValuePair<string, string> item in TabsList)
          {
            <li>
              <Button
                Variant="@(CurrentTabId == item.Key ? ButtonVariant.Secondary : ButtonVariant.Outline)"
                OnClick="@(() => CurrentTabId = item.Key)">
                @item.Value
              </Button>
            </li>
          }
        </ul>
      </DialogHeader>
      @ChildContent
    </Tabs>
  </CascadingValue>
</Dialog>

@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter, EditorRequired] public List<KeyValuePair<string, string>> TabsList { get; set; } = default!;
  [Parameter, EditorRequired] public TDialogItem DialogItem { get; set; } = default!;

  private string CurrentTabId { get; set; } = default!;

  protected override void OnInitialized()
  {
    base.OnInitialized();
    if (TabsList.Count > 0) CurrentTabId = TabsList.FirstOrDefault().Key;
  }
}