.plu-config-bar {
  height: 100%;
  width: 30%;
  flex-shrink: 0;
}

.plu-config-bar__list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.plu-print-bar {
  width: 100%;
  height: 100%;
}

.plu-print-bar__list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}