.kneading-display {
  display: grid;
  width: 100%;
  max-width: 30%;
  grid-template-columns: 35% 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.kneading-display__label {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding: 1rem;
}

.kneading-display__value {
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-weight: 700;
  font-size: 2rem;
}