.kneading-display__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 1rem 0.7rem;
}

.kneading-display {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: var(--primary-block-height);
  border: var(--primary-border-size) solid var(--primary-border-color);
  border-radius: var(--primary-border-radius);
  background-color: white;
  box-shadow: var(--primary-shadow);
}

.kneading-display__header {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.6rem;
  padding: 0 1rem;
  border-bottom: var(--primary-border-size) solid var(--primary-border-color);
}

.kneading-display__header-title {
  font-size: 1.5rem;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.kneading-display__list {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem;
  gap: 0.5em;
}

.kneading-display__list-item {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 4rem;
}

.kneading-display__item-label {
  font-size: 1.4rem;
  font-weight: 300;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: start;
  width: 30%;
  height: 100%;
  padding: 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.kneading-display__item-value-default {
  font-size: 1.8rem;
  font-weight: 700;
  overflow: hidden;
}

.kneading-display__item-container {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
}

.net-weight__container {
  font-size: 2.5rem;
  display: flex;
  align-items: end;
  margin: 0 auto;
  padding: 0.2rem 1rem;
  text-align: center;
  border: #c8c8c8 solid var(--primary-border-size);
  border-radius: 0.5rem;
  background-color: #fafafa;

}

.net-weight__char {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
}

.net-weight-stable {
  color: #32c732;
}

.net-weight-unstable {
  color: #b10505;
}

.date-value__btn {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  border: var(--primary-border-size) solid var(--button-border-color);
  border-radius: 0.3rem;
  background-color: var(--button-color);
}

.date-value__btn:hover {
  cursor: pointer;
  background-color: var(--button-hover-color);
}

.date-value__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 0;
}

.date-value {
  font-size: 1.8rem;
  font-weight: 700;
  width: 40%;
  padding: 0 1rem;
  text-align: center;
}

.kneading-value__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 0;
}

.kneading-value__stub {
  width: 30%;
  height: 100%;
}

.kneading-value {
  font-size: 1.8rem;
  font-weight: 700;
  width: 40%;
  padding: 0 0;
  text-align: center;
}

.kneading-value__btn {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  border: 1px solid var(--button-border-color);
  border-radius: 0.3rem;
  background-color: var(--button-color);
}

.kneading-value__btn:hover {
  cursor: pointer;
  background-color: var(--button-hover-color);
}

.kneading-display__warning-wrapper {
  display:flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2.5rem;
}