<div class="flex overflow-hidden w-full h-16">
  <label class="text-3xl font-light flex truncate items-center w-2/5 h-full">
    @Label
  </label>
  <div class="flex overflow-hidden items-center justify-center w-3/5 h-full">
    @ChildContent
  </div>
</div>