.plu-config__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 1rem 0.7rem;
}

.plu-config__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: var(--primary-block-height);
  border: var(--primary-border-size) solid var(--primary-border-color);
  border-radius: var(--primary-border-radius);
  background-color: var(--primary-block-bg-color);
  box-shadow: var(--primary-shadow);
}

.plu-config__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.2rem 1.2rem 1rem 1.2rem;
  overflow: hidden;
  justify-content: space-around;
}

.plu-config__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.2rem;
}

.plu-config__item-label {
  font-size: 1.4rem;
  font-weight: 300;
  flex-shrink: 0;
}

.plu-config__item-button {
  font-size: 1.2rem;
  overflow: hidden;
  width: 100%;
  height: 3.4rem;
  padding: 0 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid var(--button-border-color);
  border-radius: 0.3rem;
  background-color: var(--button-color);
}

.plu-config__item-button:hover {
  cursor: pointer;
  background-color: var(--button-hover-color);
}

.plu-config__header {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  width: 100%;
  height: 4.4rem;
  padding: 0 1.4rem;
  border-bottom: var(--primary-border-size) solid var(--primary-border-color);
}

.plu-config__header-title {
  font-size: 1.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plu-config__header-subtitle {
  font-size: 0.9rem;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}