@inherits ComponentBase

<button
  class="flex overflow-hidden items-center justify-center bg-gray-100 border border-black/[.1] rounded-md w-full h-full
 hover:bg-sky-400"
  @onclick="OnClickAction"
>
  <p>@Title</p>
</button>