.btn-primary {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 100ms;
  border: 1px solid var(--button-border-color);
  border-radius: 0.2rem;
  background-color: var(--button-color);
}

.btn-primary:hover {
  background-color: var(--button-hover-color);
}