@typeparam TItem
@inherits RazorComponentSectionBase<TItem>
@page "/section/actions"
@using BlazorCore.Razors
@using BlazorCore.Utils
@using DataCore.Localizations
@using DataCore.Sql.Core
@using MudBlazor
@using Radzen
@using Radzen.Blazor
@using BlazorDeviceControl.Razors.SystemComponents

<SystemIdentity ParentRazor=@(this) />

<MudPaper Width="100%" Height="32px; " Square=false Color=Color.Transparent >
	<div class="row col-sm-12 col-md-12 col-lg-12" Style="margin-top: 5px; " >
		@if (ButtonSettings is not null && UserSettings is not null)
		{
	        @if (UserSettings.AccessRightsIsAdmin)
	        {
				@if (ButtonSettings.IsShowCopy)
				{
			        <RadzenButton 
				        class=@BlazorCoreUtuls.GetCssName.RadzenButtonLong 
				        Click=@(_ => SqlItemCopyAsync())
				        ButtonStyle=@ButtonStyle.Primary Size=@ButtonSize.Small Icon="warning_amber"
				        Text=@LocaleCore.DeviceControl.TableActionCopy />
				}
	        }
	        @if (UserSettings.AccessRightsIsWrite)
	        {
		        @if (ButtonSettings.IsShowNew)
		        {
			        <RadzenButton 
				        class=@BlazorCoreUtuls.GetCssName.RadzenButtonLong 
				        Click=@(_ => SqlItemNewAsync<TItem>())
				        ButtonStyle=@ButtonStyle.Primary Size=@ButtonSize.Small Icon="add_circle_outline"
				        Text=@LocaleCore.DeviceControl.TableActionAdd />
		        }
		        @if (ButtonSettings.IsShowSave)
				{
			        <RadzenButton 
		                class=@BlazorCoreUtuls.GetCssName.RadzenButtonLong 
				        Click=@(_ => SqlItemsSaveAsync())
		                ButtonStyle=@ButtonStyle.Primary Size=@ButtonSize.Small
						Text=@LocaleCore.DeviceControl.TableActionSave />
				}
		        @if (ButtonSettings.IsShowEdit)
		        {
			        <RadzenButton 
				        class=@BlazorCoreUtuls.GetCssName.RadzenButtonLong 
				        Click=@(_ => SqlItemEditAsync())
				        ButtonStyle=@ButtonStyle.Primary Size=@ButtonSize.Small
		                Text=@LocaleCore.DeviceControl.TableActionEdit />
		        }
		        @if (ButtonSettings.IsShowMark)
		        {
			        <RadzenButton 
				        class=@BlazorCoreUtuls.GetCssName.RadzenButtonLong
				        Click=@(_ => SqlItemMarkAsync())
		                ButtonStyle=@ButtonStyle.Primary Size=@ButtonSize.Small Icon="warning_amber"
		                Text=@LocaleCore.DeviceControl.TableActionMark />
		        }
	        }
			@if (UserSettings.AccessRightsIsAdmin)
			{
				@if (ButtonSettings.IsShowDelete)
				{
					<RadzenButton 
				        class=@BlazorCoreUtuls.GetCssName.RadzenButtonLong
				        Click=@(_ => SqlItemDeleteAsync())
		                ButtonStyle=@ButtonStyle.Primary Size=@ButtonSize.Small Icon="warning_amber"
		                Text=@LocaleCore.DeviceControl.TableActionDelete />
				}
			}
		}
    </div>
</MudPaper>
