@typeparam TItem
@inherits RazorComponentSectionBase<TItem, SqlTableBase>

<MudPaper Width="100%" Height="32px; " Square="false" Color="Color.Transparent">
  <div class="row col-sm-12 col-md-12 col-lg-12" Style="margin-top: 5px; ">
    @if (ButtonSettings is not null && UserSettings is not null)
    {
      @if (UserSettings.AccessRightsIsWrite)
      {
        @if (ButtonSettings.IsShowNew)
        {
          <RadzenButton
            class="RadzenButtonLong"
            Click=@(_ => SqlItemNewAsync<TItem>())
            ButtonStyle=@ButtonStyle.Primary Size=@ButtonSize.Small Icon="add_circle_outline"
            Text=@LocaleCore.DeviceControl.TableActionAdd/>
        }
      }
    }
  </div>
</MudPaper>
