@typeparam TItem
@inherits RazorComponentSectionBase<TItem>
@page "/section/reload"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.ItemComponents
@using DataCore.Localizations
@using DataCore.Sql.Core
@using MudBlazor
@using Radzen
@using Radzen.Blazor
@using BlazorDeviceControl.Razors.SystemComponents

<SystemIdentity ParentRazor=@(this) />

<MudPaper Width="100%" Height="32px" Style="margin-bottom: 30px;" Square=false>
	<MudSimpleTable Style="overflow-x: auto; margin-top: -10px; " Dense=true Bordered=false FixedHeader=false>
		<thead>
		<tr>
			<th style="color:blue; font-weight: normal; width: 60%; "></th>
			<th style="color:blue; font-weight: normal; width: 10%; "></th>
			<th style="color:blue; font-weight: normal; width: 30%; "></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td colspan=@(RazorComponentConfig.IsShowFilterAdditional ? 1 : 3) >
				<RadzenLabel Style="margin-top: 3px; margin-left: 1%; font-size: 12px; " Text=@Title />
				@if (RazorComponentConfig.IsShowFilterOnlyTop)
				{
					<RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@RazorComponentConfig.IsShowOnlyTop
						Change=@(_=> OnChangeAsync())
					    Style="margin-top: -3px; margin-left: 20px; " />
					<RadzenLabel Style="margin-top: 0; margin-left: 5px; font-size: 11px; " 
					    Text=@LocaleCore.Action.ActionIsSelectTopRowsCount(AppSettings.DataAccess.JsonSettingsLocal.SelectTopRowsCount) />
				}
				@if (RazorComponentConfig.IsShowFilterMarked)
				{
					<RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@RazorComponentConfig.IsShowMarked
						Change=@(_ => OnChangeAsync())
						Style="margin-top: -3px; margin-left: 20px; " />
					<RadzenLabel Style="margin-top: 0; margin-left: 5px; font-size: 11px; " Text=@LocaleCore.Action.ActionIsShowMarked />
				}
				<RadzenButton Icon="refresh" ButtonStyle=@ButtonStyle.Primary
							  Style="margin-top: -3px; margin-left: 20px; width: 60px; " Size=@ButtonSize.Small
				              Disabled=@(!AppSettings.DataAccess.IsConnected()) Click=@(_ => OnChangeAsync()) />
				@if (RazorComponentConfig.IsShowItemsCount)
				{
					<RadzenLabel Style="margin-top: 3px; margin-left: 20px; font-size: 11px; " Text=@ItemsCountResult />
				}
			</td>
			@if (RazorComponentConfig.IsShowFilterAdditional)
			{
				<td>
					<RadzenLabel Style="margin-top: 1px; font-size: 11px; text-align: center; height: 100%; " Text=@RazorFieldConfig.Title />
				</td>
				<td>
					<RazorItemFilter TItem=@TItem ParentRazor=@(this) />
				</td>
			}
		</tr>
		</tbody>
    </MudSimpleTable>
</MudPaper>
