@using WsDataCore.Utils
@inherits LayoutComponentBase

@if (SqlItem.CreateDt != DateTime.MinValue && SqlItem.ChangeDt != DateTime.MinValue)
{
  <tr>
    <td><b>@LocaleCore.Table.CreateDt.ToUpper()</b></td>
    <td>@string.Format(StrUtils.FormatDtLong, SqlItem.CreateDt)</td>

    <td><b>@LocaleCore.Table.ChangeDt.ToUpper()</b></td>
    <td>@string.Format(StrUtils.FormatDtLong, SqlItem.ChangeDt)</td>
  </tr>
}