@using Blazor.Heroicons.Outline
@using Ws.Shared.Enums
<div class="w-full h-full overflow-hidden">
  @if (PalletContext.Pallet.Uid == Guid.Empty)
  {
    <div class="flex w-full h-full items-center justify-center">
      <p class="text-xl">Выберите паллету</p>
    </div>
  }
  else
  {
    <div class="w-full h-full overflow-hidden flex flex-col">
      <div class="w-full px-4 shrink-0 border-b items-center flex justify-between h-12">
        <div class="w-32 overflow-hidden">
          <button
            type="button"
            @onclick="CloseCurrentPallet"
            class="px-3 py-1.5 flex gap-2 items-center transition-colors justify-center border border-black/[.1] rounded-md
                      overflow-hidden hover:bg-gray-100"
          >
            <ArrowLeftIcon class="h-4 w-4"/>
            <p class="text-sm pt-[2px] text-black font-medium">
              @Localizer["ButtonBack"]
            </p>
          </button>
        </div>
        <div class="h-full w-full grow overflow-hidden">
          <ul class="w-full h-full flex items-center gap-2 justify-center">
            @foreach(EnumTypeModel<string> item in TabsButtonList)
            {
              <li>
                <button
                  type="button"
                  disabled="@IsSelectedTab(item.Value)"
                  @onclick="() => ChangeSelectedTab(item.Value)"
                  class="px-4 py-1 rounded-md overflow-hidden transition-colors
                            @(IsSelectedTab(item.Value) ? "bg-gray-100 hover:bg-gray-200" : "hover:bg-gray-50")">
                  <p class="text-black pt-[1px] font-normal">@item.Name</p>
                </button>
              </li>
            }
          </ul>
        </div>
        <div class="w-32"></div>
      </div>
      <div class="w-full h-full grow overflow-hidden blazorise-tabs">
        <Tabs
          @ref="TabsRef"
          @bind-SelectedTab="SelectedTab"
          Class="!p-0 h-full w-full overflow-hidden"
        >
          <Content>
            <TabPanel Class="!p-0 rounded-none h-fit w-full bg-inherit" Name="main">
              <PalletForm />
            </TabPanel>
            <TabPanel Class="!p-0 rounded-none h-full w-full bg-inherit blazorise-datagrid" Name="labels">
              <PalletLabels />
            </TabPanel>
          </Content>
        </Tabs>
      </div>
    </div>
  }
</div>