@using Ws.Desktop.Models.Features.Plus.Weight.Output
<Dialog Class="max-w-screen-md select-none">
  <DialogHeader>
    <Button
      Variant="ButtonVariant.Secondary"
      Class="disabled:!opacity-100"
      Disabled
    >
      @Localizer["PluSelectHeader"]
    </Button>
  </DialogHeader>
  <PluDataGrid
    Items="Content.Data"
    OnItemSelect="@(item => Dialog.CloseAsync(item))"
  />
</Dialog>
