@inherits LayoutComponentBase

<div class="page-content__wrapper">
  <div class="page-content__header">
    <p>Title</p>
    <div class="button-exit">
      <button type="button" @onclick="@ExitApp">
        Exit
      </button>
    </div>
  </div>
  <main class="page-content__container">
    @Body
  </main>
</div>
