<div class="@Css.Class("w-full max-h-full p-4", Class)">
  <div class="size-full bg-background rounded-md overflow-hidden border">
    @ChildContent
  </div>
</div>

@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter] public string Class { get; set; } = string.Empty;
}