@using ScalesDesktop.Source.Features.DeviceStatusIcons
@using ScalesDesktop.Source.Shared.Services
@using ScalesDesktop.Source.Widgets.LabelConfig
@using ScalesDesktop.Source.Widgets.LabelDisplay
@using ScalesDesktop.Source.Widgets.MainHeader
@using ScalesDesktop.Source.Features

@attribute [Route(RouteUtils.Labels)]
@implements IDisposable

<div class="flex flex-col select-none grow size-full">
  <MainHeader>
    <div class="size-full items-center justify-end flex pr-10">
      <ul class="flex justify-between items-center gap-3">
        <li><PrinterStatusIcon/></li>
        <li><ScaleStatusIcon/></li>
      </ul>
    </div>
  </MainHeader>
  <div class="size-full flex flex-col grow overflow-hidden items-center justify-center px-8 pt-2 pb-4">
    <div class="w-full grid grid-rows-1 grid-cols-[1fr,1.5fr] h-[34rem] rounded-xl bg-white border divide-x max-w-screen-2xl overflow-hidden">
      <LabelConfig />
      <LabelDisplay />
    </div>
  </div>
  <LineDebug />
</div>

@code {

  # region Injects

  [Inject] private LabelContext LabelContext { get; set; } = default!;
  [Inject] private ScalesService ScalesService { get; set; } = default!;
  [Inject] private PrinterService PrinterService { get; set; } = default!;

  # endregion

  protected override async Task OnInitializedAsync()
  {
    LabelContext.InitializeData();
    ScalesService.Connect();
    await PrinterService.ConnectAsync();
  }

  public void Dispose()
  {
    PrinterService.Disconnect();
    ScalesService.Disconnect();
  }
}
