@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("../fonts/Roboto-Light.tff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("../fonts/Roboto-Regular.tff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("../fonts/Roboto-Bold.tff");
}

:root {
  --button-color: rgb(220, 220, 220);
  --button-hover-color: rgb(220, 220, 255);
  --button-border-color: rgb(150, 150, 150);
  --layout-border-color: rgb(200, 200, 200);
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
