@using ScalesDesktop.Source.Shared.Services
@implements IDisposable

<div class="flex flex-col overflow-hidden items-center h-12 shrink-0 justify-center w-full px-4 border-b ">
  <h1 class="line-clamp-1 text-center font-medium xl:text-lg">
    @LabelContext.Plu?.Name
  </h1>
</div>

@code {

  [Inject] private LabelContext LabelContext { get; set; } = default!;

  protected override void OnInitialized() => LabelContext.StateChanged += StateHasChanged;

  public void Dispose() => LabelContext.StateChanged -= StateHasChanged;
}