@implements IDisposable

<LabelDisplayItem Label="@WsDataLocalizer["ColTareWeight"]">
  <span class="font-medium truncate text-xl xl:text-3xl">
    @($"{GetTareWeight:F3}{WsDataLocalizer["MeasureKg"]}")
  </span>
</LabelDisplayItem>

@code {

  # region Injects

  [Inject] private IStringLocalizer<WsDataResources> WsDataLocalizer { get; set; } = default!;
  [Inject] private LabelContext LabelContext { get; set; } = default!;

  # endregion

  protected override void OnInitialized() => LabelContext.StateChanged += StateHasChanged;

  private decimal GetTareWeight => LabelContext.Plu?.TareWeight ?? 0;

  public void Dispose() => LabelContext.StateChanged -= StateHasChanged;

}