@using Ws.Components.Source.UI.Tabs

<Tabs DefaultTab="first" @ref="InnerTabsComponent">
  <Tab Id="first">
    <p>First tab</p>
  </Tab>
  <Tab Id="second">
    <p>Second tab</p>
  </Tab>
</Tabs>

@code {
  private Tabs InnerTabsComponent { get; set; } = default!;

  public void SetCurrentTabId(string newTabId)
  {
    InnerTabsComponent.ChangeTab(newTabId);
    StateHasChanged();
  }
}
