.snackbar-stack {
  padding-bottom: 3rem !important;
}

.progress-wrapper div {
  margin-bottom: 0 !important;
}

.select-dropdown ul {
  height: fit-content;
  max-height: 15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.select-button span {
  width: 100%;
  text-align: left;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@media (prefers-color-scheme: dark) {
  body {
    color-scheme: dark;
  }
  .b-modal-fade {
    background-color: rgba(20, 20, 20, 0.7) !important;
  }
}