.blazorise-select-override button {
  padding-left: 0.625rem !important;
  padding-right: 0.625rem !important;
  width: 100%;
}

.blazorise-select-override span {
  width: 100%;
  text-align: left;
}

.blazorise-select-override .b-dropdown-menu {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
  overflow-y: auto !important;
}

.snackbar-stack {
  padding-bottom: 3rem !important;
}

.progress-wrapper div {
  margin-bottom: 0 !important;
}