<button
  class="flex flex-col overflow-hidden items-center justify-center bg-gray-100 border border-black/[.1] rounded-md w-full
          h-full transition-colors hover:bg-sky-200 disabled:bg-gray-300"
  @onclick="PrintLabel"
  disabled="@GetPrintLabelDisabledStatus()"
>
  <p class="text-xl xl:text-2xl">@Localizer["ButtonLabelPrint"]</p>
  <p class="xl:text-lg">@Localizer["ButtonLineCounter"]: @LineContext.Line.Counter</p>
</button>