<div class="flex items-center overflow-hidden w-full py-4 px-2 h-full">
  <div class="flex overflow-hidden flex-col max-h-full w-full h-[30rem] border border-black/[.1] rounded-xl bg-white shadow-lg">
    @if (LineContext.Plu.IsNew)
    {
      <div class="flex w-full h-full items-center justify-center">
        <p class="text-center text-xl xl:text-2xl">
          @Localizer["ProductDisplayWarningPluSelect"]
        </p>
      </div>
    }
    else if (IsScalesDisconnected)
    {
      <div class="flex w-full h-full items-center justify-center">
        <p class="text-center text-red-500 text-xl xl:text-2xl">
          @Localizer["ProductDisplayWarningScalesDisconnected"]
        </p>
      </div>
    }
    else
    {
      <div class="flex flex-col overflow-hidden items-center justify-center w-full px-4 border-b border-b-black/[.1]">
        <p class="truncate text-center xl:text-lg">
          Весовая продукция
        </p>
        <p class="text-xl pb-2 font-medium line-clamp-1 text-center xl:text-2xl">
          @LineContext.Plu.DisplayName
        </p>
      </div>
      <ul class="flex overflow-hidden justify-around flex-col h-full w-full px-8 py-4">
        <LabelDisplayWeight />
        <LabelDisplayKneading />
      </ul>
    }
  </div>
</div>