@using Blazor.Heroicons.Outline


<LabelDisplayItem Label="@Localizer["ProductDisplayKneadingLabel"]">
  <div class="flex items-center w-full h-full">
    <div class="w-[30%] h-full"></div>
    <p class="text-xl flex items-center justify-center w-2/5 font-medium truncate xl:text-3xl">
      @LineContext.KneadingModel.KneadingCount
    </p>
    <button
      type="button"
      @onclick="ShowNumericKeyboard"
      class="bg-gray-100 border border-black/[.1] w-[30%] flex items-center justify-center h-full rounded-lg
              overflow-hidden transition-colors hover:bg-sky-200"
    >
      <p class="text-2xl">@Localizer["ButtonCalculatorEnter"]</p>
    </button>
  </div>
</LabelDisplayItem>
