<LabelDisplayItem Label="@Localizer["ProductDisplayTareWeightLabel"]">
  <p class="text-xl font-medium truncate xl:text-3xl">
    @GetTareWeight @Localizer["WeightMeasureKilogram"]
  </p>
</LabelDisplayItem>