<button
  class="flex flex-col overflow-hidden items-center justify-center bg-gray-100 border border-black/[.1] rounded-md w-full
          h-full transition-colors hover:bg-sky-200 disabled:bg-gray-300"
  @onclick="HandleButtonOpenScalesTerminal"
  disabled="@(!(IsScalesAvailable && !IsScalesTerminalWasOpened))"
>
  <p class="text-xl xl:text-2xl">@Localizer["ButtonScaleCalibration"]</p>
  @if (IsScalesTerminalWasOpened)
  {
    <p class="xl:text-lg">@GetCooldownString()</p>
  }
</button>
