@page "/"

<div class="mx-auto max-w-screen-2xl flex flex-col py-5">
  <h1 class="text-center">Hello, world!</h1>
  <div class="flex w-fit gap-2">
    <a href="/auth" class="mt-4 bg-secondary rounded-md flex items-center px-6 pt-2 overflow-hidden w-64">
      Check auth
    </a>
    <a href="/admin" class="mt-4 bg-secondary rounded-md flex items-center px-6 pt-2 overflow-hidden w-64">
      Check admin
    </a>
  </div>
</div>
