* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blazorise-tabs > div:first-child {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.blazorise-datagrid form {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.b-table-fixed-header > .b-table {
  border-collapse: collapse !important;
}

@media (min-width: 1280px) {
  .xl\:text-3xl {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
  }

  .xl\:text-2xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }

  .xl\:text-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }

  .xl\:text-lg {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
  }
}