@using Blazor.Heroicons.Outline
@inherits LayoutComponentBase


<div class="flex w-full relative h-screen overflow-x-hidden">
  <div class="grid w-full min-h-full h-fit grid-cols-[15rem,1fr] grid-rows-1 grow">
    <NavMenu/>
    <div class="flex flex-col w-full h-full">
      <div class="flex z-50 fixed backdrop-blur-sm items-center h-10 w-full px-4 gap-4 shrink-0 border-b border-b-black/[.1]">
        <a href="@RouteUtils.SectionUsers">
          <div class="flex gap-2">
            <UserIcon class="h-5 w-5"/>
            <p>@User?.Identity?.Name</p>
          </div>
        </a>
        <div class="flex gap-2">
          <InformationCircleIcon class="h-5 w-5"/>
          <p>@VerBlazor</p>
        </div>
      </div>
      <div class="flex mt-10 flex-col w-full px-4 grow py-3">
        @Body
      </div>
    </div>
  </div>
</div>

<ModalProvider
  UseModalStructure="false"
  Size="ModalSize.Large"
/>

<NotificationProvider Location="NotificationLocation.End" />
