@using Blazor.Heroicons.Outline
@using DeviceControl.Features.Sections.Shared

<Dropdown>
  <DropdownToggle Class="[&>.b-dropdown-toggle-arrow]:hidden hover:bg-accent hover:text-accent-foreground size-9 justify-center !p-0">
    <SunIcon class="size-5 dark:hidden" />
    <MoonIcon class="size-5 hidden dark:block" />
  </DropdownToggle>
  <DropdownMenu Class="!bg-popover !shadow-sm !divide-y-0 border p-1 text-popover-foreground">
    <button
      type="button"
      class="relative w-full flex items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors hover:bg-accent focus:text-accent-foreground"
      onclick="@(() => SetTheme("light"))"
    >
      Светлая
    </button>
    <button
      type="button"
      class="relative w-full flex items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors hover:bg-accent focus:text-accent-foreground"
      onclick="@(() => SetTheme("dark"))"
    >
      Темная
    </button>
    <button
      type="button"
      class="relative w-full flex items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors hover:bg-accent focus:text-accent-foreground"
      onclick="@(() => SetTheme("system"))"
    >
      Системная
    </button>
  </DropdownMenu>
</Dropdown>

@* 'z-50 min-w-[8rem] overflow-hidden rounded-md border bg-popover p-1 text-popover-foreground sh *@