@inherits RazorComponentItemBase<DataCore.Sql.TableScaleModels.PrintersTypes.PrinterTypeModel>
@page "/item/printer_type"
@page "/item/printer_type/new"
@page "/item/printer_type/{IdentityId:long}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SystemComponents
@using DataCore.Sql.TableScaleModels.PrintersTypes

<SystemIdentity ParentRazor=@(this) />

<RazorItemReload TItem=@PrinterTypeModel ParentRazor=@(this) Title=@LocaleCore.Print.Type />

<MudSimpleTable Style="overflow-x: auto;" Dense=true Bordered=true FixedHeader=false>
	<RazorItemTableHead TItem=@PrinterTypeModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 15, 35, 15, 35 }) />
	<tbody>
		<RazorItemTableBody TItem=@PrinterTypeModel ParentRazor=@(this) />
		<tr>
			<td>@LocaleCore.Table.Name</td>
			<td colspan=3>
				<RadzenTextBox Style="width: 100%; " @bind-Value=@SqlItemCast.Name/>
			</td>
		</tr>
	</tbody>
</MudSimpleTable>

<RazorItemActions TItem=@PrinterTypeModel ParentRazor=@(this) />
<RazorItemDates TItem=@PrinterTypeModel ParentRazor=@(this) />
