@implements IDialogContentComponent

<Dialog Class="max-w-screen-sm !p-0">
  <Tabs>
    <DialogHeader>
      <Button
        Variant="@(CurrentTabId == "main" ? ButtonVariant.Secondary : ButtonVariant.Outline)"
        OnClick="@(() => CurrentTabId = "main")">
        First
      </Button>
      <Button
        Variant="@(CurrentTabId == "test" ? ButtonVariant.Secondary : ButtonVariant.Outline)"
        OnClick="@(() => CurrentTabId = "test")">
        Second
      </Button>
    </DialogHeader>
  </Tabs>
  <div class="p-6 w-full">
    <Tab Id="main">
      Main Page
    </Tab>
    <Tab Id="test">
      Test Page
    </Tab>
  </div>
</Dialog>

@code {
  private string CurrentTabId { get; set; } = "main";
}
