@using Blazor.Heroicons.Outline
@using Ws.Domain.Models.Entities.Print
<div class="h-full w-full overflow-hidden flex flex-col">
  <div class="h-full w-full grow flex flex-col overflow-hidden">
    <div class="h-14 border-b flex gap-2 w-full px-4 items-center shrink-0">
      <div class="border px-2 gap-1 flex shadow-sm items-center rounded-md overflow-hidden w-full h-9">
        <MagnifyingGlassIcon class="size-5 pb-[2px] text-gray-500"/>
        <input
          type="text"
          @bind="InputSearchCounter"
          @bind:event="oninput"
          class="size-full border-none text-sm pl-1 focus:outline-none focus:ring-0"
          placeholder="@Localizer["SearchByNumberPlaceholder"]"
        />
      </div>
      <Button
        Variant="ButtonVariant.Outline"
        Size="ButtonSize.Icon"
        OnClick="@ReloadData"
      >
        <ArrowPathIcon class="size-5 mx-2"/>
      </Button>
      <Button
        Size="ButtonSize.Icon"
        OnClick="@ShowCreateFormDialog"
      >
        <PlusIcon class="size-5 mx-2" />
      </Button>
    </div>
    @if (!PalletContext.PalletEntities.Any())
    {
      <div class="size-full flex items-center justify-center">
        @Localizer["PalletSelectEmpty"]
      </div>
    }
    else
    {
      <ul class="w-full space-y-3 grow px-4 py-3 pr-px overflow-y-scroll">
        @foreach (ViewPallet item in GetFilteredPalletList())
        {
          <li>
            <PalletSelectItem Pallet="item"/>
          </li>
        }
      </ul>
    }
  </div>
</div>