@page "/sqlsettings"
@using DeviceControlBlazor.Utils
@inherits DeviceControlBlazor.Data.BaseRazorEntity

@if (AppSettings.IdentityAccessLevel == true || AppSettings.IdentityAccessLevel == false)
{
    <h2>Настройки SQL</h2>

    <br style="margin-top: 20px" />
    <span>Статус подключения: </span>
    <RadzenCheckBox @bind-Value=@IsDisabled TValue="bool" Disabled="true" />
    <RadzenTextBox Style="width: 15%" Disabled=true Value=@AppSettings.DataAccess.IsDisabled.ToString() Change=@(args => Change(args, "State")) />
}
else
{
    <RadzenLabel Text=@LocalizationStrings.MenuAccessDeny></RadzenLabel>
}
