@using ScalesMobile.Source.Widgets.TransferForm
@using ScalesMobile.Source.Features

@attribute [Route(Routes.Transfer)]

<div class="size-full flex flex-col">
  <PageHeader Title="Перенос паллеты" />
  <TransferForm Model="@Model" />
</div>

@code {
  private TransferFormModel Model { get; set; } = new();
}
