@using ScalesMobile.Source.Features
@using ScalesMobile.Source.Widgets.TransferForm

@attribute [Route(Routes.Transfer)]

<div class="size-full flex flex-col">
  <PageHeader Title="Главное меню" />
  <TransferForm Model="@Model" />
</div>

@code {
  private TransferFormModel Model { get; set; } = new();
}
