@using Blazor.Heroicons.Outline

<Button Size="ButtonSize.Icon" OnClick="@OnClick" Disabled="@IsLoading">
  <PlusIcon class="size-5" />
  <span class="sr-only">Create</span>
</Button>

@code {
  [Parameter] public EventCallback OnClick { get; set; }
  [Parameter] public bool IsLoading { get; set; }
}