@using Blazor.Heroicons.Outline

<Button Size="ButtonSizeType.Small" Variant="ButtonVariantType.Secondary" OnClick="@OnClick" Disabled="@IsLoading">
  <ArrowPathIcon class="size-4 mr-2" />
  Обновить
</Button>

@code {
  [Parameter] public EventCallback OnClick { get; set; }
  [Parameter] public bool IsLoading { get; set; }
}
