@using Ws.DeviceControl.Models.Dto.Shared
@using Blazor.Heroicons.Outline

@if (UserProductionSite.Id == Guid.Empty)
{
  <div class="size-full flex items-center justify-center p-6">
    <div class="max-w-md flex flex-col gap-2 text-center items-center">
      <ExclamationTriangleIcon class="size-16" />
      @Localizer["ProductionSiteSuspenseDescription"]
    </div>
  </div>
}
else
{
  @ChildContent
}

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [CascadingParameter] private ProxyDto UserProductionSite { get; set; } = default!;

  [Parameter] public RenderFragment? ChildContent { get; set; }
}
