@using DeviceControl.Source.Shared.Services
@using Blazor.Heroicons.Outline

<UseParameterlessEndpoint
  Endpoint="ReferencesEndpoints.ProxyUserProductionSiteEndpoint"
  Context="userProductionSiteQuery"
>
  @if (userProductionSiteQuery.IsLoading)
  {
    <PageHeader>
      <Skeleton Class="h-8 w-32" />
    </PageHeader>
  }
  else if (userProductionSiteQuery.IsError || !userProductionSiteQuery.HasData)
  {
  <div class="size-full flex items-center justify-center p-6">
    <div class="max-w-md flex flex-col gap-2 text-center items-center">
      <ExclamationTriangleIcon class="size-16" />
      @Localizer["ProductionSiteSuspenseDescription"]
    </div>
  </div>
  }
  else
  {
    @ChildContent
  }
</UseParameterlessEndpoint>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private ReferencesEndpoints ReferencesEndpoints { get; set; } = default!;

  [Parameter] public RenderFragment? ChildContent { get; set; }
}
