@page "/item/device"
@page "/item/device/{Id:long}"
@page "/item/device/{Id:long}/{TableActionString}"
@using BlazorDeviceControl.Shared.Component
@using DataCore
@using DataCore.Utils
@inherits RazorDisposable

@*
@if (ItemCast == null)
{
    <ActionsLoad ParentRazor=@this DataLoadItem=ShareEnums.ActionsLoad.Loading IsShowProgress=true />
}
else
{
    <ActionsReload ParentRazor=@this Title=@LocalizationData.DeviceControl.ItemDevice SetParameters=@SetParametersAsync />

    <RadzenCard Style="margin-bottom: 0px;">
        <div class="row" Style="margin-top: 0px; margin-left: 0px; margin-right: 0px; ">
            <span Style="align-self: start; width: 15%; height: 25px; ">@LocalizationData.DeviceControl.TableActions</span>
            <RadzenTextBox Style="align-self: end; width: 85%; height: 25px; " Disabled=@AppSettings.DataAccess.IsDisabled TValue="string"
                           @bind-value=@ItemCast.Scales.Description
                           Change=@(args => Change<string>(args, "Description")) />
            <div class="col-md-6" Style="margin-top: 0px; margin-left: 0px; margin-right: 0px; ">
                <br Style="margin-top: 0px; margin-left: 0px; margin-right: 0px; " />
                <span Style="align-self: start; width: 25%; height: 25px; ">Склад:</span>
                @*<RadzenTextBox Style="align-self: end; width: 70%; height: 25px; " Disabled=@DataAccess.IsDisabled @bind-value=@Device.Storage Change=@(args => Change<string>(args, "Storage")) />*@
@*
                <br Style="margin-top: 5px; margin-left: 0px; margin-right: 0px; " />
                <span Style="align-self: start; width: 38%; height: 25px; ">Шаблон тип. этикетки:</span>
                @*<RadzenTextBox Style="align-self: end; width: 60%; height: 25px; " Disabled=@DataAccess.IsDisabled @bind-value=@Device.TemplateDefaultTitle Change=@(args => Change<string>(args, "TemplateDefaultTitle")) />*@
@*
            </div>
            <div class="col-md-6" Style="margin-top: 0px; margin-left: 0px; margin-right: 0px; ">
                <br Style="margin-top: 0px; margin-left: 0px; margin-right: 0px; " />
                <span Style="align-self: start; width: 25%; height: 25px; ">Статус:</span>
                @*RadzenCheckBox Style="align-self: end; width: 25px; height: 25px; " Disabled=@DataAccess.IsDisabled TValue="bool" @bind-value=@Device.State Change=@(args => Change<bool>(args, "State")) />*@
@*
                <RadzenLabel Text="@_state" Component="CheckBox1" Style="align-self: end; width: 60%; height: 25px; "
                             Disabled=@AppSettings.DataAccess.IsDisabled />
                <br Style="margin-top: 5px; margin-left: 0px; margin-right: 0px; " />
                <span Style="align-self: start; width: 38%; height: 25px; ">Шаблон сум. этикетки:</span>
                @*<RadzenTextBox Style="align-self: end; width: 60%; height: 25px; " Disabled=@DataAccess.IsDisabled @bind-value=@Device.TemplateSeriesTitle Change=@(args => Change<string>(args, "TemplateSeriesTitle")) />*@
@*
            </div>
        </div>
    </RadzenCard>
}
*@
