@page "/item/dates"
@using BlazorCore
@using BlazorCore.DAL.TableModels
@using BlazorCore.Utils
@inherits BlazorCore.Models.BaseRazorEntity

<MudPaper Width="100%" Height="31px" Square=false Color="Color.Default" >
    <div class="row col-sm-12 col-md-12 col-lg-12" Style="margin-top: 5px; " >
        @if (Item == null)
        {
            <RadzenLabel Text=@LocalizationStrings.Share.DataLoading Style="width: 20%" />
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
        }
        else
        {
            <RadzenLabel Style="margin-top: 3px; text-align: center; width: 24%; height: 25px; font-size: 12px; "
                Text=@LocalizationStrings.DeviceControl.TableFieldCreateDt />
            <RadzenLabel Style="margin-top: 3px; text-align: left; width: 24%; height: 25px; font-size: 12px; "
                Text=@DtCreate />
            <RadzenLabel Style="margin-top: 3px; text-align: center; width: 24%; height: 25px; font-size: 12px; "
                Text=@LocalizationStrings.DeviceControl.TableFieldModifiedDate />
            <RadzenLabel Style="margin-top: 3px; text-align: left; width: 24%; height: 25px; font-size: 12px; "
                Text=@DtModify />
        }
    </div>
</MudPaper>
