@page "/item/actions"
@using BlazorCore
@using BlazorCore.Utils
@inherits BlazorCore.Models.BaseRazorActionsEntity

<div class="row col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px">
    @if (ParentItem == null)
    {
        <RadzenLabel Text=@LocalizationStrings.Share.ItemAccessNone />
    }
    else
    {
        @if (AppSettings.IdentityItem.AccessLevel is true or false)
        {
            @if (IsShowNew)
            {
                <RadzenButton Click=@(args => ActionNewAsync(Table, ChildItem, ParentItem))
                              ButtonStyle="ButtonStyle.Secondary"
                              Style="margin-left: 30px; margin-top: 5px; width: 250px; height: 30px; font-size: 12px;"
                              Text=@LocalizationStrings.DeviceControl.TableActionNew Disabled=@AppSettings.DataAccess.IsDisabled />
            }
            @if (IsShowAdd)
            {
                <RadzenButton Click=@(args => ActionAddAsync(Table, ChildItem, ParentItem))
                              ButtonStyle="ButtonStyle.Secondary"
                              Style="margin-left: 30px; margin-top: 5px; width: 250px; height: 30px; font-size: 12px;"
                              Text=@LocalizationStrings.DeviceControl.TableActionAdd Disabled=@AppSettings.DataAccess.IsDisabled />
            }
            @if (IsShowEdit)
            {
                <RadzenButton Click=@(args => ActionEditAsync(Table, ChildItem, Page, false, ParentItem))
                              ButtonStyle="ButtonStyle.Secondary"
                              Style="margin-left: 30px; margin-top: 5px; width: 250px; height: 30px; font-size: 12px;"
                              Text=@LocalizationStrings.DeviceControl.TableActionEdit Disabled=@AppSettings.DataAccess.IsDisabled />
            }
            @if (IsShowCopy)
            {
                <RadzenButton Click=@(args => ActionCopyAsync(Table, ChildItem, ParentItem))
                              ButtonStyle="ButtonStyle.Secondary"
                              Style="margin-left: 30px; margin-top: 5px; width: 250px; height: 30px; font-size: 12px;"
                              Text=@LocalizationStrings.DeviceControl.TableActionCopy Disabled=@AppSettings.DataAccess.IsDisabled />
            }
            @if (IsShowMark)
            {
                <RadzenButton Click=@(args => ActionMarkAsync(Table, ChildItem, ParentItem))
                              ButtonStyle="ButtonStyle.Secondary"
                              Style="margin-left: 30px; margin-top: 5px; width: 250px; height: 30px; font-size: 12px;"
                              Text=@LocalizationStrings.DeviceControl.TableActionMarked Disabled=@AppSettings.DataAccess.IsDisabled />
            }
            @if (IsShowDelete)
            {
                <RadzenButton Click=@(args => ActionDeleteAsync(Table, ChildItem, ParentItem))
                              ButtonStyle="ButtonStyle.Secondary"
                              Style="margin-left: 30px; margin-top: 5px; width: 250px; height: 30px; font-size: 12px;"
                              Text=@LocalizationStrings.DeviceControl.TableActionDelete Disabled=@AppSettings.DataAccess.IsDisabled />
            }
        }
        else
        {
            <RadzenLabel Text=@LocalizationStrings.Share.ItemAccessDeny />
        }
    }
</div>
