@page "/item/nomenclature"
@page "/item/nomenclature/{Id:int}"
@using BlazorProjectsCore.Models
@using DataProjectsCore
@using DataProjectsCore.Utils
@using DataCore
@using Microsoft.VisualBasic.CompilerServices
@inherits BaseRazorIdEntity

<div class="row col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <RadzenLabel Style="width: 35%;" Text=@LocalizationData.DeviceControl.TableFieldName />
        <RadzenTextBox Style="width: 63%;" Disabled="false" TValue="string" @bind-value=@NomenclatureItem.Name />
        <br />
        <RadzenLabel Style="width: 35%;" Text=@LocalizationData.DeviceControl.TableFieldCode />
        <RadzenTextBox Style="width: 63%;" Disabled="false" TValue="string" @bind-value=@NomenclatureItem.Code />
        <br />
    </div>
    <br />
    <div class="col-sm-6 col-md-6 col-lg-6">
        <RadzenLabel Style="width: 35%;" Text=@LocalizationData.DeviceControl.TableFieldXml />
        <RadzenTextBox Style="width: 63%; " Disabled="false" TValue="string" @bind-Value=@NomenclatureItem.SerializedRepresentationObject />
        <br />
    </div>
</div>

<div class="row col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <RadzenLabel Style="width: 100%; text-align: center;" Text=@LocalizationData.DeviceControl.SectionNomenclatureUnits />
        <br />
        @*@if (NomenclatureUnitsEntities == null)
            {
                <RadzenLabel Text=@LocalizationData.DeviceControl.DataLoading />
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
            }
            else
            {
                <RadzenGrid Data=@NomenclatureUnitsEntities TItem="NomenclatureUnitsEntity"
                            RowSelect=@(args => RowSelectAsync(args)) RowDoubleClick=@(args => RowDoubleClickAsync(args))
                            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced"
                            AllowPaging="true" PageSize="10" AllowSorting="true" ColumnWidth="200px">
                    <Columns>
                        <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="Id" Title=@LocalizationData.DeviceControl.TableFieldId
                                          Type="int" Width="10%" />
                        <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="CreateDate" Title=@LocalizationData.DeviceControl.TableFieldCreateDt
                                          Type="DateTime" Width="10%" />
                        <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="ModifiedDate" Title=@LocalizationData.DeviceControl.TableFieldModifiedDate
                                          Type="DateTime" Width="10%" />
                        <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="Name" Title=@LocalizationData.DeviceControl.TableFieldName
                                          Type="string" Width="10%" />
                        <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="NomenclatureId" Title=@LocalizationData.DeviceControl.TableFieldNomenclatureId
                                          Type="string" Width="10%" />
                        <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="Marked" Title=@LocalizationData.DeviceControl.TableFieldMarked
                                          Type="bool" Width="10%" />
                        <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="PackWeight" Title=@LocalizationData.DeviceControl.TableFieldPackWeight
                                          Type="decimal" Width="10%" />
                        <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="PackQuantly" Title=@LocalizationData.DeviceControl.TableFieldPackQuantly
                                          Type="int" Width="10%" />
                        <RadzenGridColumn TItem="NomenclatureUnitsEntity" Property="PackTypeId" Title=@LocalizationData.DeviceControl.TableFieldPackTypeId
                                          Type="int" Width="10%" />
                    </Columns>
                </RadzenGrid>
            }*@
    </div>
    <br />
    <div class="col-sm-6 col-md-6 col-lg-6">
        <RadzenLabel Style="width: 100%; text-align: center;" Text=@LocalizationData.DeviceControl.SectionBarcodes />
        <br />
        @*@if (BarCodesEntities == null)
            {
                <RadzenLabel Text=@LocalizationData.DeviceControl.DataLoading />
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
            }
            else
            {
                <RadzenGrid id="RadzenGrid" Data=@BarCodesEntities TItem="BarCodesEntity"
                            RowSelect=@(args => RowSelectAsync(args)) RowDoubleClick=@(args => RowDoubleClickAsync(args))
                            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced"
                            AllowPaging="true" PageSize="10" AllowSorting="true" ColumnWidth="200px">
                    <Columns>
                        <RadzenGridColumn TItem="BarCodesEntity" Property="Id" Title=@LocalizationData.DeviceControl.TableFieldId
                                          Type="int" Width="10%" />
                        <RadzenGridColumn TItem="BarCodesEntity" Property="CreateDate" Title=@LocalizationData.DeviceControl.TableFieldCreateDt
                                          Type="DateTime" Width="10%" />
                        <RadzenGridColumn TItem="BarCodesEntity" Property="ModifiedDate" Title=@LocalizationData.DeviceControl.TableFieldModifiedDate
                                          Type="DateTime" Width="10%" />
                        <RadzenGridColumn TItem="BarCodesEntity" Property="BarCodeTypeId" Title=@LocalizationData.DeviceControl.TableFieldBarCodeTypeId
                                          Type="int" Width="10%" />
                        <RadzenGridColumn TItem="BarCodesEntity" Property="NomenclatureId" Title=@LocalizationData.DeviceControl.TableFieldNomenclatureId
                                          Type="int" Width="10%" />
                        <RadzenGridColumn TItem="BarCodesEntity" Property="NomenclatureUnitId" Title=@LocalizationData.DeviceControl.TableFieldNomenclatureUnitId
                                          Type="int" Width="10%" />
                        <RadzenGridColumn TItem="BarCodesEntity" Property="ContragentId" Title=@LocalizationData.DeviceControl.TableFieldContragentId
                                          Type="int" Width="10%" />
                        <RadzenGridColumn TItem="BarCodesEntity" Property="Value" Title=@LocalizationData.DeviceControl.TableFieldValue
                                          Type="string" Width="10%" />
                    </Columns>
                </RadzenGrid>
            }*@
    </div>
</div>
