@page "/item/printertype"
@page "/item/printertype/{Id:int}"
@using BlazorCore.Utils
@inherits BlazorCore.Models.BaseRazorIdEntity

<div class="col-sm-6 col-md-6 col-lg-6">
    <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldId />
    <RadzenNumeric Style="width: 63%; text-align: center" Disabled="true" TValue="int" @bind-Value=@PrinterTypeItem.Id />
    <br />
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
    <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldName />
    <RadzenTextBox Style="width: 63%; text-align: center;" Disabled="false" TValue="string" @bind-Value=@PrinterTypeItem.Name />
    <br />
</div>
