@page "/item/printerresource"
@page "/item/printerresource/{Id:int}"
@using System.Globalization
@using BlazorCore.DAL.TableModels
@using BlazorCore.Utils
@inherits BlazorCore.Models.BaseRazorIdEntity

<div class="col-sm-6 col-md-6 col-lg-6">
    <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldZebraPrinter />
    @if (PrinterItems == null)
    {
        <RadzenTextBox Style="width: 63%;" Disabled="true" TValue="string" Value="" />
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
    }
    else
    {
        <RadzenDropDownDataGrid Style="width: 63%;" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                                Data=@PrinterItems PageSize="10"
                                TextProperty="Name" ValueProperty="Id"
                                Value=@PrinterResourceItem.Printer?.Id Disabled="true"
                                Change=@(args => OnChange(args, nameof(ZebraPrinterEntity))) />
    }
    <br />
    <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldDescription />
    <RadzenTextBox Style="width: 63%; text-align: center;" Disabled="false" TValue="string" @bind-Value=@PrinterResourceItem.Description />
    <br />
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
    <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldResource />
    @if (ResourceItems == null)
    {
        <RadzenTextBox Style="width: 63%;" Disabled="true" TValue="string" Value="" />
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
    }
    else
    {
        <RadzenDropDownDataGrid Style="width: 63%;" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                                Data=@ResourceItems PageSize="5"
                                TextProperty="Name" ValueProperty="Id"
                                Value=@PrinterResourceItem.Resource?.Id
                                Change=@(args => OnChange(args, nameof(TemplateResourceEntity))) />
    }
    <br />
    <br />
</div>
