@page "/item/printer"
@page "/item/printer/{Id:int}"
@using BlazorCore
@using BlazorCore.DAL.TableModels
@using BlazorCore.Utils
@using BlazorDeviceControl.Shared.Component
@using BlazorDeviceControl.Shared.Section
@inherits BlazorCore.Models.BaseRazorIdEntity
@inject IDialogService DialogService

@if (AppSettings.IdentityItem.AccessLevel is true or false)
{
    <DataReload Title=@LocalizationStrings.DeviceControl.ItemPrinter SetParameters=@SetParametersAsync />
    @if (PrinterItem == null)
    {
        <DataLoad DataLoadItem=EnumDataLoad.Loading IsShowProgress=true />
    }
    else
    {
        <div class="col-sm-6 col-md-6 col-lg-6">
            <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldName />
            <RadzenTextBox Style="width: 63%; text-align: center;" Disabled="false" TValue="string" @bind-Value=@PrinterItem.Name />
            <br />
            <RadzenLink Style="width: 12%;" Text=@LocalizationStrings.DeviceControl.TableFieldZebraPrinter
                    Target="_blank" Path=@PrinterItem.Link />
            <RadzenLabel Style="width: 23.5%; margin-left: 2.3%;" Text=@LocalizationStrings.DeviceControl.TableFieldZebraPrinterIp />
            <RadzenTextBox Style="width: 63%; text-align: center;" Disabled="false" TValue="string" @bind-Value=@PrinterItem.Ip />
            <br />
            <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldZebraPrinterPort />
            <RadzenNumeric Style="width: 63%; text-align: center;" Disabled="false" TValue="short" @bind-Value=@PrinterItem.Port />
            <br />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldZebraPrinterMac />
            <RadzenTextBox Style="width: 63%; text-align: center;" Disabled="false" TValue="string" @bind-Value=@PrinterItem.Mac />
            <br />
            <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldZebraPrinterPassword />
            <RadzenTextBox Style="width: 63%; text-align: center;" Disabled="false" TValue="string" @bind-Value=@PrinterItem.Password />
            <br />
            <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldZebraPrinterType />
            @if (PrinterTypeItems == null)
            {
                <RadzenTextBox Style="width: 63%;" Disabled="true" TValue="string" Value="" />
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
            }
            else
            {
                <RadzenDropDownDataGrid Style="width: 63%;" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                                    Data=@PrinterTypeItems PageSize="10"
                                    TextProperty="Name" ValueProperty="Id"
                                    Value=@PrinterItem.PrinterType?.Id
                                    Change=@(args => OnChange(args, "ZebraPrinterTypeItems")) />
            }
            <br />
        </div>
        <PrinterResources PrinterId=@Id />
        <ItemSave Item=@PrinterItem />
        <ItemDates Item=@PrinterItem />
    }
}
else
{
    <RadzenLabel Text=@LocalizationStrings.Share.SectionAccessDeny></RadzenLabel>
}
