@page "/item/productionfacility"
@page "/item/productionfacility/{Id:int}"
@using DataProjectsCore
@using DataProjectsCore.Utils
@inherits RazorDisposable

<div class="row col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <RadzenLabel Style="width: 35%;" Text=@LocalizationData.DeviceControl.TableFieldName />
        <RadzenTextBox Style="width: 63%;" Disabled="false" TValue="string" @bind-value=@ProductionFacilityItem.Name />
        <br />
    </div>
    <br />
    <div class="col-sm-6 col-md-6 col-lg-6">
        <br />
    </div>
</div>
