@page "/item/templateresource"
@page "/item/templateresource/{Id:int}"
@using BlazorCore.Models
@using DataProjectsCore
@using DataProjectsCore.Utils
@using DataShareCore
@inherits RazorDisposable

<div class="col-sm-6 col-md-6 col-lg-6">
    <RadzenLabel Style="width: 27%;" Text=@LocalizationData.DeviceControl.TableFieldName />
    <RadzenTextBox Style="width: 70%; text-align: center;" Disabled="false" TValue="string" @bind-value=@TemplateResourcesItem.Name />
    <br />
    <RadzenLabel Style="width: 27%;" Text=@LocalizationData.DeviceControl.TableFieldDescription />
    <RadzenTextBox Style="width: 70%; text-align: center;" Disabled="false" TValue="string" @bind-value=@TemplateResourcesItem.Description />
    <br />
    <RadzenLabel Style="width: 97%;" Text=@FileInfo />
    <br />
    <RadzenLabel Style="width: 97%;" Text=@FileComplete />
    <br />
    <RadzenLabel Style="width: 27%; " Text=@LocalizationCore.Strings.FileUpload />
    <Microsoft.AspNetCore.Components.Forms.InputFile style="width: 50%; " OnChange=@OnFileUpload />
    <br />
    <RadzenLabel Style="width: 27%; " Text=@LocalizationCore.Strings.FileDownload />
    <RadzenButton Style="width: 50%; height: 30px; text-align: center; "
                    Click=@OnFileDownload Text=@LocalizationCore.Strings.FileDownload />
    <br />
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
    <RadzenLabel Style="width: 27%;" Text=@LocalizationData.DeviceControl.TableFieldType />
    @if (ResourceTypes == null)
    {
        <RadzenTextBox Style="width: 70%;" Disabled="true" TValue="string" Value="" />
        <RadzenProgressBar Value=@ProgressValue Unit=@FileInfo
                            ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
    }
    else
    {
        <RadzenDropDown Style="width: 70%;" TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                        Data=@ResourceTypes PageSize="5" TextProperty="Name" ValueProperty="Value"
                        Value=@TemplateResourcesItem.Type Change=@(args => OnChange(args, "ResourceTypes")) />
    }
    <br />
    <RadzenLabel Style="width: 27%;" Text=@LocalizationData.DeviceControl.TableFieldImageData />
    <RadzenTextBox Style="width: 70%; text-align: center;" ReadOnly="true" TValue="string" @bind-value=@TemplateResourcesItem.ImageDataInfo />
    <br />
</div>
