@page "/item/template"
@page "/item/template/{Id:int}"
@page "/item/template/{Id:int}/{TableActionString}"
@using DataProjectsCore
@using DataProjectsCore.Utils
@inherits RazorDisposable

<div class="col-sm-6 col-md-6 col-lg-6">
    <RadzenLabel Style="width: 27%;" Text=@LocalizationData.DeviceControl.TableFieldTitle />
    <RadzenTextBox Style="width: 70%; text-align: center;" Disabled=false TValue="string" @bind-value=@TemplateItem.Title />
    <br />
    <RadzenLabel Style="width: 27%; " Text=@LocalizationData.DeviceControl.TableFieldImageData />
    <br />
</div>
<br />
<div class="col-sm-6 col-md-6 col-lg-6">
    <RadzenLabel Style="width: 27%;" Text=@LocalizationData.DeviceControl.TableFieldCategoryName />
    @if (TemplateCategories == null)
    {
        <RadzenTextBox Style="width: 70%;" Disabled=false ReadOnly=true TValue="string" Value="" />
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
    }
    else
    {
        <RadzenDropDown Style="width: 70%;" TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                        Data=@TemplateCategories PageSize="5" TextProperty="Name" ValueProperty="Value"
                        Value=@TemplateItem.CategoryId Change=@(args => OnChange(args, "TemlateCategories")) />
    }
    <br />
</div>

<div class="row col-sm-12 col-md-12 col-lg-12" style="margin-top: 0px; height: 550px;">
    <RadzenTextArea Style="width: 100%; height: 100%; font-size: 13px; line-height: 18px;"
                    ReadOnly="false" TValue="string" @bind-value=@TemplateItem.ImageDataStringUnicode />
</div>
