@page "/item/workshop"
@page "/item/workshop/{Id:int}"
@using BlazorCore.Utils
@inherits BlazorCore.Models.BaseRazorIdEntity

<div class="col-sm-6 col-md-6 col-lg-6">
    <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldName />
    <RadzenTextBox Style="width: 63%; text-align: center;" Disabled="false" TValue="string" @bind-Value=@WorkshopItem.Name />
    <br />
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
    <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldProductionFacilityName />
    @if (ProductionFacilityEntities == null)
    {
        <RadzenTextBox Style="width: 63%;" Disabled="true" TValue="string" Value="" />
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
    }
    else
    {
        <RadzenDropDownDataGrid Style="width: 63%;" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                                Data=@ProductionFacilityEntities PageSize="5"
                                TextProperty="Name" ValueProperty="Id"
                                Value=@WorkshopItem.ProductionFacility?.Id
                                Change=@(args => OnChange(args, "ProductionFacilities")) />
    }
    <br />
</div>
