@using MdmControlBlazor.Utils
@inherits MdmControlBlazor.Data.BaseRazorEntity

<div class="page">
    @if (IsSqlServerRelease)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    else
    {
        <div class="sidebar" style="background: Green">
            <NavMenu />
        </div>
    }
    <div class="main">
        <div class="top-row px-4">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <RadzenLabel Text=@DbServer Style="text-align: left;" />
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <RadzenLabel Text=@AuthMessage Style="text-align: center; margin-left: 50px; height: 10px;" />
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <RadzenLabel Text=@MemoryInfo Style="text-align: center; margin-left: 50px; height: 10px;" />
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <RadzenLink Icon="email" Text=@LocalizationStrings.MainCallbackTitle Path=@LocalizationStrings.MainCallbackEmail Style="text-align: center" />
            </div>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
