@using ScalesDesktop.Source.Features.ErrorBoundaries
@inherits LayoutComponentBase

<ArmErrorBoundary>
  <div class="w-screen h-screen overflow-hidden select-none text-black bg-secondary/[.3] overscroll-none">
    @Body
  </div>
</ArmErrorBoundary>
<ArmDebug />

<FluentDialogProvider />
<FluentTooltipProvider />
<FluentToastProvider Position="@ToastPosition.TopCenter" />
<StoreInitializer />
