<Button
  Variant="ButtonVariant.Outline"
  OnClick="@OnClick"
  Class="@Css.Class("!w-full !justify-start", Class)"
  Disabled="@IsDisabled"
>
  @ChildContent
</Button>

@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter] public string Class { get; set; } = string.Empty;
  [Parameter] public EventCallback OnClick { get; set; }
  [Parameter] public bool IsDisabled { get; set; }
}