@using Blazor.Heroicons.Outline
@using DeviceControl2.Source.Shared.Auth.Policies
@using DeviceControl2.Source.Shared.Localization;
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<ApplicationResources> Localizer

<AuthorizeView Policy="@PolicyEnum.Admin">
  <SectionFormAction OnClick="@SwitchIsUnlocked" Class="@Class">
    @if (IsUnlocked)
    {
      <LockClosedIcon class="size-4 mr-2"/>
      <span>Заблокировать</span>
    }
    else
    {
      <LockOpenIcon class="size-4 mr-2"/>
      <span>Разблокировать</span>
    }
  </SectionFormAction>
</AuthorizeView>

@code {
  [Parameter] public bool IsUnlocked { get; set; }
  [Parameter] public EventCallback<bool> IsUnlockedChanged { get; set; }
  [Parameter] public string Class { get; set; } = string.Empty;

  private async Task SwitchIsUnlocked()
  {
    IsUnlocked = !IsUnlocked;
    await IsUnlockedChanged.InvokeAsync(IsUnlocked);
  }
}