@page "/Docs"
@using BlazorDeviceControl.Utils
@using BlazorDeviceControl.Data
@inject DataAccessConfig _dataAccessConfig

<h2>@LocalizationStrings.DocTitle</h2>

<div>
    <RadzenTextArea Value=@Doc Style="width: 100%; height: 90%; font-size: 14px; line-height: 20px;"
                    ReadOnly="true" />
</div>

@code {
    private string SqlUser => _dataAccessConfig.Trusted ? "windows-аккаунт" : $"sql-аккаунт: {_dataAccessConfig.Username}";
    public string Doc => LocalizationStrings.DocText + Environment.NewLine + Environment.NewLine + 
                         $@"SQL-сервер: {_dataAccessConfig.Server}" + Environment.NewLine + 
                         $@"SQL-БД: {_dataAccessConfig.Db}" + Environment.NewLine + 
                         $@"{SqlUser}" + Environment.NewLine;
}
