@page "/logs"
@using DeviceControl.Core.DAL
@using DeviceControl.Core.DAL.TableModels
@using System.Runtime.CompilerServices
@using BlazorDeviceControl.Data
@using BlazorDeviceControl.Utils
@using DeviceControl.Core
@using DeviceControl.Core.DAL.DataModels
@using DeviceControl.Core.Models
@using Toolbelt.Blazor.HotKeys
@inject AppSettings AppSettings
@inject DataAccessConfig DataAccessConfig
@inject DialogService Dialog
@inject NavigationManager Navigation
@inject NotificationService Notification
@inject TooltipService Tooltip
@inject HotKeys HotKeys
@inject IJSRuntime JsRuntime
@* Header *@
<h2 style="font-size: @FontSizeHeader;">
    @GetHeader()
    <RadzenButton Click=@(args => GetDataAsync())
                  ButtonStyle="ButtonStyle.Primary" Style="margin-top: 10px; width: 80px; margin-left: 25px"
                  class="oi oi-reload" Disabled=@AppSettings.DataAccess.IsDisabled MouseEnter="@(args => ShowTooltipGetData(args))" />
</h2>

<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text=@LocalizationStrings.Table>
            @* RadzenGrid *@
            <div class="row col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px;">
                @if (EntitiesSummary == null)
                {
                    <RadzenLabel Text=@LocalizationStrings.DataLoading Style="width: 20%" />
                    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
                }
                else
                {
                    // Sorting by [WeithingDate].
                    <RadzenGrid Data=@EntitiesSummary TItem="LogSummaryEntity"
                                AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced"
                                AllowPaging="true" PageSize="100" AllowSorting="true" ColumnWidth="200px">
                        <Columns>
                            <RadzenGridColumn TItem="LogSummaryEntity" Property="WeithingDate" TextAlign="TextAlign.Center"
                                              Title=@LocalizationStrings.TableFieldCreateDate Type="date" Width="14%">
                                <Template Context="logItem">
                                    <RadzenDatePicker TValue="string" Value=@logItem.CreateDt Disabled="true" DateFormat="yyyy-MM-dd HH:mm:ss" />
                                </Template>
                            </RadzenGridColumn>
                            <RadzenGridColumn TItem="LogSummaryEntity" Property="Host" TextAlign="TextAlign.Left"
                                              Title=@LocalizationStrings.TableFieldHost Type="string" Width="7%" />
                            <RadzenGridColumn TItem="LogSummaryEntity" Property="App" TextAlign="TextAlign.Left"
                                              Title=@LocalizationStrings.TableFieldApp Type="string" Width="7%" />
                            <RadzenGridColumn TItem="LogSummaryEntity" Property="Version" TextAlign="TextAlign.Center"
                                              Title=@LocalizationStrings.TableFieldVersion Type="string" Width="6%">
                                <Template Context="logItem">
                                    <RadzenLabel Text=@logItem.Version Disabled="true" />
                                </Template>
                            </RadzenGridColumn>
                            <RadzenGridColumn TItem="LogSummaryEntity" Property="File" TextAlign="TextAlign.Left"
                                              Title=@LocalizationStrings.TableFieldFile Type="string" Width="10%" />
                            <RadzenGridColumn TItem="LogSummaryEntity" Property="Line" TextAlign="TextAlign.Center"
                                              Title=@LocalizationStrings.TableFieldRow Type="int" Width="5%">
                                <Template Context="logItem">
                                    <RadzenLabel Text=@logItem.Line.ToString() Disabled="true" />
                                </Template>
                            </RadzenGridColumn>
                            <RadzenGridColumn TItem="LogSummaryEntity" Property="Member" TextAlign="TextAlign.Left"
                                              Title=@LocalizationStrings.TableFieldMember Type="string" Width="15%" />
                            <RadzenGridColumn TItem="LogSummaryEntity" Property="Icon" TextAlign="TextAlign.Left"
                                              Title=@LocalizationStrings.TableFieldIcon Type="string" Width="7%" />
                            <RadzenGridColumn TItem="LogSummaryEntity" Property="Message" TextAlign="TextAlign.Left"
                                              Title=@LocalizationStrings.TableFieldMessage Type="string" Width="29%">
                                <Template Context="logItem">
                                    <RadzenLabel Text=@logItem.Message Disabled="true" Style="white-space: pre-wrap;" />
                                </Template>
                            </RadzenGridColumn>
                        </Columns>
                    </RadzenGrid>
                }
            </div>
            @* Actions *@
            <div class="row col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px; height: 50px;">
                @if (AppSettings.IsDebug && !AppSettings.ShowActionsButtons)
                {
                    AppSettings.ShowActionsButtons = true;
                    <RadzenLabel Text=@LocalizationStrings.IsDebug />
                    <br />
                }
                @if (AppSettings.ShowActionsButtons)
                {
                    <RadzenButton Click=@(args => ActionAddAsync(EnumTable.WeithingFact, Entity, null))
                                  ButtonStyle="ButtonStyle.Secondary"
                                  Style="margin-left: 30px; width: 200px; height: 30px; font-size: 12px;"
                                  Text=@LocalizationStrings.TableActionAdd Disabled=@AppSettings.DataAccess.IsDisabled />
                    <RadzenButton Click=@(args => ActionEditAsync(EnumTable.WeithingFact, Entity, null))
                                  ButtonStyle="ButtonStyle.Secondary"
                                  Style="margin-left: 30px; width: 200px; height: 30px; font-size: 12px; "
                                  Text=@LocalizationStrings.TableActionEdit Disabled=@AppSettings.DataAccess.IsDisabled />
                    <RadzenButton Click=@(args => ActionMarkedAsync(EnumTable.WeithingFact, Entity, null))
                                  ButtonStyle="ButtonStyle.Secondary"
                                  Style="margin-left: 30px; width: 200px; height: 30px; font-size: 12px; "
                                  Text=@LocalizationStrings.TableActionDelete Disabled=@AppSettings.DataAccess.IsDisabled />
                    @if (AppSettings.IsDebug)
                    {
                        <RadzenButton Click=@(args => ActionCopyAsync(EnumTable.WeithingFact, Entity, null))
                                      ButtonStyle="ButtonStyle.Secondary"
                                      Style="margin-left: 30px; width: 200px; height: 30px; font-size: 12px; "
                                      Text=@LocalizationStrings.TableActionCopy Disabled=@AppSettings.DataAccess.IsDisabled />
                        <RadzenButton Click=@(args => ActionDeleteAsync(EnumTable.WeithingFact, Entity, null))
                                      ButtonStyle="ButtonStyle.Secondary"
                                      Style="margin-left: 30px; width: 200px; height: 30px; font-size: 12px; "
                                      Text=@LocalizationStrings.TableActionDeleteForever Disabled=@AppSettings.DataAccess.IsDisabled />
                    }
                }
                else
                {
                    <span>@LocalizationStrings.TableActionsIsDeny</span>
                }
            </div>
        </RadzenTabsItem>
        <RadzenTabsItem Text=@LocalizationStrings.Chart>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

@code {
    #region Public and private fields and properties
    private void ShowTooltipGetData(ElementReference elementReference, TooltipOptions options = null) =>
        Tooltip.Open(elementReference, LocalizationStrings.TableReadData, options);
    [Parameter]
    public BaseEntity Entity { get; set; }
    public BaseEntity[] Entities { get; set; }
    public List<LogSummaryEntity> EntitiesSummary { get; set; }
    public object[] Objects { get; set; }
    [Parameter]
    public int FontSizeHeader { get; set; }
    [Parameter]
    public int FontSize { get; set; }
    private string TemplateCategory { get; set; }

    #endregion

    #region Public and private methods

    private async Task GuiRefreshAsync()
    {
        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync().ConfigureAwait(true);
        AppSettings.Setup(DataAccessConfig, Notification, Dialog, Navigation, Tooltip, null, JsRuntime);
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        AppSettings.ShowActionsButtons = false;
        await base.SetParametersAsync(parameters);
        FontSize = parameters.TryGetValue<int>("FontSize", out var fontSize) ? fontSize : 14;
        FontSizeHeader = parameters.TryGetValue<int>("FontSizeHeader", out var fontSizeHeader) ? fontSizeHeader : 20;
        await GetDataAsync().ConfigureAwait(false);
    }

    private string GetHeader()
    {
        return LocalizationStrings.TableTitleWeithingFactShort;
    }

    private void GetData()
    {
        Entities = null;
        Entities = AppSettings.DataAccess.WeithingFactCrud.GetEntities(null,
            new FieldOrderEntity(EnumField.WeithingDate, EnumOrderDirection.Desc), 100);
        Objects = AppSettings.DataAccess.GetEntitiesNativeObject(@"
-- Table Logs diagram summary
select 
	 [l].[CREATE_DT]
	,[s].[Description] [SCALE]
	,[h].[Name] [HOST]
	,[a].[NAME] [APP]
	,[l].[VERSION]
	,[l].[FILE]
	,[l].[LINE]
	,[l].[MEMBER]
	,[l].[ICON]
	,[l].[MESSAGE]
from [db_scales].[LOGS] [l]
left join [db_scales].[Hosts] [h] on [h].[ID]=[l].[HOST_ID]
left join [db_scales].[Scales] [s] on [s].[HostId]=[h].[ID]
left join [db_scales].[APPS] [a] on [a].[UID]=[l].[APP_UID]
order by [l].[CREATE_DT] desc
            ".TrimStart('\r', ' ', '\n').TrimEnd('\r', ' ', '\n'), string.Empty, 0, string.Empty);
        EntitiesSummary = new List<LogSummaryEntity>();
        foreach (var obj in Objects)
        {
            if (obj is object[] { Length: 10 } item)
            {
                EntitiesSummary.Add(new LogSummaryEntity
                {
                    CreateDt = Convert.ToDateTime(item[0]),
                    Scale = Convert.ToString(item[1]),
                    Host = Convert.ToString(item[2]),
                    App = Convert.ToString(item[3]),
                    Version = Convert.ToString(item[4]),
                    File = Convert.ToString(item[5]),
                    Line = Convert.ToInt32(item[6]),
                    Member = Convert.ToString(item[7]),
                    Icon = Convert.ToString(item[8]),
                    Message = Convert.ToString(item[9]),
                });
            }
        }
    }

    private async Task GetDataAsync([CallerFilePath] string filePath = "", [CallerLineNumber] int lineNumber = 0, [CallerMemberName] string memberName = "")
    {
        var task = new Task(GetData);
        await AppSettings.RunTasks(LocalizationStrings.TableRead,
            "", LocalizationStrings.DialogResultFail, "",
            new List<Task> { task }, GuiRefreshAsync, filePath, lineNumber, memberName).ConfigureAwait(false);
    }

    private async Task ActionEditAsync(EnumTable table, BaseEntity item, BaseEntity parentEntity)
    {
        // Backup
        //await AppSettings.ActionAsync(table, EnumTableAction.Edit, entity, parentEntity).ConfigureAwait(true);
        //await GetDataAsync().ConfigureAwait(false);

        Task task = null;
        var title = LocalizationStrings.GetItemTitle(table);
        switch (table)
        {
            case EnumTable.Printer:
                task = new Task(() =>
                {
                    AppSettings.ActionAsync(table, EnumTableAction.Edit, item, LocalizationStrings.UriRouteItemPrinter, false)
                        .ConfigureAwait(true);
                });
                break;
            default:
                await AppSettings.ActionAsync(table, EnumTableAction.Edit, item, parentEntity).ConfigureAwait(true);
                await GetDataAsync().ConfigureAwait(false);
                break;
        }
        await AppSettings.RunTasks(title, "", LocalizationStrings.DialogResultFail, "",
            new List<Task> { task }, null).ConfigureAwait(false);
    }

    private async Task ActionAddAsync(EnumTable table, BaseEntity entity, BaseEntity parentEntity)
    {
        await AppSettings.ActionAsync(table, EnumTableAction.Add, entity, parentEntity).ConfigureAwait(true);
        await GetDataAsync().ConfigureAwait(false);
    }

    private async Task ActionCopyAsync(EnumTable table, BaseEntity entity, BaseEntity parentEntity)
    {
        await AppSettings.ActionAsync(table, EnumTableAction.Copy, entity, parentEntity).ConfigureAwait(true);
        await GetDataAsync().ConfigureAwait(false);
    }

    private async Task ActionDeleteAsync(EnumTable table, BaseEntity entity, BaseEntity parentEntity)
    {
        await AppSettings.ActionAsync(table, EnumTableAction.Delete, entity, parentEntity).ConfigureAwait(true);
        await GetDataAsync().ConfigureAwait(false);
    }

    private async Task ActionMarkedAsync(EnumTable table, BaseEntity entity, BaseEntity parentEntity)
    {
        await AppSettings.ActionAsync(table, EnumTableAction.Marked, entity, parentEntity).ConfigureAwait(true);
        await GetDataAsync().ConfigureAwait(false);
    }

    private async Task OnChange(object value, string name)
    {
        switch (name)
        {
            case "TemlateCategories":
                if (value is string strValue)
                {
                    TemplateCategory = strValue;
                }
                break;
        }
        StateHasChanged();
        await GetDataAsync().ConfigureAwait(false);
    }

    #endregion
}
