@using Blazor.Heroicons.Outline
@using ScalesDesktop.Source.Shared.Services.Devices
@using ScalesDesktop.Source.Shared.Services.Stores
@using TscZebra.Plugin.Abstractions.Enums
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (PrinterState.Value.Status is PrinterStatus.Disconnected)
{
  <div class="flex flex-col size-full items-center justify-center">
    <ExclamationTriangleIcon class="size-16 stroke-[0.9] text-red-500" />
    <span class="text-center text-red-500 text-xl xl:text-2xl">
      @Localizer["PrinterStatusDisconnected"]
    </span>
    <Button
      OnClick="@PrinterService.ConnectAsync"
      Variant="ButtonVariant.Outline"
      Class="mt-4"
    >
      <ArrowPathIcon class="size-5 mr-2" />
      @Localizer["BtnReconnect"]
    </Button>
  </div>
}
else
{
  @ChildContent
}

@code {
  # region Injects

  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private IPrinterService PrinterService { get; set; } = default!;
  [Inject] private IState<PrinterState> PrinterState { get; set; } = default!;

  # endregion

  [Parameter] public RenderFragment? ChildContent { get; set; }
}
