<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>

        <DeployIisAppPath>SCALES-MOBILE-API-DEV</DeployIisAppPath>
        <MSDeployServiceURL>https://DIISM04:8172/msdeploy.axd</MSDeployServiceURL>

        <EnvironmentName>Development</EnvironmentName>
        <LastUsedBuildConfiguration>DevelopVS</LastUsedBuildConfiguration>
    </PropertyGroup>
    <Import Project="../.wpp.targets"/>
</Project>