@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace BlazorDeviceControl.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeviceControl</title>
  <meta charset="utf-8"/>
  <base href="~/"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="css/styles.css" rel="stylesheet"/>
  <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
  <!--  theme -->
  <link href="_content/Radzen.Blazor/css/default-base.css" rel="stylesheet"/>
  <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
  <link href="BlazorDeviceControl.styles.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
  <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered"/>
    <div id="blazor-error-ui">
      An unhandled error has occurred.
      <a href="" class="reload">Reload</a>
      <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
  </body>
</html>
