.navbar-toggle {
  background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
  height: 3.0rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  font-size: 1.1rem;
}

@media (min-width: 641px) {
  .navbar-toggle {
    display: none;
  }
  .collapse {
    display: block;
  }
}
