@page "/identity/fetchdata"

<p>This component demonstrates fetching data from a service.</p>

@if (Messages is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Hello @UserDisplayName !!!!</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Sender</th>
                <th>Received Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MailMessageModel mail in Messages)
            {
                <tr>
                    <td>@mail.Subject</td>
                    <td>@mail.Sender</td>
                    <td>@mail.ReceivedTime</td>
                </tr>
            }
        </tbody>
    </table>
}
