@inherits BlazorCore.Razors.RazorPageBase
@page "/"

<MudElement HtmlTag="h3" Style="width: 100%;">@LocaleCore.DeviceControl.Index</MudElement>

<div>
    <RadzenLabel Style="margin-top: 2%; " Text=@LocaleCore.DeviceControl.IndexContinue />
</div>
