@inherits RazorComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<RadzenDialog/>
<RadzenTooltip/>
<RadzenContextMenu/>
<RadzenNotification/>

<div class="page">
  <div class="@BlazorCoreUtils.GetCssName.Sidebar(BlazorAppSettings)">
    <CascadingValue Value="@UserSettings" name="user">
      <NavMenu/>
    </CascadingValue>
  </div>

  <div class="main">
    <div class="top-row px-4 auth">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <RadzenMenu Style="margin-left: -20px; margin-top: 0; align-content: center; background-color: transparent; ">
          @if (UserSettings is not null && UserSettings.AccessRightsIsRead)
          {
            <RadzenMenuItem Icon="people" Style="background-color: transparent;"
                            Text=@($"{UserSettings.UserName}") Path=@($"{LocaleCore.DeviceControl.RouteSystemIdentityData}")/>
          }
        </RadzenMenu>
      </div>
    </div>
    <div class="content px-4" style="margin: -15px -15px -15px -25px;background-color: transparent; ">
      <CascadingValue Value="@UserSettings" name="user">
        @Body
      </CascadingValue>
    </div>
  </div>
</div>
