@inherits BlazorCore.Razors.RazorComponentBase

<MudDialogProvider />
<MudSnackbarProvider />
<MudThemeProvider />
<RadzenContextMenu />
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />

<div class="page">
    <div class=@BlazorCoreUtuls.GetCssName.Sidebar(BlazorAppSettings)>
	    <CascadingValue Value="@UserSettings" name="user">
			<NavMenu/>
	    </CascadingValue>
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <RadzenMenu Style="margin-left: -20px; margin-top: 0; align-content: center; background-color: transparent; ">
                    @if (UserSettings is not null && UserSettings.AccessRightsIsRead)
	                {
		                <RadzenMenuItem Icon="people" Style="background-color: transparent;"
							Text=@($"{UserSettings.UserName}") Path=@($"{LocaleCore.DeviceControl.RouteSystemIdentityData}") />
	                }
                </RadzenMenu>
            </div>
        </div>
        <div class="content px-4" style="margin-left: -25px; margin-top: -15px; margin-bottom: -15px; margin-right: -15px; background-color: transparent; ">
	        <CascadingValue Value="@UserSettings" name="user">
		        @Body
	        </CascadingValue>
        </div>
    </div>
</div>