@inherits BlazorCore.Models.RazorPageModel
@using BlazorCore
@using BlazorDeviceControl.Razors.Systems
@using static BlazorCore.Utils.BlazorCoreUtuls

<SystemIdentity ParentRazor=@(this) />

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <RadzenLabel 
            Style="margin-top: -7px; text-align: center; width: 100%; font-size: 12px; background-color: transparent; "
            Text=@LocaleCore.Strings.AppDevicesControlName
        />
    </a>
    <button class="navbar-toggler" @onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@GetCssName.NavMenu(CollapseNavMenu) @onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <RadzenPanelMenu class=@GetCssName.RadzenPanelMenu(AppSettings) >
	        @if (UserSettings?.AccessRightsIsRead == true)
	        {
                <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuItem(AppSettings) Text=@LocaleCore.DeviceControl.SectionScales >
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionAutomatedWorkplaceShort Path=@LocaleCore.DeviceControl.RouteSectionScales />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionProductionFacilitiesShort Path=@LocaleCore.DeviceControl.RouteSectionProductionFacilities />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionWorkShops Path=@LocaleCore.DeviceControl.RouteSectionWorkShops />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionHosts Path=@LocaleCore.DeviceControl.RouteSectionHosts />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.Print.Names Path=@LocaleCore.DeviceControl.RouteSectionPrinters />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.Print.Types Path=@LocaleCore.DeviceControl.RouteSectionPrinterTypes />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionResources Path=@LocaleCore.DeviceControl.RouteSectionPrinterResources />
                </RadzenPanelMenuItem>

                <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuItem(AppSettings) Text=@LocaleCore.DeviceControl.SectionMeasurements >
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionWeithingFactsAggregationShort Path=@LocaleCore.DeviceControl.RouteSectionPlusWeighingsAggregation />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionPlusWeighings Path=@LocaleCore.DeviceControl.RouteSectionPlusWeighings />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionLabels Path=@LocaleCore.DeviceControl.RouteSectionPluLabels />
                </RadzenPanelMenuItem>
                
                <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuItem(AppSettings) Text=@LocaleCore.DeviceControl.SectionDwh >
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionContragents Path=@LocaleCore.DeviceControl.RouteSectionContragents />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionNomenclatures Path=@LocaleCore.DeviceControl.RouteSectionNomenclatures />
                </RadzenPanelMenuItem>
                
                <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuItem(AppSettings) Text=@LocaleCore.DeviceControl.SectionReferences >
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionPlus Path=@LocaleCore.DeviceControl.RouteSectionPlus />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionTemplates Path=@LocaleCore.DeviceControl.RouteSectionTemplates />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionTemplateResources Path=@LocaleCore.DeviceControl.RouteSectionTemplateResources />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionBarCodesShort Path=@LocaleCore.DeviceControl.RouteSectionBarCodes />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionBarCodeTypesShort Path=@LocaleCore.DeviceControl.RouteSectionBarCodeTypes />
                </RadzenPanelMenuItem>
                
                <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuItem(AppSettings) Text=@LocaleCore.DeviceControl.SectionObsoletes >
	                <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
	                                     Text=@LocaleCore.DeviceControl.SectionAutomatedWorkplaceShort Path=@LocaleCore.DeviceControl.RouteSectionScalesObsolete />
                    <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                        Text=@LocaleCore.DeviceControl.SectionPlus Path=@LocaleCore.DeviceControl.RouteSectionPlusObsolete />
                </RadzenPanelMenuItem>
                
			}
            @if (IsDebug)
            {
				<RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuItem(AppSettings) Text=@LocaleCore.DeviceControl.SectionReferencesDev >
					<RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings) Text="Mud" 
					    Path=@LocaleCore.DeviceControl.RouteExampleMud />
					<RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings) Text="Radzen"
                        Path=@LocaleCore.DeviceControl.RouteExampleRadzen />
					<RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings) Text="NetBarcode" 
					    Path=@LocaleCore.DeviceControl.RouteExampleNetBarcode />
                </RadzenPanelMenuItem>
            }
            <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuItem(AppSettings) Text=@LocaleCore.System.SystemIdentity >
		        <RadzenPanelMenuItem class=@GetCssName.RadzenPanelMenuSubItem(AppSettings)
                    Text=@LocaleCore.System.SystemIdentityData Path=@($"{LocaleCore.DeviceControl.RouteSystemIdentityData}/true") />
	        </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </ul>
</div>
