@using ScalesDesktop.Source.Features
<div class="size-full bg-background border rounded-lg flex flex-col overflow-hidden">
  <LabelDisplayErrorBoundary>
    <LabelDisplayTitle />
    <div class="flex overflow-hidden justify-around flex-col h-full w-full px-8 py-3 xl:py-5 xl:px-12">
      <LabelDisplayNetWeight />
      <LabelDisplayTareWeight />
      <LabelDisplayDate />
      <LabelDisplayKneading />
    </div>
    <div class="flex gap-8 w-full px-8 pb-5 shrink-0 h-24 xl:h-28 xl:px-12 xl:pb-8">
      <div class="w-1/2 h-full">
        <ScaleCalibrationButton />
      </div>
      <div class="w-1/2 h-full">
        <LabelPrintButton/>
      </div>
    </div>
  </LabelDisplayErrorBoundary>
</div>
