@typeparam TItem
@inherits RazorPageItemBase<TItem>
@page "/item/table_body"
@using BlazorCore.Razors

<tr>
	<td>
		@switch (CssTableStyleBody.IdentityName)
		{
			case SqlFieldIdentityEnum.Id:
				@LocaleCore.Table.Id;
				break;
			case SqlFieldIdentityEnum.Uid:
				@LocaleCore.Table.Uid;
				break;
		}
	</td>
	<td>
		@if (Item != null)
		{
			@switch (CssTableStyleBody.IdentityName)
			{
				case SqlFieldIdentityEnum.Id:
					<RadzenTextBox 
						Style="width: 100%; text-align: center; background-color: lightgray;"
						ReadOnly=true Value=@Item.Identity.Id.ToString() />
					break;
				case SqlFieldIdentityEnum.Uid:
					<RadzenTextBox 
						Style="width: 100%; text-align: center; background-color: lightgray;"
					    ReadOnly=true Value=@Item.Identity.Uid.ToString() />
					break;
			}
		}
	</td>
	<td>
		@if (CssTableStyleBody.IsShowMarked)
		{
			@LocaleCore.Table.IsMarked
		}
	</td>
	<td>
		@if (CssTableStyleBody.IsShowMarked)
		{
			@if (Item != null)
			{
				<RadzenCheckBox TValue="bool" @bind-Value=@Item.IsMarked />
			}
		}
	</td>
</tr>
