@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<LabelCreateFormFieldItem Label="@WsDataLocalizer["ColTareWeight"]">
  <span class="font-medium truncate text-xl xl:text-3xl">
    @($"{GetTareWeight:F3}{WsDataLocalizer["MeasureKg"]}")
  </span>
</LabelCreateFormFieldItem>

@code {
  # region Injects

  [Inject] private IStringLocalizer<WsDataResources> WsDataLocalizer { get; set; } = default!;
  [Inject] private IState<PluState> PluState { get; set; } = default!;

  # endregion

  private decimal GetTareWeight => PluState.Value.Plu?.TareWeight ?? 0;
}