@using ScalesDesktop.Source.Shared.Services.Stores
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="flex flex-col overflow-hidden items-center h-12 shrink-0 justify-center w-full px-4 border-b ">
  <h1 class="line-clamp-1 text-center font-medium xl:text-lg">
    @PluState.Value.Plu?.Name
  </h1>
</div>

@code {
  [Inject] private IState<PluState> PluState { get; set; } = default!;
}