@using ScalesDesktop.Source.Shared.Services.Endpoints
@inject ArmEndpoints ArmEndpoints

<div class="size-full bg-background border rounded-lg flex flex-col overflow-hidden">
  <LabelCreateFormErrorBoundary>
    <LabelCreateFormTitle />
    <div class="size-full flex overflow-hidden justify-around flex-col px-8 py-3 xl:py-5 xl:px-12">
      <LabelCreateFormNetWeight @bind-Weight="FormModel.NetWeight" />
      <LabelCreateFormTareWeight />
      <LabelCreateFormProductDt @bind-Date="FormModel.ProductDate" />
      <LabelCreateFormKneading @bind-Kneading="FormModel.KneadingCount" />
    </div>
    <div class="flex gap-8 w-full px-8 pb-5 shrink-0 h-24 xl:h-28 xl:px-12 xl:pb-8">
      <div class="w-1/2 h-full">
        <ScaleCalibration />
      </div>
      <div class="w-1/2 h-full">
        <UseParameterlessEndpoint Endpoint="@ArmEndpoints.ArmEndpoint" Context="query">
          @if (query.HasData)
          {
            <LabelPrint Arm="query.Data" KneadingModel="FormModel"/>
          }
          else
          {
            <Skeleton Class="size-full" />
          }
        </UseParameterlessEndpoint>
      </div>
    </div>
  </LabelCreateFormErrorBoundary>
</div>

@code {
  private WeightKneadingModel FormModel { get; } = new();
}