@using Blazor.Heroicons.Outline


<div class="rounded-md overflow-hidden">
  <ModalHeader Class="!p-0">
    <div class="w-full px-4 items-center flex justify-between h-14">
      <div class="w-48 overflow-hidden">
        <button
          type="button"
          @onclick="CloseCurrentDialog"
          class="px-5 py-2 flex gap-2 items-center transition-colors justify-center border border-black/[.1] rounded-md
                    overflow-hidden hover:bg-gray-100"
        >
          <ArrowLeftIcon class="h-4 w-4"/>
          <p class="text-lg pt-[2px] text-black font-medium">
            @Localizer["ButtonBack"]
          </p>
        </button>
      </div>
      <div class="h-full w-full flex items-center justify-center grow overflow-hidden">
        <div class="px-5 py-2 rounded-md overflow-hidden bg-gray-100 hover:bg-gray-200">
          <p class="text-xl pt-[1px]">@Title</p>
        </div>
      </div>
      <div class="w-48"></div>
    </div>
  </ModalHeader>
  <ModalBody Class="!p-0">
    @ChildContent
  </ModalBody>
</div>
