@using Blazor.Heroicons.Outline
<div class="h-14 shrink-0 w-full grid grid-cols-4 border-b px-4">
  <div class="flex h-full items-center">
    <Button
      Variant="ButtonVariant.Outline"
      OnClick="@CloseAsync"
    >
      <ArrowLeftIcon class="size-4 mr-2"/>
      Back
    </Button>
  </div>
  <div class="h-full flex items-center justify-center w-full col-span-2 grow overflow-hidden">
    @ChildContent
  </div>
</div>

@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }
  [CascadingParameter] public FluentDialog Dialog { get; set; } = default!;

  private async Task CloseAsync() => await Dialog.CloseAsync();
}