@inherits RazorComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<RadzenDialog/>
<RadzenContextMenu/>
<RadzenNotification/>

<div class="main_block">
  <div style="background-color: darkorange">
    <NavMenu/>
  </div>
  <div style="flex-grow: 1;">
      <div>
        <RadzenMenu Style="height: 3.0rem; background-color: #f7f7f7; border-bottom: 1px solid #d6d5d5;">
          <RadzenMenuItem
            Icon="people"
            Text="@User?.Identity?.Name"
            Path=@($"{LocaleCore.DeviceControl.RouteSystemIdentityData}")/>
          <AuthorizeView Roles="@UserAccessStr.Admin">
            <RadzenMenuItem
              Text="@VerBlazor"
              Path=@($"{LocaleCore.DeviceControl.RouteSystemAppInfo}")/>
          </AuthorizeView>
        </RadzenMenu>
      </div>
      <div style="padding: 10px">
        @Body
      </div>
  </div>
</div>