@inherits LayoutComponentBase

<div class="w-screen h-screen overflow-hidden text-black bg-secondary/90 overscroll-none">
  @Body
</div>

<FluentDialogProvider />
<FluentToastProvider Position="ToastPosition.TopCenter" />
