@page "/login"
@inject BlazorSettingsEntity _blazorSettings
@using BlazorDeviceControl.Data

<AuthorizeView>
    <Authorizing>
        <div>Authorizing ...</div>
    </Authorizing>
    <Authorized>
        @if (context.User.Identity != null)
        {
            _blazorSettings.State = context;
            <div>@context.User.Identity.Name</div>
        }!
        <div>User detect error!</div>
    </Authorized>
    <NotAuthorized>
        <div>Not authorized!</div>
    </NotAuthorized>
</AuthorizeView>

@code{
    
}