@inherits BlazorCore.Models.RazorDisposable
@page "/component/actionsbuttons"
@using BlazorCore
@using DataCore
@using DataCore.Utils
@using static DataCore.ShareEnums

<MudPaper Width="100%" Height="31px" Square=false Color="Color.Default" >
    <div class="row col-sm-12 col-md-12 col-lg-12" Style="margin-top: 5px; " >
        @if (ButtonSettings.IsShowNew && UserSettings.Identity.AccessRightsIsAdmin)
        {
            <RadzenButton Click=@(args => ActionNewAsync(UserSettings, false, true))
                class="radzenButtonLong" ButtonStyle=@ButtonStyle.Primary
                Text=@LocalizationData.DeviceControl.TableActionNew Disabled=@AppSettings.DataAccess.IsDisabled />
        }
        @if (ButtonSettings.IsShowEdit && UserSettings.Identity.AccessRightsIsWrite)
        {
            <RadzenButton Click=@(args => ActionEditAsync(UserSettings, false, true))
                class="radzenButtonLong" ButtonStyle=@ButtonStyle.Primary
                Text=@LocalizationData.DeviceControl.TableActionEdit Disabled=@AppSettings.DataAccess.IsDisabled />
        }
        @if (ButtonSettings.IsShowCopy && UserSettings.Identity.AccessRightsIsAdmin)
        {
            <RadzenButton Click=@(args => ActionCopyAsync(UserSettings, false, true))
                class="radzenButtonLong" ButtonStyle=@ButtonStyle.Primary
                Text=@LocalizationData.DeviceControl.TableActionCopy Disabled=@AppSettings.DataAccess.IsDisabled />
        }
        @if (ButtonSettings.IsShowMark && UserSettings.Identity.AccessRightsIsWrite)
        {
            <RadzenButton Click=@(args => ActionMarkAsync(UserSettings, false, true))
                class="radzenButtonLong" ButtonStyle=@ButtonStyle.Primary
                Text=@LocalizationData.DeviceControl.TableActionMark Disabled=@AppSettings.DataAccess.IsDisabled />
        }
        @if (ButtonSettings.IsShowDelete && UserSettings.Identity.AccessRightsIsWrite)
        {
            <RadzenButton Click=@(args => ActionDeleteAsync(UserSettings, false, true))
                class="radzenButtonLong" ButtonStyle=@ButtonStyle.Primary
                Text=@LocalizationData.DeviceControl.TableActionDelete Disabled=@AppSettings.DataAccess.IsDisabled />
        }
    </div>
</MudPaper>
