@inherits BlazorCore.Models.RazorBase
@page "/component/actionssave"
@using BlazorCore
@using DataCore
@using DataCore.Localizations
@using DataCore.Utils
@using static DataCore.ShareEnums

<MudPaper Width="100%" Height="31px" Square=false Color=Color.Transparent >
    <div class="row col-sm-12 col-md-12 col-lg-12" Style="margin-top: 5px; " >
        @if (IdentityId == null && IdentityUid == null && TableAction != DbTableAction.New)
        {
            <ActionsLoad DataLoadItem=ActionLoad.Loading IsShowProgress=true />
        }
        else
        {
            @if (ButtonSettings.IsShowSave)
            {
                <RadzenButton Click=@(args => ItemSaveAsync(true)) 
                    class="RadzenButtonLong" ButtonStyle=@ButtonStyle.Primary
                    Style="margin-top: 3px; margin-left: 30px; width: 15%; height: 25px; font-size: 14px; "
                    Text=@LocaleData.DeviceControl.TableActionSave 
                />
            }
            @if (ButtonSettings.IsShowCancel)
            {
                <RadzenButton Click=@(args => ItemCancelAsync(true))
                    class="RadzenButtonLong" ButtonStyle=@ButtonStyle.Secondary
                    Style="margin-top: 3px; margin-left: 30px; width: 15%; height: 25px; font-size: 14px; "
                    Text=@LocaleData.DeviceControl.TableActionCancel 
                />
            }
        }
    </div>
</MudPaper>
