@inherits BlazorCore.Models.RazorDisposable
@page "/component/actionssave"
@using BlazorCore
@using DataCore
@using DataCore.Utils
@using static DataCore.ShareEnums

<MudPaper Width="100%" Height="31px" Square=false Color="Color.Default" >
    <div class="row col-sm-12 col-md-12 col-lg-12" Style="margin-top: 5px; " >
        @if (Id == null && Uid == null && TableAction != DbTableAction.New)
        {
            <ActionsLoad DataLoadItem=ShareEnums.ActionLoad.Loading IsShowProgress=true />
        }
        else
        {
            @if (ButtonSettings.IsShowSave)
            {
                <RadzenButton Click=@(args => ItemSaveAsync(true, false)) 
                    ButtonStyle="ButtonStyle.Primary"
                    Style="margin-top: 3px; margin-left: 30px; width: 15%; height: 25px; font-size: 14px; "
                    Text=@LocalizationData.DeviceControl.TableActionSave 
                />
            }
            @if (ButtonSettings.IsShowCancel)
            {
                <RadzenButton Click=@(args => ItemCancelAsync(false))
                    ButtonStyle="ButtonStyle.Secondary"
                    Style="margin-top: 3px; margin-left: 30px; width: 15%; height: 25px; font-size: 14px; "
                    Text=@LocalizationData.DeviceControl.TableActionCancel 
                />
            }
        }
    </div>
</MudPaper>
