@page "/component/actionsload"
@using BlazorCore.Models
@using DataCore.Utils
@using BlazorCore
@inherits RazorDisposable

<MudPaper Width="100%" Height="31px" Square=false Color="Color.Default" >
    <div class="row col-sm-12 col-md-12 col-lg-12" Style="margin-top: 5px; " >
        @if (DataLoadItem == ShareEnums.ActionsLoad.None)
        {
            @if (IsShowProgress)
            {
                <RadzenProgressBar 
                    Style="margin-top: 4px; margin-left: 5%; width: 100%; height: 22px; "
                    Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"
                />
            }
        }
        else
        {
            @switch (DataLoadItem)
            {
                case ShareEnums.ActionsLoad.Loading:
                    <RadzenLabel 
                        Style="margin-top: 3px; margin-left: 2%; width: 10%; height: 25px; font-size: 14px; "
                        Text=@LocalizationCore.Strings.Main.DataLoading
                    />
                    break;
                case ShareEnums.ActionsLoad.Success:
                    <RadzenLabel 
                        Style="margin-top: 3px; margin-left: 2%; width: 10%; height: 25px; font-size: 14px; "
                        Text=@LocalizationCore.Strings.Main.DataLoadComplete 
                    />
                    break;
                case ShareEnums.ActionsLoad.Error:
                    <RadzenLabel 
                        Style="margin-top: 3px; margin-left: 2%; width: 10%; height: 25px; font-size: 14px; "
                        Text=@LocalizationCore.Strings.Main.DataLoadError
                    />
                    break;
            }
            @if (IsShowProgress)
            {
                <RadzenProgressBar 
                    Style="margin-top: 3px; margin-left: 2%; width: 85%; height: 22px; "
                    Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"
                />
            }
        }
    </div>
</MudPaper>
