@inherits Shared.Component.ActionsReloadBase
@page "/component/actions_reload_section"
@using DataCore
@using DataCore.Localizations
@using DataCore.Sql.TableScaleModels
@using DataCore.Utils
@using Microsoft.AspNetCore.Components
@using static DataCore.ProjectsEnums
@using static DataCore.ShareEnums
@using BlazorCore.Utils
@using DataCore.Sql.Models

<MudPaper Width="100%" Height="32px" Style="margin-bottom: 30px;" Square=false>
	<MudSimpleTable Style="overflow-x: auto; margin-top: -10px; " Dense=true Bordered=false FixedHeader=false>
		<thead>
		<tr>
			<th style="color:blue; font-weight: normal; width: 60%; "></th>
			<th style="color:blue; font-weight: normal; width: 10%; "></th>
			<th style="color:blue; font-weight: normal; width: 30%; "></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>
				@if (!string.IsNullOrEmpty(Title))
				{
					<RadzenLabel Style="margin-top: 3px; margin-left: 1%; font-size: 18px; " Text=@Title />
				}
				@if (ParentRazor == null)
				{
					<ActionsLoad ParentRazor=@this DataLoadItem=ActionLoad.Loading IsShowProgress=true />
				}
				else
				{
					<RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ParentRazor.IsSelectTopRows
					                Change=@(args => OnChangeCheckBox(args, nameof(IsSelectTopRows)))
					                Style="margin-top: -3px; margin-left: 20px; " />
					<RadzenLabel Style="margin-top: 0px; margin-left: 5px; font-size: 14px; " 
					             Text=@LocaleCore.Action.ActionIsSelectTopRowsCount(AppSettings.DataAccess.JsonSettingsLocal.SelectTopRowsCount) />

					<RadzenCheckBox Disabled=false TValue="bool" @bind-Value=@ParentRazor.IsShowMarkedItems
					                Change=@(args => OnChangeCheckBox(args, nameof(IsShowMarkedItems)))
					                Style="margin-top: -3px; margin-left: 20px; " />
					<RadzenLabel Style="margin-top: 0px; margin-left: 5px; font-size: 14px; " Text=@LocaleCore.Action.ActionIsShowMarked />

					<RadzenButton Icon="refresh" ButtonStyle=@ButtonStyle.Primary
					              Style="margin-top: -3px; margin-left: 20px; width: 60px; height: 26px; "
					              Disabled=@(!AppSettings.DataAccess.IsConnected) Click=@(_ => ParentRazor.OnChange()) />
	        
					<RadzenLabel Style="margin-top: 3px; margin-left: 20px; font-size: 14px; " Text=@ItemsCountResult />
				}
			</td>
			<td>
				@switch (FilterTable)
				{
					case TableScale.Scales:
						<RadzenLabel Style="margin-top: 1px; font-size: 14px; text-align: center; height: 100%; "
						             Text=@LocaleCore.Table.Scale/>
						break;
				}
			</td>
			<td>
				@switch (FilterTable)
				{
					case TableScale.Scales:
						<ActionsFilterScale ParentRazor=@this />
						break;
				}
			</td>
		</tr>
		</tbody>
    </MudSimpleTable>
</MudPaper>
