@*@page "/component/itemactions"
@using BlazorCore.Models
@using DataProjectsCore
@using DataProjectsCore.Utils
@using DataShareCore
@inherits RazorDisposable

<MudPaper Width="100%" Height="31px" Square=false Color="Color.Default" >
    <div class="row col-sm-12 col-md-12 col-lg-12" Style="margin-top: 5px; " >
        @if (ParentItem == null)
        {
            <RadzenLabel Text=@LocalizationCore.Strings.ItemAccessNone />
        }
        else
        {
            @if (UserSettings.Identity.AccessLevel is true or false)
            {
                @if (IsShowSave)
                {
                    <RadzenButton Click=@(args => ActionAsync(UserSettings, ShareEnums.DbTableAction.Save, false))
                        ButtonStyle="ButtonStyle.Primary"
                        Style="margin-top: 3px; margin-left: 30px; width: 175px; height: 25px; font-size: 14px; "
                        Text=@LocalizationData.DeviceControl.TableActionSave Disabled=@AppSettings.DataAccess.IsDisabled />
                }
                @if (IsShowCancel)
                {
                    <RadzenButton Click=@(args => ActionAsync(UserSettings, ShareEnums.DbTableAction.Cancel, false))
                        ButtonStyle="ButtonStyle.Primary"
                        Style="margin-top: 3px; margin-left: 30px; width: 175px; height: 25px; font-size: 14px; "
                        Text=@LocalizationData.DeviceControl.TableActionCancel Disabled=@AppSettings.DataAccess.IsDisabled />
                }
            }
            else
            {
                <RadzenLabel Text=@LocalizationCore.Strings.ItemAccessDeny />
            }
        }
    </div>
</MudPaper>
*@