@page "/component/itemsave"
@using BlazorCore
@using BlazorCore.DAL.TableModels
@using BlazorCore.Utils
@inherits BlazorCore.Models.BaseRazorEntity

<MudPaper Width="100%" Height="31px" Square=false Color="Color.Default" >
    <div class="row col-sm-12 col-md-12 col-lg-12" Style="margin-top: 5px; " >
        @if (Item == null)
        {
            <DataLoad DataLoadItem=EnumDataLoad.Loading IsShowProgress=true />
        }
        else
        {
            <RadzenButton Click=@(args => ItemSaveAsync(true, false)) 
                ButtonStyle="ButtonStyle.Primary"
                Style="margin-top: 3px; margin-left: 30px; width: 200px; height: 25px; font-size: 14px; "
                Text=@LocalizationStrings.DeviceControl.TableActionSave 
            />
            <RadzenButton Click=@(args => ItemCancelAsync(false))
                ButtonStyle="ButtonStyle.Secondary"
                Style="margin-top: 3px; margin-left: 30px; width: 200px; height: 25px; font-size: 14px; "
                Text=@LocalizationStrings.DeviceControl.TableActionCancel 
            />
        }
    </div>
</MudPaper>
