@page "/component/itemdates"
@using BlazorCore.Models
@using DataProjectsCore.DAL.TableModels
@using DataProjectsCore
@using DataProjectsCore.Utils
@using DataShareCore
@using static DataShareCore.ShareEnums
@inherits RazorDisposable

<MudPaper Width="100%" Height="31px" Square=false Color="Color.Default" >
    <div class="row col-sm-12 col-md-12 col-lg-12" Style="margin-top: 5px; " >
        @if (Id == null && Uid == null && TableAction != DbTableAction.New)
        {
            <ActionsLoad DataLoadItem=ShareEnums.ActionsLoad.Loading IsShowProgress=true />
        }
        else
        {
            <RadzenLabel Style="margin-top: 3px; text-align: center; width: 24%; height: 25px; font-size: 14px; "
                Text=@LocalizationData.DeviceControl.TableFieldCreateDt />
            <RadzenLabel Style="margin-top: 3px; text-align: left; width: 24%; height: 25px; font-size: 14px; "
                Text=@DtCreate />
            <RadzenLabel Style="margin-top: 3px; text-align: center; width: 24%; height: 25px; font-size: 14px; "
                Text=@LocalizationData.DeviceControl.TableFieldModifiedDate />
            <RadzenLabel Style="margin-top: 3px; text-align: left; width: 24%; height: 25px; font-size: 14px; "
                Text=@DtModify />
        }
    </div>
</MudPaper>
