@inherits BlazorCore.Models.RazorBase
@page "/component/item_dates"
@using BlazorCore
@using DataCore
@using DataCore.Localizations
@using DataCore.Utils
@using static DataCore.ShareEnums

<MudPaper Width="100%" Height="31px" Square=false Color="Color.Default" >
    <div class="row col-sm-12 col-md-12 col-lg-12" Style="margin-top: 5px; " >
        @if (IdentityId == null && IdentityUid == null && TableAction != DbTableAction.New)
        {
            <ActionsLoad DataLoadItem=ActionLoad.Loading IsShowProgress=true />
        }
        else
        {
            @if (!string.IsNullOrEmpty(@CreateDt))
            {
		        <RadzenLabel Style="margin-top: 3px; text-align: center; width: 24%; height: 25px; font-size: 14px; "
	                Text=@LocaleCore.Table.CreateDt />
		        <RadzenLabel Style="margin-top: 3px; text-align: left; width: 24%; height: 25px; font-size: 14px; "
		                     Text=@CreateDt />
            }
            @if (!string.IsNullOrEmpty(@ChangeDt))
            {
		        <RadzenLabel Style="margin-top: 3px; text-align: center; width: 24%; height: 25px; font-size: 14px; "
	                Text=@LocaleCore.Table.ChangeDt />
	            <RadzenLabel Style="margin-top: 3px; text-align: left; width: 24%; height: 25px; font-size: 14px; "
	                Text=@ChangeDt />
            }
        }
    </div>
</MudPaper>
