@inherits BlazorCore.Models.RazorBase
@page "/radzen"

<PageTitle>Radzen</PageTitle>

<div class="container">
    <div class="row px-3">
        <RadzenCard Style="width: 30%; ">
            <h4 class="mb-4">Info</h4>
            <RadzenButton Text="Show info notification" Class="w-100"
                ButtonStyle="ButtonStyle.Info"
                Click=@(_ => ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Info Summary", Detail = "Info Detail", Duration = 4000 })) />
        </RadzenCard>
        <RadzenCard Style="width: 30%; ">
            <h4 class="mb-4">Warning</h4>
            <RadzenButton Text="Show warning notification" Class="w-100"
                ButtonStyle="ButtonStyle.Warning"
                Click=@(_ => ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Warning, Summary = "Warning Summary", Detail = "Warning Detail", Duration = 4000 })) />
        </RadzenCard>
        <RadzenCard Style="width: 30%; ">
            <h4 class="mb-4">Error</h4>
            <RadzenButton Text="Show error notification" Class="w-100"
                ButtonStyle="ButtonStyle.Danger"
                Click=@(_ => ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error Summary", Detail = "Error Detail", Duration = 4000 })) />
        </RadzenCard>
        <RadzenCard Style="width: 30%; ">
            <h4 class="mb-4">Success</h4>
            <RadzenButton Text="Show success notification" Class="w-100"
                ButtonStyle="ButtonStyle.Success"
                Click=@(_ => ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Success Summary", Detail = "Success Detail", Duration = 4000 })) />
        </RadzenCard>
        <RadzenCard Style="width: 30%; ">
            <h4 class="mb-4">Custom position</h4>
            <RadzenButton Text="Show custom notification" Class="w-100"
                Click=@(_ => ShowNotification(new NotificationMessage { Style = "position: absolute; left: -1000px;", Severity = NotificationSeverity.Success, Summary = "Success Summary", Detail = "Success Detail", Duration = 40000 })) />
        </RadzenCard>
    </div>
</div>

<h1>COM ports</h1>
<RadzenDropDown 
    Style="width: 50%;" TValue="string"
    FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
    AllowFiltering=true AllowClear=true AllowFilteringByAllStringColumns=true
    PageSize=50
    Data=@ListComPorts >
</RadzenDropDown>
