@page "/component/sectionactions"
@using BlazorCore
@using BlazorCore.Utils
@inherits BlazorCore.Models.BaseRazorEntity

<MudPaper Width="100%" Height="31px" Square=false Color="Color.Default" >
    <div class="row col-sm-12 col-md-12 col-lg-12" Style="margin-top: 5px; " >
        @if (AppSettings.IdentityItem.AccessLevel is true or false)
        {
            @if (IsShowNew && AppSettings.IsDebug)
            {
                <RadzenButton Click=@(args => ActionNewAsync())
                    ButtonStyle="ButtonStyle.Primary"
                    Style="margin-top: 3px; margin-left: 30px; width: 175px; height: 25px; font-size: 14px; "
                    Text=@LocalizationStrings.DeviceControl.TableActionNew Disabled=@AppSettings.DataAccess.IsDisabled />
            }
            @if (IsShowEdit)
            {
                <RadzenButton Click=@(args => ActionEditAsync())
                    ButtonStyle="ButtonStyle.Primary"
                    Style="margin-top: 3px; margin-left: 30px; width: 175px; height: 25px; font-size: 14px; "
                    Text=@LocalizationStrings.DeviceControl.TableActionEdit Disabled=@AppSettings.DataAccess.IsDisabled />
            }
            @if (IsShowCopy && AppSettings.IsDebug)
            {
                <RadzenButton Click=@(args => ActionCopyAsync())
                    ButtonStyle="ButtonStyle.Primary"
                    Style="margin-top: 3px; margin-left: 30px; width: 175px; height: 25px; font-size: 14px; "
                    Text=@LocalizationStrings.DeviceControl.TableActionCopy Disabled=@AppSettings.DataAccess.IsDisabled />
            }
            @if (IsShowMark)
            {
                <RadzenButton Click=@(args => ActionMarkAsync())
                    ButtonStyle="ButtonStyle.Primary"
                    Style="margin-top: 3px; margin-left: 30px; width: 175px; height: 25px; font-size: 14px; "
                    Text=@LocalizationStrings.DeviceControl.TableActionMark Disabled=@AppSettings.DataAccess.IsDisabled />
            }
            @if (IsShowDelete && AppSettings.IsDebug)
            {
                <RadzenButton Click=@(args => ActionDeleteAsync())
                    ButtonStyle="ButtonStyle.Primary"
                    Style="margin-top: 3px; margin-left: 30px; width: 175px; height: 25px; font-size: 14px; "
                    Text=@LocalizationStrings.DeviceControl.TableActionDelete Disabled=@AppSettings.DataAccess.IsDisabled />
            }
        }
        else
        {
            <RadzenLabel Text=@LocalizationStrings.Share.SectionAccessDeny />
        }
    </div>
</MudPaper>
