@inherits RazorComponentItemBase<BarCodeModel>
@page "/item/barcode"
@page "/item/barcode/new"
@page "/item/barcode/{IdentityUidStr}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SystemComponents

<SystemIdentity ParentRazor=@(this) />

<RazorItemReload TItem=@BarCodeModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemBarCodeType />

<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <RazorItemTableHead TItem=@BarCodeModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
    <tbody>
        <RazorItemTableBody TItem=@BarCodeModel ParentRazor=@(this) />
        <tr>
            <td>@LocaleCore.Table.Value</td>
            <td>
                <RadzenTextBox Style="width: 100%; " @bind-Value=@SqlItemCast.Value />
			</td>
        </tr>
    </tbody>
</MudSimpleTable>

<RazorItemActions TItem=@BarCodeModel ParentRazor=@(this) />
<RazorItemDates TItem=@BarCodeModel ParentRazor=@(this) />
