@inherits RazorComponentItemBase<BarCodeTypeModel>
@page "/item/barcodetype"
@page "/item/barcodetype/new"
@page "/item/barcodetype/{IdentityUidStr}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SystemComponents

<SystemIdentity ParentRazor=@(this) />

<RazorItemReload TItem=@BarCodeTypeModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemBarCodeType />

<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <RazorItemTableHead TItem=@BarCodeTypeModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
    <tbody>
		<RazorItemTableBody TItem=@BarCodeTypeModel ParentRazor=@(this) />
        <tr>
            <td>@LocaleCore.Table.Name</td>
            <td>
                <RadzenTextBox Style="width: 100%; " @bind-Value=@SqlItemCast.Name />
			</td>
        </tr>
    </tbody>
</MudSimpleTable>

<RazorItemActions TItem=@BarCodeTypeModel ParentRazor=@(this) />
<RazorItemDates TItem=@BarCodeTypeModel ParentRazor=@(this) />
