@inherits RazorComponentItemBase<DataCore.Sql.TableScaleModels.Bundles.BundleModel>
@page "/item/bundle"
@page "/item/bundle/new"
@page "/item/bundle/{IdentityUidStr}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SystemComponents
@using DataCore.Sql.TableScaleModels.Bundles

<SystemIdentity ParentRazor=@(this) />

<RazorItemReload TItem=BundleModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemBundle />

<MudSimpleTable Style="overflow-x: auto; " Dense=true Bordered=true FixedHeader=false>
    <RazorItemTableHead TItem=BundleModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
    <tbody>
		<RazorItemTableBody TItem=BundleModel ParentRazor=@(this) />
        <tr>
            <td>@LocaleCore.Table.Name</td>
            <td>
                <RadzenTextBox 
					Style="width: 100%; " @bind-Value=@SqlItemCast.Name />
			</td>
			<td>@LocaleCore.Table.Weight</td>
			<td>
				<RadzenNumeric 
					Style="width: 100%; " 
				    TValue="decimal" @bind-Value=@SqlItemCast.Weight />
			</td>
		</tr>
    </tbody>
</MudSimpleTable>

<RazorItemActions TItem=BundleModel ParentRazor=@(this) />
<RazorItemDates TItem=BundleModel ParentRazor=@(this) />
