@inherits RazorComponentItemBase<DataCore.Sql.TableScaleModels.Organizations.OrganizationModel>
@page "/item/organization"
@page "/item/organization/new"
@page "/item/organization/{IdentityUidStr}"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.SystemComponents
@using DataCore.Sql.TableScaleModels.Organizations

<SystemIdentity ParentRazor=@(this) />

<RazorItemReload TItem=OrganizationModel ParentRazor=@(this) Title=@LocaleCore.DeviceControl.ItemContragent />

<MudSimpleTable Style="overflow-x: auto; margin-top: 5px;" Dense=true Bordered=true FixedHeader=false>
    <RazorItemTableHead TItem=OrganizationModel ParentRazor=@(this) CssTableStyleHead=@RazorComponentUtils.GetTableHeadStyle(new() { 20, 30, 20, 30 }) />
    <tbody>
		<RazorItemTableBody TItem=OrganizationModel ParentRazor=@(this) />
        <tr>
            <td>@LocaleCore.Table.Name</td>
            <td colspan=3>
                <RadzenTextBox Style="width: 100%; " @bind-Value=@SqlItemCast.Name />
			</td>
        </tr>
        <tr>
            <td>@LocaleCore.Table.Description</td>
            <td colspan=3>
                <RadzenTextBox Style="width: 100%; " @bind-Value=@SqlItemCast.Description />
			</td>
        </tr>
        <tr>
            <td>@LocaleCore.Table.Gln</td>
            <td colspan=3>
                <RadzenNumeric Style="width: 100%; text-align: center; " 
					TValue="int" @bind-Value=@SqlItemCast.Gln />
			</td>
        </tr>
    </tbody>
</MudSimpleTable>

<RazorItemActions TItem=OrganizationModel ParentRazor=@(this) />

<RazorItemDates TItem=OrganizationModel ParentRazor=@(this) />
