@using ScalesMobile.Source.Features.AuthSuspense
@inherits LayoutComponentBase

<AuthSuspense>
  <div class="w-screen h-screen overflow-hidden text-black overscroll-none">
    @Body
  </div>
</AuthSuspense>


<FluentDialogProvider />
<FluentToastProvider Position="@ToastPosition.TopCenter" />
<StoreInitializer />
