@using Blazor.Heroicons.Outline
@using Microsoft.Extensions.Localization
@using ScalesDesktop.Source.Shared.Localization
@using ScalesDesktop.Source.Shared.Utils
@using Ws.Shared.Utils

<div class="w-full h-16 shrink-0">
  <div class="size-full max-w-screen-2xl mx-auto px-8 flex items-center justify-between">
    <div class="shrink-0">
      <p class="text-2xl">@GetAppTitle()</p>
    </div>
    <div class="flex grow size-full">
      @ChildContent
    </div>
    <div class="shrink-0">
      <a href="@RouteUtils.Home">
        <button
          type="button"
          class="h-12 px-5 rounded-lg text-gray-500 border border-gray-300 overflow-hidden flex gap-2 items-center justify-center
                    transition-colors hover:bg-gray-50 hover:border-gray-500 hover:text-black"
        >
          <Bars3Icon class="size-6" />
          <p class="text-lg">@Localizer["BtnMenu"]</p>
        </button>
      </a>
    </div>
  </div>
</div>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Parameter] public RenderFragment? ChildContent { get; set; }

  private string GetAppTitle()
  {
    string devString = ConfigurationUtil.IsDevelop ? "[DEV] " : string.Empty;
    string versionString = VersionTracking.CurrentVersion;
    return $"{devString} {Localizer["AppName"]} {versionString}";
  }
}