@using ScalesDesktop.Source.Shared.UI
<Button
  Variant="ButtonVariant.Secondary"
  Size="ButtonSize.Full"
  OnClick="@HandleButtonOpenScalesTerminal"
  Disabled="@(!(IsScalesAvailable && !IsOnceClicked))"
  Class="border disabled:!opacity-70"
>
  <div class="flex items-center flex-col">
    <span class="xl:text-xl">@Localizer["BtnScaleCalibration"]</span>
      @if (IsOnceClicked)
      {
        <span class="xl:text-lg">@GetCooldownString()</span>
      }
  </div>
</Button>
