@using ScalesDesktop.Source.Shared.Services

@implements IDisposable

<span class="text-right absolute text-gray-500 bottom-0 right-1 text-sm xl:text-base">
  @ArmContext.Arm.PcName | @ArmContext.Printer.Name
</span>

@code {
  [Inject] private ArmContext ArmContext { get; set; } = default!;

  protected override void OnInitialized() => ArmContext.ArmChanged += StateHasChanged;

  public void Dispose() => ArmContext.ArmChanged -= StateHasChanged;
}