@using Blazor.Heroicons.Outline
@using Microsoft.Extensions.Localization
@using ScalesDesktop.Source.Shared.Localization
@using ScalesDesktop.Source.Shared.Services
<div class="flex max-w-sm flex-col items-center">
  <ExclamationTriangleIcon class="size-24 text-destructive"/>
  <div class="flex flex-col text-center gap-2">
    <h2 class="text-xl font-semibold">@Localizer["LineIsNewWarningTitle"]</h2>
    <p class="text-sm">
      @Localizer["LineIsNewWarningDescription"]
    </p>
  </div>
  <Button
    Size="ButtonSize.Large"
    Class="mt-4"
    OnClick="@(() => LineContext.ResetLine())">
    <ArrowPathIcon class="size-4 mr-2"/>
    @Localizer["BtnUpdate"]
  </Button>
</div>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private LineContext LineContext { get; set; } = default!;
}