@*@page "/EntityPage"
@using MdmControlCore
@using MdmControlCore.DAL.TableModels
@using MdmControlBlazor.Utils
@inherits MdmControlBlazor.Data.BaseRazorModel

<RadzenCard Style="margin-bottom: 0; font-size: 11px; ">
    <div class="row" style="margin-top: 0; ">
        @switch (Table)
        {
            case TableDwh.NomenclatureMaster:
                <MdmControlBlazor.Components.NomenclatureMaster Item=@((NomenclatureModel)Entity) />
                break;
            case TableDwh.NomenclatureNonNormalize:
                <MdmControlBlazor.Components.NomenclatureMaster Item=@((NomenclatureModel)Entity) />
                break;
        }
    </div>
</RadzenCard>

<div class="row col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px; height: 20px;">
    <RadzenButton Click=@(args => SaveAsync(args))
                  Text=@LocalizationStrings.TableActionSave
                  Style="margin-left: 30px; width: 250px; font-size: 11px;" Size=@ButtonSize.Small />
    <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                  Click=@CancelAsync
                  Text=@LocalizationStrings.TableActionCancel
                  Style="margin-left: 30px; width: 250px; font-size: 11px;" Size=@ButtonSize.Small />
</div>
*@