@page "/nomenclatures"
@inherits BlazorMdmControl.Data.BaseRazorModel

@*
<div class="row col-sm-12 col-md-12 col-lg-12" style="margin-top: -5px; margin-left: -5px; margin-right: -5px; margin-bottom: -5px; ">
    <div class="row col-sm-6 col-md-6 col-lg-6" style="margin-top: 10px; margin-left: -35px; margin-right: -35px; margin-bottom: -5px; ">
        <div class="row col-sm-11 col-md-11 col-lg-11" style="margin-top: -5px; margin-left: -35px; margin-right: -35px; margin-bottom: -5px; ">
            <div class="row col-sm-3 col-md-3 col-lg-3" style="margin-top: -5px; margin-left: -10px; margin-right: 0px; margin-bottom: 0px; ">
                <h10 style="text-align: center; ">@LocalizationStrings.TableTitleNomenclatureMaster</h10>
            </div>
            <div class="row col-sm-6 col-md-6 col-lg-6" style="margin-top: -5px; margin-left: -10px; margin-right: 0px; margin-bottom: 0px; ">
                <RadzenButton Click=@(_ => GetDataAsync(TableDwh.NomenclatureMaster))
                              Style="margin-top: -5px; margin-left: 5px; width: 35px; height: 35px; text-align: center;"
                              Icon="refresh"
                              ButtonStyle="ButtonStyle.Light"
                              Disabled=@BlazorSettings.SqlDataAccess.IsDisabled />
                <RadzenButton Click=@(_ => ActionEditAsync(TableDwh.NomenclatureMaster, ItemMaster, true))
                              Style="margin-top: -5px; margin-left: 5px; width: 35px; height: 35px; text-align: center;"
                              Icon="edit"
                              ButtonStyle="ButtonStyle.Light"
                              Disabled=@BlazorSettings.SqlDataAccess.IsDisabled />
                <RadzenButton Click=@(_ => ClearEntityAsync(TableDwh.NomenclatureMaster))
                              Style="margin-top: -5px; margin-left: 5px; width: 35px; height: 35px; text-align: center;"
                              Icon="clear"
                              ButtonStyle="ButtonStyle.Light"
                              Disabled=@BlazorSettings.SqlDataAccess.IsDisabled />
                <br />
            </div>
            <div class="row col-sm-3 col-md-3 col-lg-3" style="margin-top: -5px; margin-left: 5px; margin-right: 0px; margin-bottom: 0px; ">
                <h10 style="text-align: center; ">@ItemsMasterCount</h10>
            </div>
            <br />
            @if (ItemsMaster == null)
            {
                <RadzenLabel Text=@LocalizationStrings.DataLoading
                             Style="width: 20%; margin-top: 30px; margin-left: 10px; position: absolute; " />
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"
                                   Style="width: 80%; margin-top: 30px; margin-left: 175px; position: absolute; " />
            }
            else
            {
                <RadzenGrid Style="font-size: 10px; margin-top: 30px; margin-left: 0px; margin-right: -30px; margin-bottom: -5px; position: absolute; "
                            Data=@ItemsMaster TItem=NomenclatureLightModel 
                            RowDoubleClick=@(args => RowDoubleClickAsync(TableDwh.NomenclatureMaster, args, true))
                            AllowFiltering="true" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive FilterMode="FilterMode.Advanced"
                            AllowPaging=true PageSize=@BlazorSettings.GridPageSize AllowSorting="true" 
                            AllowColumnResize="true" SelectionMode="DataGridSelectionMode.Single"
                            @bind-Value=@ObjectMaster>
                    <Columns>
                        <RadzenGridColumn TItem=NomenclatureLightModel Property="Code" Title=@LocalizationStrings.TableFieldCode
                                          Type="string" Width="20%" Sortable="true" />
                        <RadzenGridColumn TItem=NomenclatureLightModel Property="ParentConvert" Title=@LocalizationStrings.TableFieldParent
                                          Type="string" Width="30%" Sortable="false">
                            <Template Context="itemCast">
                                <RadzenLabel Style="height: 10px; " Text=@itemCast?.ParentConvert?.Parents?[0] />
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem=NomenclatureLightModel Property="Name" Title=@LocalizationStrings.TableFieldName
                                          Type="string" Width="50%" Sortable="true" />
                    </Columns>
                </RadzenGrid>
            }
        </div>
        <div class="row col-sm-1 col-md-1 col-lg-1" style="margin-top: -5px; margin-left: 55px; margin-right: 0px; margin-bottom: -5px; ">
            <RadzenButton Click=@MasterRecordCreateAsync
                          Style="margin-top: 30px; margin-bottom: 0px; width: 35px; height: 35px; text-align: center;"
                          Icon="add"
                          ButtonStyle="ButtonStyle.Primary"
                          Disabled=@BlazorSettings.SqlDataAccess.IsDisabled />
            <RadzenButton Click=@MasterRecordIncludeAsync
                          Style="margin-top: 5px; margin-bottom: 0px; width: 35px; height: 35px; text-align: center;"
                          Icon="arrow_circle_up"
                          ButtonStyle="ButtonStyle.Primary"
                          Disabled=@BlazorSettings.SqlDataAccess.IsDisabled />
            <RadzenButton Click=@MasterRecordDeleteAsync
                          Style="margin-top: 5px; margin-bottom: 0px; width: 35px; height: 35px; text-align: center;"
                          Icon="delete"
                          ButtonStyle="ButtonStyle.Primary"
                          Disabled=@BlazorSettings.SqlDataAccess.IsDisabled />
            <br />
        </div>
    </div>
    <div class="row col-sm-6 col-md-6 col-lg-6" style="margin-top: 10px; margin-left: -15px; margin-right: -115px; margin-bottom: -5px; ">
        <div class="row col-sm-3 col-md-3 col-lg-3" style="margin-top: -5px; margin-left: -10px; margin-right: 0px; margin-bottom: 0px; ">
            <h10 style="text-align: center; ">@LocalizationStrings.TableTitleNomenclatureNonNormalize</h10>
        </div>
        <div class="row col-sm-6 col-md-6 col-lg-6" style="margin-top: -10px; margin-left: -10px; margin-right: 0px; margin-bottom: 0px; ">
            <RadzenButton Click=@(_ => GetDataAsync(TableDwh.NomenclatureNonNormalize))
                          Style="margin-top: -5px; margin-left: 5px; width: 35px; height: 35px; text-align: center;"
                          Icon="refresh"
                          ButtonStyle="ButtonStyle.Light"
                          Disabled=@BlazorSettings.SqlDataAccess.IsDisabled />
            <RadzenButton Click=@(_ => ActionEditAsync(TableDwh.NomenclatureNonNormalize, ItemNonNormilize, true))
                          Style="margin-top: -5px; margin-left: 5px; width: 35px; height: 35px; text-align: center;"
                          Icon="edit"
                          ButtonStyle="ButtonStyle.Light"
                          Disabled=@BlazorSettings.SqlDataAccess.IsDisabled />
            <RadzenButton Click=@(_ => ClearEntityAsync(TableDwh.NomenclatureNonNormalize))
                          Style="margin-top: -5px; margin-left: 5px; width: 35px; height: 35px; text-align: center;"
                          Icon="clear"
                          ButtonStyle="ButtonStyle.Light"
                          Disabled=@BlazorSettings.SqlDataAccess.IsDisabled />
            <RadzenButton Click=@(_ => OnChangeIsProduct())
                          Style="margin-top: -5px; margin-left: 5px; width: 35px; height: 35px; text-align: center;"
                          Icon="check_circle"
                          ButtonStyle="ButtonStyle.Light"
                          Disabled=@BlazorSettings.SqlDataAccess.IsDisabled />
            <RadzenButton Click=@(_ => SetEntityRelevanceAsync(TableDwh.NomenclatureNonNormalize, 1))
                          Style="margin-top: -5px; margin-left: 5px; width: 35px; height: 35px; text-align: center;"
                          Icon="add"
                          ButtonStyle="ButtonStyle.Light"
                          Disabled=@BlazorSettings.SqlDataAccess.IsDisabled />
            <RadzenButton Click=@(_ => SetEntityRelevanceAsync(TableDwh.NomenclatureNonNormalize, 2))
                          Style="margin-top: -5px; margin-left: 5px; width: 35px; height: 35px; text-align: center;"
                          Icon="remove"
                          ButtonStyle="ButtonStyle.Light"
                          Disabled=@BlazorSettings.SqlDataAccess.IsDisabled />
            <br />
        </div>
        <div class="row col-sm-3 col-md-3 col-lg-3" style="margin-top: -5px; margin-left: 5px; margin-right: 0px; margin-bottom: 0px; ">
            <h10 style="text-align: center; ">@ItemsNonNormilizeCount</h10>
        </div>
        <br />
        @if (ItemsNonNormilize == null)
        {
            <RadzenLabel Text=@LocalizationStrings.DataLoading
                         Style="width: 20%; margin-top: 30px; margin-left: 10px; position: absolute; " />
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"
                               Style="width: 80%; margin-top: 30px; margin-left: 175px; position: absolute; " />
        }
        else
        {
            <RadzenGrid Style="font-size: 10px; margin-top: 25px; margin-left: 0px; margin-right: -115px; margin-bottom: 0px; position: absolute; "
                        Data=@ItemsNonNormilize TItem=NomenclatureLightModel 
                        AllowFiltering="true" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive FilterMode="FilterMode.Advanced"
                        AllowPaging=true PageSize=@BlazorSettings.GridPageSize AllowSorting="true" 
                        AllowColumnResize="true" SelectionMode="DataGridSelectionMode.Single"
                        @bind-Value=@ObjectNonNormilize>
                <Columns>
                    <RadzenGridColumn TItem=NomenclatureLightModel Property="Code" Title=@LocalizationStrings.TableFieldCode
                                      Type="string" Width="14%" Sortable="true" />
                    <RadzenGridColumn TItem=NomenclatureLightModel Property="InformationSystem.Name" Title=@LocalizationStrings.TableFieldInformationSystem
                                      Type="string" Width="17%" Sortable="true" />
                    <RadzenGridColumn TItem=NomenclatureLightModel Property="ParentConvert" Title=@LocalizationStrings.TableFieldParent
                                      Type="string" Width="20%" Sortable="false">
                        <Template Context="itemCast">
                            <RadzenLabel Style="height: 10px; " Text=@itemCast.ParentConvert?.Parents?[0] />
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem=NomenclatureLightModel Property="Name" Title=@LocalizationStrings.TableFieldName
                                      Type="string" Width="42%" Sortable="true" />
                    <RadzenGridColumn TItem=NomenclatureLightModel Property="ParentConvert" Title=@LocalizationStrings.TableFieldRelevanceStatus
                                      Type="string" Width="5%" Sortable="false">
                        <Template Context="itemCast">
                            <RadzenCheckBox Value=@UtilsEnum.GetEnumRelevanceStatusBool(itemCast.RelevanceStatus) TValue="bool?" Disabled=false ReadOnly=true 
                                            Style="text-align: center;" />
                        </Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>
        }
    </div>
</div>
*@