@page "/nomenclaturemaster"
@page "/nomenclaturemaster/{ItemId:long}"
@using MdmControlBlazor.Utils
@using MdmControlCore.Utils
@inherits BlazorMdmControl.Data.BaseRazorModel

@*
<MdmControlBlazor.Components.Nomenclature ItemId=@ItemId />

<div class="row col-sm-12 col-md-12 col-lg-12" style="margin-top: 40px">
    <div class="row col-sm-4 col-md-4 col-lg-4" style="margin-top: -5px; margin-left: -10px; margin-right: -10px; margin-bottom: -5px; ">
        <RadzenLabel Style="text-align: center; " Text=@LocalizationStrings.TableIncludes />
    </div>
    <div class="row col-sm-3 col-md-3 col-lg-3" style="margin-top: -5px; margin-left: -10px; margin-right: -10px; margin-bottom: -5px; ">
        <RadzenButton Click=@(_ => GetDataAsync())
                      Style="margin-top: -5px; margin-left: 5px; width: 35px; height: 35px; text-align: center;"
                      Icon="refresh"
                      ButtonStyle="ButtonStyle.Light"
                      Disabled=@BlazorSettings.SqlDataAccess.IsDisabled />
        <RadzenButton Click=@(_ => ActionEditAsync(IncludeModel, false))
                      Style="margin-top: -5px; margin-left: 5px; width: 35px; height: 35px; text-align: center;"
                      Icon="edit"
                      ButtonStyle="ButtonStyle.Light"
                      Disabled=@BlazorSettings.SqlDataAccess.IsDisabled />
        <RadzenButton Click=@(_ => ExcludeModelAsync(IncludeModel))
                      Style="margin-top: -5px; margin-left: 5px; width: 35px; height: 35px; text-align: center;"
                      Icon="delete"
                      ButtonStyle="ButtonStyle.Light"
                      Disabled=@BlazorSettings.SqlDataAccess.IsDisabled />
        <br />
    </div>
    <div class="row col-sm-5 col-md-5 col-lg-5" style="margin-top: 5px; margin-left: -10px; margin-right: -10px; margin-bottom: -5px; ">
        <RadzenLabel Style="text-align: center; " Text=@IncludeEntitiesCount />
    </div>
    <br />
    @if (IncludeEntities == null)
    {
        <RadzenLabel Text=@LocalizationStrings.DataLoading />
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
    }
    else
    {
        <RadzenGrid Style="font-size: 10px; margin-top: 35px; margin-left: 0px; margin-right: -5px; margin-bottom: 0px; position: absolute; "
                    Data=@IncludeEntities TItem="NomenclatureModel" 
                    RowDoubleClick=@(args => RowDoubleClickAsync(args, false))
                    AllowFiltering="true" FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive FilterMode="FilterMode.Advanced"
                    AllowPaging=true PageSize=@BlazorSettings.GridPageSize AllowSorting="true" 
                    AllowColumnResize="true" SelectionMode="DataGridSelectionMode.Single"
                    @bind-Value=@ObjectIncludeModel>
            <Columns>
                <RadzenGridColumn TItem="NomenclatureModel" Property="Code" Title=@LocalizationStrings.TableFieldCode
                                  Type="string" Width="14%" />
                <RadzenGridColumn TItem="NomenclatureModel" Property="InformationSystem.Name" Title=@LocalizationStrings.TableFieldInformationSystem
                                  Type="string" Width="14%" />
                <RadzenGridColumn TItem="NomenclatureModel" Property="ParentConvert" Title=@LocalizationStrings.TableFieldParent
                                  Type="string" Width="14%">
                    <Template Context="itemCast">
                        <RadzenLabel Style="height: 10px; " Text=@itemCast?.ParentConvert?.Parents?[0] />
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="NomenclatureModel" Property="Name" Title=@LocalizationStrings.TableFieldName
                                  Type="string" Width="33%" />
                <RadzenGridColumn TItem="NomenclatureModel" Property="RelevanceStatus" Title=@LocalizationStrings.TableFieldRelevanceStatus
                                  Type="string" Width="10%">
                    <Template Context="itemCast">
                        <RadzenLabel Style="height: 10px; " Text=@UtilsEnum.GetEnumRelevanceStatusRus(itemCast?.RelevanceStatus) />
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="NomenclatureModel" Property="NormalizationStatus" Title=@LocalizationStrings.TableFieldNormalizationStatus
                                  Type="string" Width="15%">
                    <Template Context="itemCast">
                        <RadzenLabel Style="height: 10px; " Text=@UtilsEnum.GetEnumNormalizationStatusRus(itemCast?.NormalizationStatus) />
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    }
</div>
*@