@using DeviceControl2.Source.Shared.UI.Dialog
@using DeviceControl2.Source.Features
@implements IDialogContentComponent

<Dialog Class="w-[600px] !p-0">
  <SectionDialogHeader>
    Test
  </SectionDialogHeader>
  <div class="p-6 w-full">
    Content
  </div>
</Dialog>

<FluentDialogHeader Visible="false"></FluentDialogHeader>
<FluentDialogBody Class="hidden"></FluentDialogBody>
<FluentDialogFooter Visible="false"></FluentDialogFooter>
