@page "/host"
@using BlazorCore.Utils
@using Microsoft.VisualBasic.CompilerServices
@inherits BlazorDeviceControl.Data.BaseRazorEntity

<div class="row col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldName />
        <RadzenTextBox Style="width: 63%; text-align: center; " Disabled="false" TValue="string" @bind-Value=@Item.Name />
        <br />
        <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldMarked />
        <RadzenCheckBox Disabled="false" TValue="bool" @bind-Value=@Item.Marked />
        <br />
        <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldDeviceIp />
        <RadzenTextBox Style="width: 63%; text-align: center; " Disabled="false" TValue="string" @bind-Value=@Item.Ip />
        <br />
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldIdRRef />
        <RadzenTextBox Style="width: 63%; text-align: center; " Disabled="false" TValue="string" @bind-Value=@Item.IdRRefAsString />
        <br />
        <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldDeviceMac />
        <RadzenTextBox Style="width: 63%; text-align: center; " Disabled="false" TValue="string" @bind-Value=@Item.Mac />
        <br />
    </div>
</div>

<br />
<div class="col-sm-12 col-md-12 col-lg-12">
    <RadzenLabel Style="width: 100%;" Text=@LocalizationStrings.DeviceControl.TableFieldSettingsFile />
    <br />
    <RadzenTextArea Style="width: 100%; height: 500px; font-size: 14px; line-height: 20px;"
                    Disabled="false" TValue="string" @bind-Value=@Item.SettingsFile />
    <br />
</div>

<div class="row col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px">
    <RadzenLabel Style="font-size: 12px; width: 24%; text-align: center;" Text=@LocalizationStrings.DeviceControl.TableFieldCreateDt />
    <RadzenLabel Style="font-size: 12px; width: 24%; text-align: left;" Text=@Item.CreateDate.ToString() />
    <RadzenLabel Style="font-size: 12px; width: 24%; text-align: center;" Text=@LocalizationStrings.DeviceControl.TableFieldModifiedDate />
    <RadzenLabel Style="font-size: 12px; width: 24%; text-align: left;" Text=@Item.ModifiedDate.ToString() />
</div>
