@page "/plu"
@using BlazorCore.Utils
@using Microsoft.VisualBasic.CompilerServices
@inherits BlazorCore.Models.BaseRazorEntity

<div class="row col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-7 col-md-7 col-lg-7">
        <RadzenLabel Style="width: 30%;" Text=@LocalizationStrings.DeviceControl.TableFieldLine />
        @if (ScalesEntities == null)
        {
            <RadzenTextBox Style="width: 68%; height: 35px;" Disabled="true" TValue="string" Value="" />
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
        }
        else
        {
            <RadzenDropDownDataGrid Style="width: 68%; height: 35px;" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                                    Data=@ScalesEntities PageSize="5"
                                    TextProperty="Description" ValueProperty="Id"
                                    Value=@Item.Scale?.Id Disabled="true"
                                    Change=@(args => OnChange(args, "Scale")) />
        }
        <br />
        <RadzenLabel Style="width: 30%;" Text=@LocalizationStrings.DeviceControl.TableFieldTemplate />
        @if (TemplatesEntities == null)
        {
            <RadzenTextBox Style="width: 68%; height: 35px;" Disabled="true" TValue="string" Value="" />
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
        }
        else
        {
            <RadzenDropDownDataGrid Style="width: 68%; height: 35px;" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                                    Data=@TemplatesEntities PageSize="5"
                                    TextProperty="Title" ValueProperty="Id"
                                    Value=@Item.Templates?.Id
                                    Change=@(args => OnChange(args, "Templates")) />
        }
        <br />
        <RadzenLabel Style="width: 30%;" Text=@LocalizationStrings.DeviceControl.TableFieldNomenclatureName />
        @if (NomenclatureEntities == null)
        {
            <RadzenTextBox Style="width: 68%; height: 35px;" Disabled="true" TValue="string" Value="" />
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 77%; height: 15px" />
        }
        else
        {
            <RadzenDropDownDataGrid Style="width: 68%; height: 35px;" TValue="int" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    AllowFiltering="true" AllowClear="true" AllowFilteringByAllStringColumns="true"
                                    Data=@NomenclatureEntities PageSize="5"
                                    TextProperty="Name" ValueProperty="Id"
                                    Value=@Item.Nomenclature?.Id
                                    Change=@(args => OnChange(args, "Nomenclature")) />
        }
        <br />
        <RadzenLabel Style="width: 30%;" Text=@LocalizationStrings.DeviceControl.TableFieldActive />
        <RadzenCheckBox Disabled="false" TValue="bool" @bind-Value=@Item.Active />
        <br />
        <RadzenLabel Style="width: 30%;" Text=@LocalizationStrings.DeviceControl.TableFieldUpperWeightThreshold />
        <RadzenNumeric Style="width: 68%; text-align: center;" Disabled="false" TValue="decimal?" @bind-Value=@Item.UpperWeightThreshold />
        <br />
        <RadzenLabel Style="width: 30%;" Text=@LocalizationStrings.DeviceControl.TableFieldNominalWeight />
        <RadzenNumeric Style="width: 68%; text-align: center;" Disabled="false" TValue="decimal?" @bind-Value=@Item.NominalWeight />
        <br />
        <RadzenLabel Style="width: 30%;" Text=@LocalizationStrings.DeviceControl.TableFieldLowerWeightThreshold />
        <RadzenNumeric Style="width: 68%; text-align: center;" Disabled="false" TValue="decimal?" @bind-Value=@Item.LowerWeightThreshold />
        <br />
        <RadzenLabel Style="width: 30%;" Text=@LocalizationStrings.DeviceControl.TableFieldCheckWeight />
        <RadzenCheckBox Disabled="false" TValue="bool?" @bind-Value=@Item.CheckWeight />
        <br />
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5">
        <RadzenLabel Style="width: 35%;" Text=@LocalizationStrings.DeviceControl.TableFieldPlu />
        <RadzenNumeric Style="width: 63%; text-align: center;" Disabled="false" TValue="int" @bind-Value=@Item.Plu />
        <br />
        <RadzenLabel Style="width: 26.5%;" Text=@LocalizationStrings.DeviceControl.TableFieldShelfLifeDays />
        <RadzenButton Style="width: 7%; margin-right: 1%;" Disabled="false" Icon="autorenew"
                      Click=@(args => OnClickFieldsFill("GoodsShelfLifeDays")) />
        <RadzenNumeric Style="width: 63%; text-align: center;" Disabled="false" TValue="short" @bind-Value=@Item.GoodsShelfLifeDays />
        <br />
        <RadzenLabel Style="width: 26.5%;" Text=@LocalizationStrings.DeviceControl.TableFieldGoodsTareWeight />
        <RadzenButton Style="width: 7%; margin-right: 1%;" Disabled="false" Icon="autorenew"
                      Click=@(args => OnClickFieldsFill("GoodsTareWeight")) />
        <RadzenNumeric Style="width: 63%; text-align: center;" Disabled="false" TValue="decimal" @bind-Value=@Item.GoodsTareWeight />
        <br />
        <RadzenLabel Style="width: 26.5%;" Text=@LocalizationStrings.DeviceControl.TableFieldGoodsBoxQuantly />
        <RadzenButton Style="width: 7%; margin-right: 1%;" Disabled="false" Icon="autorenew"
                      Click=@(args => OnClickFieldsFill("GoodsBoxQuantly")) />
        <RadzenNumeric Style="width: 63%; text-align: center;" Disabled="false" TValue="int" @bind-Value=@Item.GoodsBoxQuantly />
        <br />
        <RadzenLabel Style="width: 26.5%;" Text=@LocalizationStrings.DeviceControl.TableFieldEan13 />
        <RadzenButton Style="width: 7%; margin-right: 1%;" Disabled="false" Icon="autorenew"
                      Click=@(args => OnClickFieldsFill("EAN13")) />
        <RadzenTextBox Style="width: 50%; text-align: center;" Disabled="false" TValue="string" @bind-Value=@Item.Ean13 />
        @if (Item?.Ean13 == null)
        {
            <RadzenLabel Style="width: 10.0%; text-align: center; " Text="0" />
        }
        else
        {
            <RadzenLabel Style="width: 10.0%; text-align: center; " Text=@Item.Ean13.Length.ToString() />
        }
        <br />
        <RadzenLabel Style="width: 18.0%; margin-top: 20px;" Text=@LocalizationStrings.DeviceControl.TableFieldGtin />
        <RadzenButton Style="width: 7%; margin-right: 0.75%;" Disabled="false" Icon="aspect_ratio"
                      ButtonStyle="ButtonStyle.Secondary"
                      Click=@(args => OnClickFieldsFill("getgtin")) />
        <RadzenButton Style="width: 7%; margin-right: 0.75%;" Disabled="false" Icon="autorenew"
                      Click=@(args => OnClickFieldsFill("GTIN")) />
        <RadzenTextBox Style="width: 50%; text-align: center;" Disabled="false" TValue="string" @bind-Value=@Item.Gtin />
        @if (Item?.Gtin == null)
        {
            <RadzenLabel Style="width: 10.0%; text-align: center; " Text="0" />
        }
        else
        {
            <RadzenLabel Style="width: 10.0%; text-align: center; " Text=@Item.Gtin.Length.ToString() />
        }
        <br />
        <RadzenLabel Style="width: 26.5%;" Text=@LocalizationStrings.DeviceControl.TableFieldItf14 />
        <RadzenButton Style="width: 7%; margin-right: 1%;" Disabled="false" Icon="autorenew"
                      Click=@(args => OnClickFieldsFill("ITF14")) />
        <RadzenTextBox Style="width: 50%; text-align: center;" Disabled="false" TValue="string" @bind-Value=@Item.Itf14 />
        @if (Item?.Itf14 == null)
        {
            <RadzenLabel Style="width: 10.0%; text-align: center; " Text="0" />
        }
        else
        {
            <RadzenLabel Style="width: 10.0%; text-align: center; " Text=@Item.Itf14.Length.ToString() />
        }
        <br />
        <RadzenButton Style="width: 48%; " Disabled="false" Icon="autorenew" Text=@LocalizationStrings.DeviceControl.TableActionFill
                      Click=@(args => OnClickFieldsFill("Entity")) />
        <RadzenButton Style="width: 48%; " Disabled="false" Icon="clear" Text=@LocalizationStrings.DeviceControl.TableActionClear
                      Click=@(args => OnClickFieldsFill("Clear")) />
        <br />
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px; border-color: grey; border-width: 1px; border-style: solid;">
        <RadzenLabel Style="width: 13.5%;" Text=@LocalizationStrings.DeviceControl.TableFieldName />
        <RadzenButton Style="width: 3%; margin-right: 0.5%;" Disabled="false" Icon="autorenew" Click=@(args => OnClickFieldsFill("GoodsName")) />
        <RadzenTextArea Style="width: 82%; height: 30px;" Disabled="false" TValue="string" @bind-value=@Item.GoodsName />
        <br />
        <RadzenLabel Style="width: 13.5%;" Text=@LocalizationStrings.DeviceControl.TableFieldGoodsFullName />
        <RadzenButton Style="width: 3%; margin-right: 0.5%;" Disabled="false" Icon="autorenew" Click=@(args => OnClickFieldsFill("GoodsFullName")) />
        <RadzenTextArea Style="width: 82%; height: 60px;" Disabled="false" TValue="string" @bind-value=@Item.GoodsFullName />
        <br />
        <RadzenLabel Style="width: 13.5%;" Text=@LocalizationStrings.DeviceControl.TableFieldGoodsDescription />
        <RadzenButton Style="width: 3%; margin-right: 0.5%;" Disabled="false" Icon="autorenew" Click=@(args => OnClickFieldsFill("GoodsDescription")) />
        <RadzenTextArea Style="width: 82%; height: 60px;" Disabled="false" TValue="string" @bind-value=@Item.GoodsDescription />
        <br />
        <RadzenLabel Style="width: 95%; text-align: center" Text=@LocalizationStrings.DeviceControl.TableFieldPluDescription />
        <br />
    </div>
</div>

<div class="row col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px">
    <RadzenLabel Style="font-size: 12px; width: 24%; text-align: center;" Text=@LocalizationStrings.DeviceControl.TableFieldCreateDt />
    <RadzenLabel Style="font-size: 12px; width: 24%; text-align: left;" Text=@Item.CreateDate.ToString() />
    <RadzenLabel Style="font-size: 12px; width: 24%; text-align: center;" Text=@LocalizationStrings.DeviceControl.TableFieldModifiedDate />
    <RadzenLabel Style="font-size: 12px; width: 24%; text-align: left;" Text=@Item.ModifiedDate.ToString() />
</div>
