@using ScalesDesktop.Source.Widgets
@using ScalesDesktop.Source.Widgets.PalletSelect
@using ScalesDesktop.Source.Shared.Utils
@attribute [Route(RouteUtils.Pallet)]

<div class="flex flex-col grow size-full">
  <PageHeader />
  <div class="size-full flex flex-col grow overflow-hidden items-center justify-center px-8 pt-2 pb-4 xl:p-10">
    @if (PalletContext.PalletMan.IsNew)
    {
      <PalletManForm />
    }
    else
    {
      <div class="size-full grid grid-rows-1 grid-cols-[24rem,2fr] rounded-lg shadow-sm bg-white border divide-x max-w-screen-2xl overflow-hidden">
        <PalletSelect />
        <Workspace />
      </div>
    }
  </div>
</div>
