<div class="w-full !mt-0 bg-white border-t border-t-black/[.1] gap-3 py-4 flex flex-col">
  @if (CreateDate != null || ChangeDate != null)
  {
    <div class="flex px-4 items-center w-full">
      @if (CreateDate != null)
      {
        <div class="w-1/2 px-10 items-center flex gap-2">
          <p class="font-normal">@Localizer["DataGridColumnCreateDt"]:</p>
          <p>@CreateDate?.ToString("dd.MM.yyyy HH:mm")</p>
        </div>
      }
      @if (ChangeDate != null)
      {
        <div class="w-1/2 px-10 flex-items flex gap-2">
          <p class="font-normal">@Localizer["DataGridColumnChangeDt"]:</p>
          <p>@ChangeDate?.ToString("dd.MM.yyyy HH:mm")</p>
        </div>
      }
    </div>
  }
  <div class="flex px-6 w-full gap-2 justify-end">
    <button
      type="button"
      @onclick="CloseModal"
      class="h-9 bg-red-300 transition-colors flex items-center px-4 justify-center overflow-hidden
                    rounded-md border border-black/[.1] hover:bg-red-400"
    >
      <p class="font-normal pt-[1px]">@Localizer["ButtonCancel"]</p>
    </button>
    <button
      type="button"
      @onclick="SaveAction"
      class="h-9 bg-green-300 transition-colors flex items-center px-4 justify-center overflow-hidden
                    rounded-md border border-black/[.1] hover:bg-green-400"
    >
      <p class="font-normal pt-[1px]">@Localizer["ButtonSave"]</p>
    </button>
  </div>
</div>