@inherits SectionFormInputBase

<div class="h-14 w-1/2 flex flex-col px-10 @(IsFullWidth ? "w-full" : "w-1/2") @(IsTall ? "h-32" : "h-14")">
  @if (string.IsNullOrEmpty(Link))
  {
    <label>@Label</label>
  }
  else
  {
    <a href="@Link" target="_blank" class="w-fit max-w-full shrink-0 overflow-hidden">
      <label class="text-sky-500 w-fit truncate cursor-pointer transition-colors hover:text-sky-600">
        @Label
      </label>
    </a>
  }
  <div class="w-full h-full flex flex-col grow overflow-hidden">
    @ChildContent
  </div>
</div>