<div class="w-full flex flex-col">
  <div class="w-full flex flex-wrap gap-y-3 items-start pt-6 pb-8 px-5">
    @ChildContent
  </div>
</div>
<SectionFormFooter
  ChangeDate="ChangeDate"
  CreateDate="CreateDate"
  OnSaveAction="OnSaveAction"
  IsSaveable="IsSaveable"
/>