@using Ws.Shared.Enums

<div class="rounded-md overflow-hidden bg-background">
  <SectionModalHeader>
    <ul class="w-full h-full flex items-center gap-2 justify-center">
      @foreach (EnumTypeModel<string> item in TabsButtonList)
      {
        <li>
          <VsButton
            Variant="@(IsSelectedTab(item.Value) ? ButtonVariant.Secondary: ButtonVariant.Outline)"
            OnClick="@(() => ChangeSelectedTab(item.Value))"
          >
            @item.Name
          </VsButton>
        </li>
      }
    </ul>
  </SectionModalHeader>
  <div class="w-full overflow-y-auto overflow-x-hidden">
    <Tabs
      @ref="TabsRef"
      RenderMode="TabsRenderMode.LazyLoad"
      @bind-SelectedTab="SelectedTab"
      Class="!p-0"
    >
      <Content>
      @ChildContent
      </Content>
    </Tabs>
  </div>
</div>
