@using Ws.Domain.Models.Entities.Ref
@using DeviceControl.Source.Features.BarcodeConfigurator
@using Microsoft.FluentUI.AspNetCore.Components
@using Ws.Domain.Services.Features.Template

<div class="w-full bg-secondary/[.3] pt-6 pb-8 px-5 overflow-y-auto dark:bg-inherit">
  <Accordion Title="Верхний штрихкод">
    <BarcodeConfigurator @bind-BarcodeDictionary="DialogItem.BarcodeTopBody" />
  </Accordion>
  <Accordion Title="Нижний штрихкод">
    <BarcodeConfigurator @bind-BarcodeDictionary="DialogItem.BarcodeBottomBody" />
  </Accordion>
  <Accordion Title="Боковой штрихкод">
    <BarcodeConfigurator @bind-BarcodeDictionary="DialogItem.BarcodeRightBody" />
  </Accordion>
</div>

@code {
  [Inject] private ITemplateService TemplateService { get; set; } = default!;
  [Inject] private IToastService ToastService { get; set; } = default!;
  [CascadingParameter(Name = "DialogItem")] protected TemplateEntity DialogItem { get; set; } = new();

  private void SubmitForm()
  {
    try
    {
      TemplateService.Update(DialogItem);
      ToastService.ShowSuccess("Успешно обновлено");
    }
    catch
    {
      ToastService.ShowError("Что то пошло не так");
    }
  }
}