<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScalesUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
 <applicationSettings>
  <ScalesUI.Properties.Settings>
    <setting name="ConnectionString" serializeAs="String" xdt:Transform="Replace" xdt:Locator="XPath(/configuration/applicationSettings/ScalesUI.Properties.Settings/setting[@name='ConnectionString'])">
       <value>Data Source=PALYCH\LUTON;Initial Catalog=ScalesDB;Persist Security Info=True;User ID=scale01;Password=scale01;TrustServerCertificate=True</value>
    </setting>
  </ScalesUI.Properties.Settings>
 </applicationSettings>
</configuration>
