@page "/iis"

<h2>
    <RadzenLabel Text=@LocaleData.Resources.IisServerTitle />
</h2>

<body>
    <RadzenLink Path=@LocaleData.Resources.IisServerBlazorDevicePath Text=@LocaleData.Resources.IisServerBlazorDeviceText />
    <br />
    <RadzenLink Path=@LocaleData.Resources.IisServerBlazorBackupPath Text=@LocaleData.Resources.IisServerBlazorBackupText />
    <br />
    <RadzenLink Path=@LocaleData.Resources.IisServerBlazorExamplePath Text=@LocaleData.Resources.IisServerBlazorExampleText />
    <br />
    <RadzenLink Path=@LocaleData.Resources.IisServerBlazorDao1Path Text=@LocaleData.Resources.IisServerBlazorDao1Text />
    <br />
    <RadzenLink Path=@LocaleData.Resources.IisServerBlazorDao2Path Text=@LocaleData.Resources.IisServerBlazorDao2Text />
    <br />
    <RadzenLink Path=@LocaleData.Resources.IisServerBlazorDbDocPath Text=@LocaleData.Resources.IisServerBlazorDbDocText />
    <br />
    <RadzenLink Path=@LocaleData.Resources.IisServerBlazorResourcesVsPath Text=@LocaleData.Resources.IisServerBlazorResourcesVsText />
    <br />
    <RadzenLink Path=@LocaleData.Resources.IisServerBlazorSmart1Path Text=@LocaleData.Resources.IisServerBlazorSmart1Text />
    <br />
    <RadzenLink Path=@LocaleData.Resources.IisServerBlazorSmart2Path Text=@LocaleData.Resources.IisServerBlazorSmart2Text />
    <br />
</body>
