@inherits SectionFormInputBase

<div class="flex group relative flex-col px-5 sm:px-3 md:px-10 @GetClassBySize(Size)">
  @if (string.IsNullOrEmpty(Link))
  {
    <label class="truncate shrink-0">@Label</label>
  }
  else
  {
    <a href="@Link" target="_blank" class="w-fit max-w-full shrink-0 overflow-hidden">
      <label class="text-sky-500 truncate shrink-0 w-fit cursor-pointer transition-colors hover:text-sky-600">
        @Label
      </label>
    </a>
  }
  <div class="w-full h-full flex flex-col grow overflow-hidden">
    @ChildContent
  </div>
</div>