@typeparam TItem
@inherits SectionFormInputBase


<SectionFormInputWrapper Label="@Label" Link="@Link">
  @if (IsDisabled)
  {
    <div class="w-full rounded-md h-full px-2 overflow-hidden border border-black/[.1] bg-gray-200 dark:bg-neutral-900 dark:border-neutral-800">
      <p class="truncate">Выбрано @SelectedItems.Count() объектов</p>
    </div>
  }
  else
  {
    <SelectMultiple
      TItem="TItem"
      Items="Items"
      @bind-SelectedItems="SelectedItems"
      @bind-SelectedItems:after="OnSelectedItemsChanged"
      ItemDisplayName="ItemDisplayName"
    />
  }
</SectionFormInputWrapper>