@typeparam TItem
@inherits SectionFormInputBase


<SectionFormInputWrapper Label="@Label" Link="@Link">
  @if (IsDisabled)
  {
    <div class="w-full rounded-md h-full px-2 overflow-hidden border border-black/[.1] bg-gray-200 dark:bg-neutral-900 dark:border-neutral-800">
      <p class="truncate">@ItemDisplayName(SelectedItem)</p>
    </div>
  }
  else
  {
    <SelectSingle
      TItem="TItem"
      Items="Items"
      @bind-SelectedItem="SelectedItem"
      @bind-SelectedItem:after="OnSelectedItemChanged"
      ItemDisplayName="ItemDisplayName"
      IsFilterable="IsFilterable"
    />
  }
</SectionFormInputWrapper>