<!DOCTYPE html>
<html lang="en">

<head>
  <title>Blazor Keycloak</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <base href="/"/>
  <link rel="stylesheet" href="KeycloakBlazor.styles.css"/>
  <link rel="stylesheet" href="./_content/Ws.Components/app.min.css"/>
  <link rel="stylesheet" href="app.min.css"/>
  <HeadOutlet />
</head>
<body class="min-h-screen bg-background overflow-x-hidden antialiased">
  <Routes @rendermode="InteractiveServer"/>
  <script src="./_content/Ws.Components/index.js"></script>
  <script src="_framework/blazor.web.js"></script>
</body>
</html>
