<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/" />
  <link rel="stylesheet" href="app.min.css" />
  <link rel="icon" type="image/png" href="favicon.png" />
  <title>Blazor Keycloak</title>
  <HeadOutlet />
</head>
<body class="min-h-screen bg-background overflow-x-hidden antialiased">
  <Routes />
  <script src="_framework/blazor.web.js"></script>
</body>
</html>
