@using KeycloakBlazor.Source.Utils
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="w-full flex flex-col h-screen">
  <div class="h-14 border-b w-full flex items-center justify-center">
    <div class="max-w-screen-2xl w-full mx-auto flex items-center justify-between">
      <a href="@RouteUtils.Home">
        <h1>Blazor Keycloak</h1>
      </a>
      <div>
        <AuthorizeView>
          <Authorized>
            <form method="post" action="@($"{RouteUtils.Authorization}/logout")">
              <button type="submit" class="flex items-center gap-2">
                <div class="size-8 flex items-center overflow-hidden rounded-full justify-center bg-muted">
                  @context.User.Identity?.Name
                </div>
                <p>Log out</p>
              </button>
              <AntiforgeryToken />
            </form>
          </Authorized>
          <NotAuthorized>
            <form method="get" action="@($"{RouteUtils.Authorization}/login")">
              <button type="submit">Log in</button>
              <AntiforgeryToken />
            </form>
          </NotAuthorized>
        </AuthorizeView>
      </div>
    </div>
  </div>
  <div class="h-full max-w-screen-2xl w-full mx-auto">
    @Body
  </div>
</div>
