<div class="plu-config-bar">
  <ul class="plu-config-bar__list">
    @foreach (ControlBarButton button in PluConfigButtonList)
    {
      <li>
        <PrimaryButton Title="@button.Title" OnClickAction="@button.OnClickAction"/>
      </li>
    }
  </ul>
</div>
<div class="plu-print-bar">
  <ul class="plu-print-bar__list">
    @foreach (ControlBarButton button in PluPrintButtonList)
    {
      <li>
        <PrimaryButton Title="@button.Title" OnClickAction="@button.OnClickAction"/>
      </li>
    }
  </ul>
</div>