@attribute [Route(RouteUtils.Labels)]
@using ScalesHybrid.Features.Labels.Modules
@using ScalesHybrid.Features.Labels.Layouts


<div class="flex flex-col grow w-full h-full">
  <LabelsHeader />
  <div class="flex overflow-hidden items-center flex-col grow justify-center w-full h-full">
    <div class="grid overflow-hidden w-full h-full px-2 max-w-screen-2xl grid-rows-1 grid-cols-[1fr,1.5fr]">
      <LabelConfig />
      <LabelDisplay />
    </div>
  </div>
  <p class="text-right absolute text-gray-500 bottom-0 right-1 text-sm xl:text-base">
    @LineContext.Line.PcName | @LineContext.PrinterEntity.Name
  </p>
</div>