@using Blazor.Heroicons.Outline
@using Microsoft.Extensions.Localization
@using ScalesDesktop.Source.Shared.Localization
@using ScalesDesktop.Source.Shared.Services
@using ScalesDesktop.Source.Shared.UI
@using Ws.Domain.Models.Enums

<div class="shrink-0 w-full flex gap-4 pt-4 border-t">
  <div class="flex items-center justify-center h-full">
    <div class="rounded-full flex items-center bg-secondary justify-center size-14">
      @switch (LineContext.Line.Type)
      {
        case LineTypeEnum.Pc:
          <ComputerDesktopIcon class="size-6" />
          break;
        case LineTypeEnum.Tablet:
          <DeviceTabletIcon class="size-6" />
          break;
        case LineTypeEnum.Universal:
          <ServerIcon class="size-6" />
          break;
        default:
          <ExclamationTriangleIcon class="size-6 text-destructive" />
          break;
      }
    </div>
  </div>
  <div class="flex flex-col justify-center overflow-hidden w-full">
    <span class="xl:text-xl truncate">@LabelContext.Line.Name</span>
    <span class="text-sm xl:text-lg truncate">@LabelContext.Line.Warehouse</span>
  </div>
  <div class="h-full flex items-center justify-center shrink-0">
    <Button
      Size="ButtonSize.Large"
      OnClick="@AppReset"
      Class="!px-4 lg:!px-8"
    >
      <ArrowPathIcon class="size-5 lg:hidden" />
      <span class="hidden lg:block">@Localizer["BtnUpdate"]</span>
    </Button>
  </div>
</div>

@code {
  # region Injects

  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private LineContext LineContext { get; set; } = default!;
  [Inject] private LabelContext LabelContext { get; set; } = default!;

  # endregion

  private void AppReset()
  {
    LineContext.ResetLine();
    LabelContext.InitializeData();
  }

}