@using Blazor.Heroicons.Outline
@using Microsoft.Extensions.Localization
@using ScalesDesktop.Source.Shared.Localization
<div class="size-full flex flex-col items-center justify-center">
  <ExclamationCircleIcon class="size-8" />
  <span class="text-lg">@Localizer["LabelConfigEmptyPluWarning"]</span>
</div>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
}