<Dialog Class="max-w-screen-lg min-h-52 !p-0">
  <Tabs DefaultTab="@DefaultTab" @ref="TabComponent">
    <DialogHeader>
      <ul class="flex gap-2">
        @foreach (Tab tab in TabComponent.TabsList)
        {
          <li>
            <Button
              Variant="@(TabComponent.ActiveTabId == tab.Id ? ButtonVariant.Secondary : ButtonVariant.Outline)"
              OnClick="@(() => TabComponent.ChangeTab(tab.Id))"
            >
              @tab.Title
            </Button>
          </li>
        }
      </ul>
    </DialogHeader>
    @ChildContent
  </Tabs>
</Dialog>

@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter] public string? DefaultTab { get; set; }

  private Tabs TabComponent { get; set; } = default!;
}