@attribute [Route(RouteUtils.PalletForm)]
@using Blazor.Heroicons.Outline

<div class="flex flex-col grow w-full h-full">
  <PageHeader />
  <div class="w-full h-full flex flex-col grow overflow-hidden items-center justify-center px-8 pt-2 pb-4 xl:p-10">
    <div class="w-full h-fit rounded-lg flex flex-col bg-white border max-w-screen-md overflow-hidden">
      <div class="h-12 w-full shrink-0 items-center border-b border-b-neutral-200 px-4 flex justify-between">
        <div class="w-32">
          <a href="@RouteUtils.Pallet">
            <SharedButton Variant="ButtonVariant.Outline">
              <ArrowLeftIcon class="h-4 w-4 mr-2" />
              <span>Назад</span>
            </SharedButton>
          </a>
        </div>
        <SharedButton Variant="ButtonVariant.Secondary">
          Форма создания
        </SharedButton>
        <div class="w-32"></div>
      </div>
      <div class="h-full w-full p-6 grow overflow-y-auto">
        <CreateForm />
      </div>
    </div>
  </div>
</div>