<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Errata" version="0.10.0" targetFramework="net48" />
  <package id="Microsoft.CodeCoverage" version="17.3.1" targetFramework="net48" />
  <package id="Microsoft.NET.Test.Sdk" version="17.3.1" targetFramework="net48" />
  <package id="NUnit" version="3.13.3" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.2.1" targetFramework="net48" />
  <package id="Spectre.Console" version="0.45.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>