<Dialog Class="max-w-screen-sm select-none p-3 md:p-6">
  <input
    type="text"
    name="numeric-input"
    @bind="Number"
    @bind:event="oninput"
    @onkeydown="HandleKeyDown"
    maxlength="@MaxDigitCount"
    placeholder="1"
    inputmode="none"
    class="w-full border px-3 py-2 focus:border-border focus:outline-none rounded-lg focus:ring-0 text-right text-4xl"
  />
  <div class="grid grid-cols-3 grid-rows-4 mt-6 w-full gap-2">
    @foreach (CalculatorControl control in CalculatorControls)
    {
      <Button
        Variant="ButtonVariantType.Secondary"
        OnClick="@control.CalculatorAction"
        Class="!h-16 !text-xl !border"
      >
        @control.Title
      </Button>
    }
  </div>
</Dialog>