@using Ws.StorageCore.Entities.SchemaScale.Scales

<div class="line-select__container">
  <RadzenDataGrid RowSelect="OnRowSelect" Data="LineEntities" TItem="SqlLineEntity" AllowPaging="true" PageSize="7">
    <Columns>
      <RadzenDataGridColumn
        Title="Номер"
        TItem="SqlLineEntity"
        Property="Number"
        Width="15%"
      />
      <RadzenDataGridColumn
        Title="Имя"
        TItem="SqlLineEntity"
        Property="Description"
        Width="45%"
      />
      <RadzenDataGridColumn
        Title="Площадка"
        TItem="SqlLineEntity"
        Property="WorkShop.Name"
        Width="40%"
      />
    </Columns>
  </RadzenDataGrid>
</div>