@using Blazor.Heroicons.Outline
@typeparam TItem

<DialogHeader Label="@Title" />

<ModalBody Class="!p-0">
  <BlazorDataGrid
    TItem="TItem"
    SelectedRowChanged="OnItemSelect"
    Data="@GridData"
  >
    <DataGridColumns>
      @ChildContent
    </DataGridColumns>
    <PageButtonTemplate>
      <button type="button" class="h-8 w-8 text-lg xl:h-10 xl:w-10 xl:text-xl">
        @context.PageNumber
      </button>
    </PageButtonTemplate>
    <NextPageButtonTemplate>
      <ChevronRightIcon class="h-4 w-4 mx-2 my-2 xl:h-6 xl:w-6" />
    </NextPageButtonTemplate>
    <PreviousPageButtonTemplate>
      <ChevronLeftIcon class="h-4 w-4 mx-2 my-2 xl:h-6 xl:w-6" />
    </PreviousPageButtonTemplate>
    <LastPageButtonTemplate>
      <ChevronDoubleRightIcon class="h-4 w-4 mx-2 my-2 xl:h-6 xl:w-6" />
    </LastPageButtonTemplate>
    <FirstPageButtonTemplate>
      <ChevronDoubleLeftIcon class="h-4 w-4 mx-2 my-2 xl:h-6 xl:w-6" />
    </FirstPageButtonTemplate>
    <TotalItemsTemplate>
      <span class="hidden"></span>
    </TotalItemsTemplate>
    <TotalItemsShortTemplate>
      <span class="hidden"></span>
    </TotalItemsShortTemplate>
  </BlazorDataGrid>
</ModalBody>