.calculator__container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 60vh;
}

.calculator__display {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 4rem;
  padding: 1rem 0.4rem;
  border: 1px solid var(--button-border-color);
  border-radius: 0.3rem;
}

.calculator__display-digit {
  font-size: 2rem;
  width: 1.5rem;
}

.calculator__controls {
  display: grid;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1rem;
}

.calculator__controls-button {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--button-border-color);
  border-radius: 0.3rem;
  background-color: var(--button-color);
}

.calculator__controls-button:hover {
  background-color: var(--button-hover-color);
}