<Dialog class="max-w-lg p-6">
  <div class="flex flex-col space-y-2 mb-4 text-center">
    <h2 class="text-lg font-semibold">Вы хотите выйти из приложения?</h2>
    <p class="text-sm text-muted-foreground">Данное действие необратимо.
      Для повторного входа в приложение потребуется системный администратор.</p>
  </div>
  <div class="flex flex-col gap-2">
    <Button OnClick="@ExitApp" Class="!w-full">
      Выход
    </Button>
    <Button Variant="ButtonVariant.Outline" OnClick="@CloseDialog">
      Отмена
    </Button>
  </div>
</Dialog>
