@using ScalesDesktop.Source.Shared.Utils
@using ScalesDesktop.Source.Features
@using Ws.Domain.Models.Enums
@attribute [Route(RouteUtils.Home)]

<div class="size-full flex items-center">
  <div class="w-full flex flex-col gap-20">
    <div class="w-full">
      <p class="truncate text-center text-4xl font-medium">Весовая Служба 2.0</p>
    </div>
    <div class="w-full flex items-center justify-center px-10 gap-4">
      @if (LineContext.Line.Type is LineTypeEnum.Tablet or LineTypeEnum.Universal)
      {
        <a href="@RouteUtils.Labels">
          <button
            type="button"
            class="h-48 w-64 rounded-2xl bg-white transition-transform overflow-hidden shadow-md border hover:scale-105">
            <p class="text-3xl">Этикетка</p>
          </button>
        </a>
      }
      @if (LineContext.Line.Type is LineTypeEnum.Pc or LineTypeEnum.Universal)
      {
        <a href="@RouteUtils.Pallet">
          <button
            type="button"
            class="h-48 w-64 rounded-2xl bg-white transition-transform overflow-hidden shadow-md border hover:scale-105">
            <p class="text-3xl">Паллеты</p>
          </button>
        </a>
      }
      <button
        type="button"
        @onclick="ShowCloseAppDialog"
        class="h-48 w-64 rounded-2xl bg-white transition-all overflow-hidden shadow-md border hover:bg-red-300 hover:shadow-red-200 hover:scale-105">
        <p class="text-3xl">Выход</p>
      </button>
    </div>
    <div class="flex gap-10 px-10 w-full max-w-screen-lg mx-auto">
      <div class="w-1/2">
        <LineInputWithReset />
      </div>
      <div class="w-1/2">
        <InputWithLabel
          Label="Склад"
          Value="@LineContext.Line.Warehouse.Name"
          IsDisabled
        />
      </div>
    </div>
  </div>
</div>
