@using ScalesDesktop.Source.Features
@attribute [Route(RouteUtils.Home)]

<div class="size-full flex items-center justify-center">
  <div class="bg-background max-w-lg shadow-sm w-full rounded-xl overflow-hidden p-6 border flex gap-6 flex-col">
    <HomeMenu />
    <ArmControl />
  </div>
</div>
