@page "/system/logs"
@using BlazorCore
@using BlazorCore.DAL.DataModels
@using BlazorCore.Utils
@inherits BlazorCore.Models.BaseRazorEntity

@if (AppSettings.IdentityItem.AccessLevel is true or false)
{
    <div class="col-sm-12 col-md-12 col-lg-12">

        <MudElement HtmlTag="h3" Class="ma-0">
            @LocalizationStrings.Share.SysLogs
            <RadzenButton Click=@(args => SetParametersAsync(new ParameterView()))
                          ButtonStyle="ButtonStyle.Primary" Style="margin-top: 10px; width: 80px; margin-left: 25px"
                          class="oi oi-reload" Disabled=@AppSettings.DataAccess.IsDisabled MouseEnter="@(args => ShowTooltipGetData(args))" />
        </MudElement>

        @if (Items == null)
        {
            <DataLoad IsShowDiv=false DataLoadItem=EnumDataLoad.Loading />
        }
        else
        {
            <DataLoad IsShowDiv=false DataLoadItem=EnumDataLoad.Success IsShowProgress=false />

            <RadzenLabel Text=@LocalizationStrings.Share.DataLoading Style="width: 20%" />
            <RadzenGrid Data=@Items TItem="LogSummaryEntity"
                        RowSelect=@(args => RowSelectAsync(args))
                        AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced"
                        AllowPaging="true" PageSize="100" AllowSorting="true" ColumnWidth="200px">
                <Columns>
                    <RadzenGridColumn TItem="LogSummaryEntity" TextAlign="TextAlign.Center"
                                      Title=@LocalizationStrings.DeviceControl.TableFieldCreateDt Type="date" Width="15%">
                        <Template Context="logItem">
                            <RadzenDatePicker TValue="string" Value=@logItem.CreateDt Disabled="true" DateFormat="yyyy-MM-dd HH:mm:ss" />
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="LogSummaryEntity" Property="Host" TextAlign="TextAlign.Left"
                                      Title=@LocalizationStrings.DeviceControl.TableFieldHost Type="string" Width="10%" />
                    <RadzenGridColumn TItem="LogSummaryEntity" Property="App" TextAlign="TextAlign.Left"
                                      Title=@LocalizationStrings.DeviceControl.TableFieldApp Type="string" Width="7%" />
                    <RadzenGridColumn TItem="LogSummaryEntity" TextAlign="TextAlign.Center"
                                      Title=@LocalizationStrings.DeviceControl.TableFieldVersion Type="string" Width="6%">
                        <Template Context="logItem">
                            <RadzenLabel Text=@logItem.Version Disabled="true" />
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="LogSummaryEntity" Property="File" TextAlign="TextAlign.Left"
                                      Title=@LocalizationStrings.DeviceControl.TableFieldFile Type="string" Width="10%" />
                    <RadzenGridColumn TItem="LogSummaryEntity" TextAlign="TextAlign.Center"
                                      Title=@LocalizationStrings.DeviceControl.TableFieldRow Type="int" Width="5%">
                        <Template Context="logItem">
                            <RadzenLabel Text=@logItem.Line.ToString() Disabled="true" />
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="LogSummaryEntity" Property="Member" TextAlign="TextAlign.Left"
                                      Title=@LocalizationStrings.DeviceControl.TableFieldMember Type="string" Width="15%" />
                    <RadzenGridColumn TItem="LogSummaryEntity" Property="Icon" TextAlign="TextAlign.Left"
                                      Title=@LocalizationStrings.DeviceControl.TableFieldIcon Type="string" Width="7%" />
                    <RadzenGridColumn TItem="LogSummaryEntity" Property="Message" TextAlign="TextAlign.Left"
                                      Title=@LocalizationStrings.DeviceControl.TableFieldMessage Type="string" Width="25%">
                        <Template Context="logItem">
                            <RadzenLabel Text=@logItem.Message Disabled="false" Style="white-space: pre-wrap;" />
                        </Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>
        }
    </div>
}
else
{
    <RadzenLabel Text=@LocalizationStrings.Share.MenuAccessDeny></RadzenLabel>
}
