@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace DeviceControl.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeviceControl</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <base href="~/"/>

  <link href="favicon.svg" rel="icon">
  <link href="style.css" rel="stylesheet"/>

  <link href="libs/roboto-font.css" rel="stylesheet"/>
  <link href="libs/flowbite/flowbite-v1.5.4.min.css" rel="stylesheet"/>
  <link href="libs/fontawasome/css/all.min.css" rel="stylesheet"/>

  <script src="libs/tailwind/tailwind-v3.3.5.js"></script>
  <script src="libs/tailwind/tailwind.config.js"></script>

  <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
  <link href="_content/Blazorise.Tailwind/blazorise.tailwind.css" rel="stylesheet" />

  <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body class="bg-gray-100 font-['Roboto']">
  <component type="typeof(App)" render-mode="ServerPrerendered"/>

  <div id="blazor-error-ui" class="fixed z-50 bottom-0 left-0 hidden w-full p-2 bg-yellow-300 shadow-md">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss absolute top-2 right-4 cursor-pointer">🗙</a>
  </div>

  <script src="packages/flowbite-v1.5.4.js"></script>
  <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
  <script src="_framework/blazor.server.js"></script>
</body>
</html>
