@using KeycloakBlazor.Source.Utils
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@attribute [Route($"{RouteUtils.TestAuth}")]

<div class="size-full flex items-center justify-center">
  You are authorized
</div>
