@using KeycloakBlazor.Source.Utils
@attribute [Route($"{RouteUtils.Home}")]

<div class="size-full py-5">
  <div class="flex w-fit gap-2 pt-4">
    <a href="@RouteUtils.TestAuth">
      <Button>
        Check auth state
      </Button>
    </a>
    <a href="@RouteUtils.Users">
      <Button>
        Keycloak users
      </Button>
    </a>
  </div>
</div>
