@typeparam TItem
@inherits RazorPageItemBase<TItem>
@page "/item/dates"
@using BlazorCore.Razors
@using BlazorDeviceControl.Razors.Components

<MudPaper Width="100%" Height="32px; " Square=false Color=Color.Transparent>
    <div class="row col-sm-12 col-md-12 col-lg-12" Style="margin-top: 5px; " >
        @if (IdentityId is null && IdentityUid is null && TableAction != SqlTableActionEnum.New)
        {
            <ActionsLoad DataLoadItem=ActionLoadEnum.Loading IsShowProgress=true />
        }
        else
        {
            @if (!string.IsNullOrEmpty(CreateDt))
            {
		        <RadzenLabel Style="margin-top: 3px; text-align: center; width: 24%; height: 25px; font-size: 12px; "
	                Text=@LocaleCore.Table.CreateDt />
		        <RadzenLabel Style="margin-top: 3px; text-align: left; width: 24%; height: 25px; font-size: 12px; "
		                     Text=@CreateDt />
            }
            @if (!string.IsNullOrEmpty(ChangeDt))
            {
		        <RadzenLabel Style="margin-top: 3px; text-align: center; width: 24%; height: 25px; font-size: 12px; "
	                Text=@LocaleCore.Table.ChangeDt />
	            <RadzenLabel Style="margin-top: 3px; text-align: left; width: 24%; height: 25px; font-size: 12px; "
	                Text=@ChangeDt />
            }
        }
    </div>
</MudPaper>
