@using ScalesTablet.Source.Features.AuthSuspense
@inherits LayoutComponentBase

<AuthSuspense>
  <div class="w-screen h-screen overflow-hidden overscroll-none">
    @Body
  </div>
</AuthSuspense>


<FluentDialogProvider />
<FluentToastProvider Position="@ToastPosition.TopCenter" />
