@page "/"
@using WsLocalizationCore.Utils
@inherits ComponentBase


<div class="flex w-full h-full items-center justify-center">
  <div class="text-center text-lg">
    <p>@LocaleCore.DeviceControl.Index</p>
    <p>@LocaleCore.DeviceControl.IndexContinue</p>
  </div>
</div>