@using Blazor.Heroicons.Outline
@using DeviceControl.Source.Shared.Api

<Button
  OnClick="@ReloginUser"
  Variant="ButtonVariantType.Outline"
  Class="@Css.Class("!w-full !justify-start", Class)"
  Disabled="Disabled"
>
  <UserIcon class="size-4 mr-2" />
  @Localizer["FormActionRelogin"]
</Button>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Inject] private IToastService ToastService { get; set; } = default!;
  [Inject] private IKeycloakApi KeycloakApi { get; set; } = default!;

  [Parameter, EditorRequired] public Guid UserUid { get; set; }
  [Parameter] public string Class { get; set; } = string.Empty;
  [Parameter] public bool Disabled { get; set; }

  private async Task ReloginUser()
  {
    try
    {
      await KeycloakApi.LogoutUser(UserUid);
      ToastService.ShowSuccess(Localizer["ToastReloginUser"]);
    }
    catch (Exception e)
    {
      ToastService.ShowError($"Failed to log out user {e.Message}");
    }
  }
}